<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid" >
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Administrar Categoria Habilidades</legend>

                                <div class="container-fluid" style="padding-left: 72%; padding-bottom: 1%; padding-top: 6%;">
                                    <button type="button" style="font-weight: bold;" (click)="openModalHabilidad()" class="btn btn-success btn-lg btn-block">Añadir Categoria
                                      &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div>
                                    <div class="table-responsive-sm" style="font-size: 10px !important;">
                                        <table class="table  table-hover border border-light">
                                            <thead>
                                                <tr>
                                                  <th scope="col" >#</th>
                                                  <th scope="col" >Categoria</th>
                                                  <th scope="col" style="width: 20%;text-align: center;">Acciónes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let est of listaCategoria; let i = index;">
                                                    <th scope="row"> {{((page * pageSize) + i + 1)-pageSize}} </th>
                                                    <td>
                                                        {{est.cthDescripcion}}
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <a title="Editar Registro" class="btn btn-warning"  style="font-size:6px" (click)="abrirEditar(est)">
                                                          <i class="fa fa-edit fa-lg" style="font-size:15px"></i></a>
                                                          &nbsp;
                                                        <a title="Eliminar Registro" class="btn btn-danger" style="font-size:6px" (click)="openEliminarModal(est)">
                                                          <i class="fa fa-trash fa-lg" style="font-size:15px"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
