<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div class="card profile-header p-2 ">
    <!-- <button class="btn btn-warning" (click)="regresarCampeonatoPrincipal(false)">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span class="d-none d-sm-inline-block">Volver</span>
    </button> -->
    <button mat-mini-fab class="btn btn-warning" (click)="regresarCampeonatoPrincipal(false)"
        matTooltip="Regresar Lista Campeonatos" matTooltipPosition="right">
        <mat-icon>exit_to_app</mat-icon>
    </button>
    <h1 class="text-center">SISTEMA GESTIÓN CAMPEONATOS </h1>
    <h2 class="text-center">{{campeonatoSeleccionadoChild.campNombre}} </h2>
    <button class="text-center" mat-raised-button color="primary" matTooltip="Agregar Equipo" matTooltipPosition="above"
        (click)="openDialogFormEquipo(null)"> <span>AGREGAR EQUIPO</span>
        <mat-icon>add </mat-icon>

    </button>

    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-2">
        <!-- Position Column -->
        <ng-container matColumnDef="numero">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                No.
            </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Nombre
            </th>
            <td mat-cell *matCellDef="let element"> {{element.equiNombre}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Descripcion
            </th>
            <td mat-cell *matCellDef="let element"> {{element.equiDescripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="lugar">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Lugar
            </th>
            <td mat-cell *matCellDef="let element"> {{element.equiLugar}} </td>
        </ng-container>
        <ng-container matColumnDef="logo">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Logo
            </th>
            <td mat-cell *matCellDef="let element">
                <img [src]="'data:image/png;base64,' + element.equiLogo" alt="Imagen" width="75px">
            </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>
                Acciones
            </th>
            <td mat-cell *matCellDef="let element">

                <button mat-icon-button color="accent" matTooltip="Editar Equipo" matTooltipPosition="above" (click)="openDialogFormEquipo(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Eliminar Equipo" matTooltipPosition="above" (click)="eliminarEquipo(element)">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombresColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombresColumnas;"></tr>
    </table>
    <div class="pagination">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="paginaActual === 0">
                <a class="page-link" (click)="onPageChange(paginaActual - 1)">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of listaPaginado; let i = index" [class.active]="i === paginaActual">
                <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="paginaActual === paginasTotales - 1">
                <a class="page-link" (click)="onPageChange(paginaActual + 1)">Siguiente</a>
            </li>
        </ul>
    </div>
    
</div>