<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid" >
                            <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Habilidades/Criterios</legend>
                            <label class="pt-2 tituloSistema" for="price"><b> {{nombreInstitucion}} - {{nemonico}} </b></label>
                            <label class="pt-2 subtitulo" for="price"><b> ESCOGER LAS HABILIDADES PARA LA ASIGNATURA ACOMPAÑAMIENTO INTEGRAL EN AULA </b></label>
                            <div class="row justify-content-center">
                                <div class="form-group col-sm-9 col-lg-6">
                                    <div style="padding-top: 6%;">
                                        <div class="table-responsive-sm">
                                            <table class="table  table-hover border border-light">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" >HABILIDADES COGNITIVAS (Se debe escoger 1 habilidad)</th>
                                                        <th scope="col" >ESCOGER</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let paral of listaHabilidadCognitiva; let i = index;">
                                                        <td> {{paral.descripcionHabilidades}} </td>
                                                        <td>
                                                            <input type="checkbox" [(ngModel)]="paral.seleccion" (ngModelChange)="SeleccionCognitiva(paral)" [disabled]="paral.datoBloque === 1" >
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center" *ngIf="datosAlmacenamientoCognitiva.length==1">
                                <div class="form-group col-sm-9 col-lg-6">
                                    <div style="padding-top: 6%;">
                                        <div class="table-responsive-sm">
                                            <table class="table  table-hover border border-light">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" >HABILIDADES SOCIALES (Se debe escoger 3 habilidades)</th>
                                                        <th scope="col" >ESCOGER</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let paral of listaHabilidadSociales; let i = index;">
                                                        <td> {{paral.descripcionHabilidades}} </td>
                                                        <td>
                                                            <input type="checkbox" [(ngModel)]="paral.seleccion" (ngModelChange)="SeleccionSocial(paral)" [disabled]="paral.datoBloque === 1">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center" *ngIf="datosAlmacenamientoSocial.length==3">
                                <div class="form-group col-sm-9 col-lg-6">
                                    <div style="padding-top: 6%;">
                                        <div class="table-responsive-sm">
                                            <table class="table  table-hover border border-light">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" >HABILIDADES EMOCIONALES (Se debe escoger 1 habilidad)</th>
                                                        <th scope="col" >ESCOGER</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let paral of listaHabilidadEmocionales; let i = index;">
                                                        <td> {{paral.descripcionHabilidades}} </td>
                                                        <td>
                                                            <input type="checkbox" [(ngModel)]="paral.seleccion" (ngModelChange)="seleccionEmocional(paral)" [disabled]="paral.datoBloque === 1">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="datosAlmacenamientoEmocional.length==1 && datosAlmacenamientoSocial.length==3"  class="container-fluid" style="padding-left: 72%; padding-bottom: 1%; padding-top: 6%;">
                                <button type="button" style="font-weight: bold;" (click)="guardarHabilidades()" class="btn btn-success btn-lg btn-block">Guardar Habilidades
                                  &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>