<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section>
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Buscar Sub Denominación</h4>
              <div class="row">
                <div class="col-md-6 col-12 mb-1">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        class="btn btn-outline-primary"
                        type="button"
                        rippleEffect
                      >
                        <i data-feather="search"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      (keyup)="applyFilter($event)"
                      placeholder="Buscar"
                      #input
                      aria-label="Amount"
                    />
                  </div>
                </div>

                <div class="col-md-6 col-12 mb-1">
                  <button
                    class="btn btn-primary ml-1 float-right"
                    (click)="nuevaSubDenominacion()"
                    rippleEffect
                  >
                    <i data-feather="plus" class="mr-0 mr-sm-1"></i
                    ><span class="d-none d-sm-inline-block">Nuevo</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Lista de agrupacion-->
    <section>
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Lista de Sub Denominaciones</h4>
              <div class="row">
                <div class="table-responsive">
                  <table
                    mat-table
                    *ngIf="listaSubDenominacion"
                    [dataSource]="dataSource"
                    class="mat-elevation-z8"
                    style="width: 100%"
                  >
                    <!--Nro-->
                    <ng-container matColumnDef="num">
                      <th *matHeaderCellDef style="text-align: center">Nro</th>
                      <td
                        mat-cell
                        *matCellDef="let element; let i = index"
                        style="text-align: center"
                      >
                        {{ i + 1 }}
                      </td>
                    </ng-container>
                    <!--descripcion-->
                    <ng-container matColumnDef="descripcion">
                      <th *matHeaderCellDef style="text-align: center">
                        Descripción
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        style="text-align: center"
                      >
                        {{ element.psdenDescripcion }}
                      </td>
                    </ng-container>
                    <!--nemonico-->
                    <ng-container matColumnDef="denominacion">
                      <th *matHeaderCellDef style="text-align: center">
                        Denominación
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        style="text-align: center"
                      >
                        {{ element.ppeDenominacion.pdenoDescripcion }}
                      </td>
                    </ng-container>
                    <!--Estado-->
                    <ng-container matColumnDef="estado">
                      <th *matHeaderCellDef style="text-align: center">
                        Estado
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        style="text-align: center"
                      >
                        <ng-container *ngIf="element.psdenEstado == '1'">
                          <span class="text-success">ACTIVO</span>
                        </ng-container>
                        <ng-container *ngIf="element.psdenEstado == '0'">
                          <span class="text-danger">INACTIVO</span>
                        </ng-container>
                      </td>
                    </ng-container>
                    <!--Acciones-->
                    <ng-container matColumnDef="acciones">
                      <th *matHeaderCellDef style="text-align: center">
                        Acciones
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element; let i = index"
                        style="text-align: center"
                      >
                        <button
                          title="Editar"
                          (click)="editSubDenominacion(element)"
                          class="btn btn-icon btn-outline-primary"
                          style="margin-left: 2px"
                          [disabled]="element.psdenEstado == '0'"

                        >
                          <i data-feather="edit"></i>
                        </button>
                        <ng-container *ngIf="element.psdenEstado == 1">
                          <button
                            title="Inactivar"
                            (click)="activarInactivar(element)"
                            class="btn btn-icon btn-outline-danger"
                            style="margin-left: 2px"
                          >
                            <i data-feather="x"></i>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="element.psdenEstado == 0">
                          <button
                            title="Activar"
                            (click)="activarInactivar(element)"
                            class="btn btn-icon btn-outline-success"
                            style="margin-left: 2px"
                          >
                            <i data-feather="check"></i>
                          </button>
                        </ng-container>
                      </td>
                    </ng-container>

                    <tr
                      mat-header-row
                      *matHeaderRowDef="columnasSubDenominacion"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: columnasSubDenominacion"
                    ></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">
                        No se ha encontrado resultados para "{{ input.value }}"
                      </td>
                    </tr>
                  </table>
                  <mat-paginator
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  ></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
