<ngx-spinner size="medium" type="{{ 'ball-fussion' }}"></ngx-spinner>
<div class="mi-componente">
    <br>
    <h5 style="text-align: center;" >
        {{cursoSeleccionadoChild.acaMallaAsignatura.acaAsignatura.asiDescripcion}}
        - {{cursoSeleccionadoChild.ofeCurso.nombreGrado}} - PARALELO {{cursoSeleccionadoChild.ofeCursoParalelo.nombreParalelo}}
        - {{cursoSeleccionadoChild.ofeCurso.nombreJornada}}
    </h5>
    <section>
        <div class="container">
            <div class="row mt-2">
                <mat-form-field class="col-md-4  form-group" appearance="outline">
                    <mat-label>Eje Constitutivo</mat-label>
                    <mat-select (selectionChange)="handlerEje($event)" >
                        <mat-option *ngFor="let item of listaEjePorGrado" [value]="item.ejgrCodigo">
                            {{ item.acaEje.ejeDescripcion }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Eje Constitutivo</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </section>
    <section *ngIf="showTable">
        <div style="overflow-x: auto">
            <table mat-table class="mat-elevation-z8 mat-table-responsive " style="margin-left: 20px;"
                   #table [dataSource]="dataSource">
                <ng-container matColumnDef="estudiante">
                    <mat-header-cell *matHeaderCellDef [style.width.px]="500" [style.height.px]="70" class="headerEst">
                        Estudiantes
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" [style.width.px]="500" style="height: 30px;">
                        {{ element.nombre }}
                    </mat-cell>
                </ng-container>
                <ng-container *ngFor="let ejeGrado of listaEjeGrado; let i = index" [matColumnDef]="'eje_' + i">
                    <mat-header-cell *matHeaderCellDef [style.width.px]="200" [style.height.px]="70" class="headerEst">
                        Calificación
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" [style.width.px]="200" style="height: 30px; border: 1px solid #ccc;">
                        <ng-container *ngIf="modgenCodigoChild !== 11; else inputTemplate">
                            <mat-select style="text-align: center; border-color: transparent"
                                        [(ngModel)]="element.calificacion[i].resEscala"
                                        (selectionChange)="handlerEscala($event, element)">

                                <mat-option *ngFor="let escala of rangoEscalas" [value]="escala.resEscala">
                                    {{ escala.resEscala }}
                                </mat-option>
                            </mat-select>
                        </ng-container>
                        <ng-template #inputTemplate>

                            <input [disabled]="true" class="form-control text-center"
                                   [(ngModel)]="element.calificacion[i].resEscala" style="text-align: center; margin-left: 20px;">
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </table>
        </div>
    </section>
    <section>
        <mat-paginator style="background: rgba(0, 0, 0, 0)" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
    </section>
    <section>
        <div style="display: flex; justify-content: end">
            <button type="button" class="btn btn-primary" (click)="guardarOvp()" [disabled]="!tieneRegistros"
                    *ngIf="modgenCodigoChild !== 11">
                Guardar
            </button>
        </div>
    </section>
</div>
