.header {
  background-color: steelblue;
  color: white;
  border: 1px solid #ccc;
  justify-content: center;
  font-size: 12px;
}
.headerEst {
  background-color: steelblue;
  color: white;
  border: 1px solid #ccc;
  justify-content: center;
  font-size: 18px;
}
