<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid" >
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Selección Grados</legend>
                                <label class="pt-2 tituloSistema" for="price"><b> {{nombreInstitucion}} - {{nemonico}} </b></label>
                                <br/><br/>
                                <label class="pt-2 subtitulo" for="price"><b> {{regimen}}  {{anioInicio}} - {{anioFin}} </b></label>
                                <label class="pt-2 subtitulo" for="price"><b> {{nombreLogin}} </b></label>
                                <br/><br/>

                                <div class="row justify-content-center">
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Seleccione Población Objetiva: </b></label>
                                                <div class="input-group">
                                                    <select class="browser-default custom-select"
                                                    name="codigoPoblacion"
                                                    id="codigoPoblacion"
                                                    [(ngModel)]="codigoPoblacion"
                                                    (ngModelChange)="cambioPoblacion($event)" required>
                                                <option *ngFor="let item of listaPoblacionObjetiva" [ngValue]="item">
                                                    {{item.pbObjtDescripcion}}
                                                </option>
                                                    </select>
                                                </div>

                                    </div>
                                </div>

                                <br/><br/>
                                <div>
                                    <div class="table-responsive-sm" style="font-size: 10px !important;">
                                        <table class="table  table-hover border border-light">
                                            <thead>
                                                <tr>
                                                    <th scope="col" >#</th>
                                                    <th scope="col" >Nivel</th>
                                                    <th scope="col" >Figura Profesional</th>
                                                    <th scope="col" >Especialidad</th>
                                                    <th scope="col">Seleccion de Grados</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let est of objetoPermisosFiltro; let i = index;">
                                                    <th scope="row"> {{((page * pageSize) + i + 1)-pageSize}} </th>
                                                    <th scope="row"> {{est.nivelDescripcion}} </th>
                                                    <th scope="row"> {{est.descripcionFiguraPro}} </th>
                                                    <th scope="row"> {{est.descripcionEspecialidad}} </th>
                                                    <td style="text-align: center;">
                                                        <a title="Editar Registro" class="btn btn-warning"  style="font-size:6px" (click)="seleccionarGrado(est)">
                                                          <i class="fa fa-edit fa-lg" style="font-size:15px"></i></a>
                                                          &nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>