<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row" *ngIf="tipoAsistencia == 'POR_HORARIO'">
                                <div class="col-md-2 col-12 mb-1">
                                    <h6 class="card-title">Fecha Inicio</h6>
                                    <div class="input-group" *ngIf="etapaServicioEducativo != null || etapaServicioEducativo != undefined">
                                        <input type="date" [(ngModel)]="fechaInicio" class="form-control" 
                                        [(min)]="etapaServicioEducativo.etseedFechaInicio" [(max)]="etapaServicioEducativo.etseedFechaFin"
                                        (change)="limpiarDatosConFechaInicio()"/>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 mb-1">
                                    <h6 class="card-title">Fecha Fin</h6>
                                    <div class="input-group" *ngIf="etapaServicioEducativo != null || etapaServicioEducativo != undefined">
                                        <input type="date" [(ngModel)]="fechaFin" class="form-control" 
                                        [(min)]="fechaInicio" [(max)]="etapaServicioEducativo.etseedFechaFin" [disabled]="fechaInicio == null || fechaInicio == undefined"
                                        (change)="limpiarDatosConFechaFin()"/>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12 mb-1">
                                    <h6 class="card-title">Asignatura</h6>
                                    <div class="input-group">
                                        <select name="regimenAnioLectivo" [(ngModel)]="mallaAsignatura" class="form-control" title="buscar por regimen año lectivo"
                                        (change)="obtenerAsistenciaEstudiantesMatriculados(mallaAsignatura.maasiexCodigo)">
                                            <option *ngFor="let op of listaMallaAsignatura" [ngValue]="op">
                                                {{op.asiDescripcion}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12 mb-1">
                                    <h6 class="card-title">Estudiante</h6>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                        placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 mb-1">
                                    <div class="input-group">
                                        <button class="btn btn-warning ml-1 float-right" (click)="volverJustificarAsistenciaPeriodo()">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                            <span class="d-none d-sm-inline-block">Volver</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="tipoAsistencia == 'POR_DIA'">
                                <div class="col-md-4 col-12 mb-1">
                                    <h6 class="card-title">Mes</h6>
                                    <div class="input-group">
                                        <select name="mes" [(ngModel)]="mes" class="form-control" title="Seleccione el mes"
                                        (change)="obtenerFaltasAsistenciaDiaEstudiantesMatriculados()">
                                            <option *ngFor="let op of listaMes" [ngValue]="op">
                                                {{op.meDescripcion}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12 mb-1">
                                    <h6 class="card-title">Estudiante</h6>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilterDia($event)" 
                                        placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-12 mb-1">
                                    <div class="input-group">
                                        <button class="btn btn-warning ml-1 float-right" (click)="volverJustificarAsistenciaPeriodo()">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                            <span class="d-none d-sm-inline-block">Volver</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-template #modalForm let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Justificar Falta Asistencia</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmJustificarAsistenciaCreateEdit>
                    <div class="row form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" required placeholder="Marke la casilla" id="jstAsis"
                            formControlName="asisJustificacion" 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmJustificarAsistenciaCreateEdit.asisJustificacion.errors }">
                            <label class="form-check-label" for="jstAsis">
                                Justificar Asistencia
                            </label>
                            <div *ngIf="submitted && ReactiveFrmJustificarAsistenciaCreateEdit.asisJustificacion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmJustificarAsistenciaCreateEdit.asisJustificacion.errors.required">Marcar la casilla es necesario </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="input-group col-sm-12">
                            <textarea class="form-control" required placeholder="Ingrese la Observación" 
                            formControlName="asisObservacion" 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmJustificarAsistenciaCreateEdit.asisObservacion.errors }"
                            rows="5" [disabled]="this.frmJustificarAsistenciaCreateEdit.get('asisJustificacion').value == true"></textarea>
                            <div *ngIf="submitted && ReactiveFrmJustificarAsistenciaCreateEdit.asisObservacion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmJustificarAsistenciaCreateEdit.asisObservacion.errors.required">La Observación es necesario </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="guardarAsistencia(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>
        <ng-template #modalFormDia let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Justificar Falta Asistencia</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmJustificarAsistenciaCreateEdit>
                    <div class="row form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" required placeholder="Marke la casilla" id="jstAsis"
                            formControlName="asdiJustificacion" 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmJustificarAsistenciaCreateEdit.asdiJustificacion.errors }">
                            <label class="form-check-label" for="jstAsis">
                                Justificar Asistencia
                            </label>
                            <div *ngIf="submitted && ReactiveFrmJustificarAsistenciaCreateEdit.asdiJustificacion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmJustificarAsistenciaCreateEdit.asdiJustificacion.errors.required">Marcar la casilla es necesario </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="input-group col-sm-12">
                            <textarea class="form-control" required placeholder="Ingrese la Observación" 
                            formControlName="asdiObservacion" 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmJustificarAsistenciaCreateEdit.asdiObservacion.errors }"
                            rows="5" [disabled]="this.frmJustificarAsistenciaCreateEdit.get('asdiJustificacion').value == true"></textarea>
                            <div *ngIf="submitted && ReactiveFrmJustificarAsistenciaCreateEdit.asdiObservacion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmJustificarAsistenciaCreateEdit.asdiObservacion.errors.required">La Observación es necesario </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="guardarAsistenciaDia(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de Justificación de Asistencia</h4>
                            <div class="row">
                                <div class="table-responsive" *ngIf="tipoAsistencia == 'POR_HORARIO'" >
                                    <table mat-table *ngIf="listaAsistenciaMatricula" [dataSource]="dataSource"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef mat-header-cell style="text-align:center; " fxFlex="20%"> Nro&nbsp; </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ; vertical-align: middle;" fxFlex="20%">{{i+1}}&nbsp;</td>
                                        </ng-container>
                                        <ng-container matColumnDef="identificacion">
                                            <th *matHeaderCellDef mat-header-cell style="text-align:center;" fxFlex="40%">Identificación</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center; " fxFlex="40%">
                                                {{element.estIdentificacion}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="apellido-nombre" sticky>
                                            <th *matHeaderCellDef mat-header-cell style="text-align:center;" fxFlex="310px"> Apellidos y Nombres</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" class="align-middle" fxFlex="310px">
                                                {{element.apellidoEstudiante!=null?element.apellidoEstudiante:''+' '+element.nombreEstudiante}}
                                            </td>
                                        </ng-container>
                                        <ng-container *ngFor="let op of listaAsistencia" [matColumnDef]="op.fechaNombre">
                                            <th *matHeaderCellDef mat-header-cell style="text-align:center;" fxFlex="100px">
                                                <div class="w-100">{{op.dia}}</div>
                                                <div class="w-100">{{op.fechaNombre}}</div>
                                                <div class="w-100">{{op.horario}}</div>
                                            </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" fxFlex="100px">
                                                <ng-container *ngFor="let asis of element.asistencias">
                                                    <ng-container *ngIf="asis.fechaNombre == op.fechaNombre">
                                                        <ng-container *ngIf="asis.asisJustificacion == true;">
                                                            <button (click)="justificarFaltaAsistencia(modalForm,asis)" title="Justificado"
                                                                    class="btn btn-icon btn-outline-success"><i data-feather="check"></i></button>
                                                        </ng-container>
                                                        <ng-container *ngIf="asis.asisJustificacion == false;">
                                                            <button (click)="justificarFaltaAsistencia(modalForm,asis)" title="Justificar"
                                                                    class="btn btn-icon btn-outline-danger"><i data-feather="x"></i></button>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columnasAsistencia"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasAsistencia;"></tr>
                                    </table>
                                </div>
                                <div class="table-responsive" *ngIf="tipoAsistencia == 'POR_DIA'" style="align-items: center;">
                                    <table mat-table *ngIf="listaAsistenciaMatriculaDia" [dataSource]="dataSourceDia"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef mat-header-cell style="text-align:center; " fxFlex="20%"> Nro&nbsp; </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ; vertical-align: middle;" fxFlex="20%">{{i+1}}&nbsp;</td>
                                        </ng-container>
                                        <ng-container matColumnDef="identificacion">
                                            <th *matHeaderCellDef mat-header-cell style="text-align:center;" fxFlex="40%">Identificación</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center; " fxFlex="40%">
                                                {{element.estIdentificacion}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="apellido-nombre" sticky>
                                            <th *matHeaderCellDef mat-header-cell style="text-align:center;" fxFlex="310px"> Apellidos y Nombres</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" class="align-middle" fxFlex="310px">
                                                {{element.apellidoEstudiante!=null?element.apellidoEstudiante:''+' '+element.nombreEstudiante}}
                                            </td>
                                        </ng-container>
                                        <ng-container *ngFor="let op of listaAsistenciaDia" [matColumnDef]="op.fechaNombre">
                                            <th *matHeaderCellDef mat-header-cell style="text-align:center;" fxFlex="100px">
                                                <div class="w-100">{{op.dia}}</div>
                                                <div class="w-100">{{op.fechaNombre}}</div>
                                            </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" fxFlex="100px">
                                                <ng-container *ngFor="let asdi of element.asistenciasDias">
                                                    <ng-container *ngIf="asdi.fechaNombre == op.fechaNombre">
                                                        <ng-container *ngIf="asdi.asdiJustificacion == true;">
                                                            <button (click)="justificarFaltaAsistenciaDia(modalFormDia,asdi)" title="Justificado"
                                                                    class="btn btn-icon btn-outline-success"><i data-feather="check"></i></button>
                                                        </ng-container>
                                                        <ng-container *ngIf="asdi.asdiJustificacion == false;">
                                                            <button (click)="justificarFaltaAsistenciaDia(modalFormDia,asdi)" title="Justificar"
                                                                    class="btn btn-icon btn-outline-danger"><i data-feather="x"></i></button>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columnasAsistencia"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasAsistencia;"></tr>
                                    </table>
                                </div>
                                <div class="col-sm-12">
                                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>