<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid" >
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Asignación Tutores</legend>
                                <label class="pt-2 tituloSistema" for="price"><b> {{nombreInstitucion}} - {{nemonico}} </b></label>
                                <br/><br/>
                                <label class="pt-2 subtitulo" for="price"><b> Establecimiento: Matriz </b></label>
                                <label class="pt-2 subtitulo" for="price"><b> {{nombreLogin}} </b></label>
                                <br/><br/>
                                <div class="row justify-content-center">
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Seleccione Jornada: </b></label>
                                                <div class="input-group">
                                                    <select class="browser-default custom-select"
                                                    name="codigoJornada"
                                                    id="codigoJornada"
                                                    [(ngModel)]="codigoJornada"
                                                    (ngModelChange)="cambioJornada($event)" required>
                                                <option *ngFor="let item of listaJornada" [ngValue]="item.jorCodigo">
                                                    {{item.jorNombre}}
                                                </option>
                                                    </select>
                                                </div>

                                    </div>
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Seleccione Grados: </b></label>
                                                <div class="input-group">
                                                    <select class="browser-default custom-select"
                                                    [(ngModel)]="seleccionGrados"
                                                    (ngModelChange)="cambioGrado($event)" required>
                                                <option *ngFor="let item of listaGrados" [ngValue]="item">
                                                    {{item.graNemonico}}
                                                </option>
                                                    </select>
                                                </div>
                                    </div>
                                </div>

                                <br/><br/>
                                <div>
                                    <div class="table-responsive-sm" style="font-size: 10px !important;">
                                        <table class="table  table-hover border border-light">
                                            <thead>
                                                <tr>
                                                    <th scope="col" >Grado</th>
                                                    <th scope="col" >Paralelo</th>
                                                    <th scope="col" >Tutor</th>
                                                    <th scope="col">Jornada</th>
                                                    <th scope="col">Docentes</th>
                                                    <th scope="col">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let est of ListaMenuFiltro; let i = index;">
                                                    <th scope="row"> {{est.nombreGrado}} </th>
                                                    <th scope="row"> {{est.nombreParalelo}} </th>
                                                    <th scope="row">
                                                        <a title="Editar Registro" class="btn btn-warning" (click)="asignarTutor(est)">
                                                            ASIGNACIÓN </a>
                                                          &nbsp;
                                                    </th>
                                                    <th scope="row"> {{est.nombreJornada}} </th>
                                                    <th scope="row"> {{est.nombreDocente}} </th>
                                                    <td style="text-align: center;">
                                                          <a title="Eliminar Registro" class="btn btn-danger" style="font-size:6px" *ngIf="est.nombreDocente != null" (click)="openEliminarModal(est)">
                                                            <i class="fa fa-trash fa-lg" style="font-size:15px"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="container-fluid" style="padding-left: 72%; padding-bottom: 1%; padding-top: 6%;">
                                    <button type="button" style="font-weight: bold;" *ngIf="codigoJornada != null" (click)="generarReporte()" class="btn btn-success btn-lg btn-block">Generar Reporte
                                      &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>