<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Calificación Nivel</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                            placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-1">
                                    <button class="btn btn-primary ml-1 float-right" 
                                    (click)="nuevaCalificacionNivel(modalForm)"
                                        rippleEffect>
                                            <i data-feather="plus" class="mr-0 mr-sm-1"></i
                                            ><span class="d-none d-sm-inline-block">Nuevo</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-template #modalForm let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Calificación Nivel</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmCalificacionNivelCreateEdit>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Modelo Calificación: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionModeloCalificacion" formControlName="calCodigo" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmCalificacionNivelCreateEdit.calCodigo.errors }" class="form-control selectpicker" id="selectModeloCalificacion" #t>
                                <option *ngFor="let op of listaModeloCalificacion" [value]="op.calCodigo" >
                                    {{op.calDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmCalificacionNivelCreateEdit.calCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmCalificacionNivelCreateEdit.calCodigo.errors.required">El modelo de calificación es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Nivel: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionNivel" formControlName="nivCodigo" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmCalificacionNivelCreateEdit.nivCodigo.errors }" class="form-control selectpicker" id="selectNivel" #t>
                                <option *ngFor="let op of listaNivel" [value]="op.nivCodigo" >
                                    {{op.nivDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmCalificacionNivelCreateEdit.nivCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmCalificacionNivelCreateEdit.nivCodigo.errors.required">El nivel es necesario </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="guardarCalificacionNivel(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>

        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de Calificación Nivel </h4>
                            <div class="row">
                                <div class="table-responsive">
                                    <table mat-table *ngIf="listaCalificacionNivel" [dataSource]="dataSource"
                                    class="mat-elevation-z8" style="width: 100%;">

                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center ;" > Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ;"> {{i+1}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="mod-calificacion">
                                            <th *matHeaderCellDef style="text-align:center ;"> Mod. Calificación</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.calDescripcion}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="nivel">
                                            <th *matHeaderCellDef style="text-align:center ;"> Nivel</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.nivDescripcion}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="estado">
                                            <th *matHeaderCellDef style="text-align:center ;" > Estado </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center ;">
                                                <ng-container *ngIf="element.calnivEstado=='1';">
                                                    <span class="text-success">ACTIVO</span>
                                                </ng-container>
                                                <ng-container *ngIf="element.calnivEstado=='0';">
                                                    <span class="text-danger">INACTIVO</span>
                                                </ng-container>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="acciones">
                                            <th *matHeaderCellDef style="text-align:center ;"> Acciones </th>
                                            <td mat-cell *matCellDef="let element;let i = index"
                                              style="text-align:center ;">

                                                <button title="Editar" (click)="editarCalificionNivel(modalEdit,element)"
                                                class="btn btn-icon btn-outline-primary"
                                                style="margin-left: 2px;" >
                                                    <i data-feather="edit"></i>
                                                </button>

                                                <ng-container *ngIf="element.calnivEstado==1;">
                                                    <button title="Inactivar" (click)="activarInactivar(element)"
                                                    class="btn btn-icon btn-outline-danger"
                                                    style="margin-left: 2px;" >
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </ng-container>

                                                <ng-container *ngIf="element.calnivEstado==0;">
                                                    <button title="Activar" (click)="activarInactivar(element)"
                                                    class="btn btn-icon btn-outline-success"
                                                    style="margin-left: 2px;" >
                                                        <i data-feather="check"></i>
                                                    </button>
                                                </ng-container>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="columnasCalificacionNivel"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasCalificacionNivel;"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <ng-template #modalEdit let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Calificación Nivel</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmCalificacionNivelCreateEdit>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Modelo Calificación: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionModeloCalificacion" formControlName="calCodigo" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmCalificacionNivelCreateEdit.calCodigo.errors }" class="form-control selectpicker" id="selectModeloCalificacion" #t>
                                <option *ngFor="let op of listaModeloCalificacion" [value]="op.calCodigo" >
                                    {{op.calDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmCalificacionNivelCreateEdit.calCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmCalificacionNivelCreateEdit.calCodigo.errors.required">El modelo de calificación es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Nivel: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionNivel" formControlName="nivCodigo" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmCalificacionNivelCreateEdit.nivCodigo.errors }" class="form-control selectpicker" id="selectNivel" #t>
                                <option *ngFor="let op of listaNivel" [value]="op.nivCodigo" >
                                    {{op.nivDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmCalificacionNivelCreateEdit.nivCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmCalificacionNivelCreateEdit.nivCodigo.errors.required">El nivel es necesario </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="actualizarCalificacionNivel(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>
    </div>
</div>