<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="">
    <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2 ">
        <div class="mb-1">
            <div class="input-group">
                <button class="btn btn-warning" (click)="volverSeleccionOferta()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline-block">Volver</span>
                </button>
            </div>
        </div>
        <div class="form-group mb-2 row">
            <h3 for="poblacionObjetivo" class="col-2">Establecimiento</h3>
            <select name="establecimiento" [(ngModel)]="establecimiento" class="form-control select col-4"
                (ngModelChange)="validarEstablecimiento()">
                <option *ngFor="let item of informacionEstablecimientoChild" [ngValue]="item.insestCodigo">
                    {{nombreInstitucion}} - {{item.nombreTipo}}
                </option>
            </select>
            <h3 *ngIf="especialidad" for="especialidad" class="col-2">Especialidad</h3>
            <h3 *ngIf="especialidad">{{nivelCruceSeleccionadoChild.especialidad.espDescripcion}}</h3>
            <!-- <select *ngIf="listaEspecialidad.length>0" name="especialidad" [(ngModel)]="especialidad"
                class="form-control select col-4" (ngModelChange)="validarEspecialidad()">
                <option *ngFor="let item of listaEspecialidad" [ngValue]="item">
                    {{item.espDescripcion}}
                </option>
            </select> -->
        </div>
        <div class="form-group mb-5 row">
            <h3 *ngIf="listaJornada.length>0" for="especialidad" class="col-2">Jornada</h3>
            <select *ngIf="listaJornada.length>0" name="jornada" [(ngModel)]="jornada" class="form-control select col-4"
                (ngModelChange)="filtrarPorJornada(jornada.jorCodigo)">
                <option *ngFor="let item of listaJornada" [ngValue]="item">
                    {{item.jorNombre}}
                </option>
            </select>
        </div>
        <h3 for="poblacionObjetivo">{{nivelCruceSeleccionadoChild.nivel.nivDescripcion}}</h3>
        <div *ngIf="listaGradoOfertaCombinada.length>0" class="form-group mb-1 row">
            <h3 for="grado" class="col-2">Filtro grado</h3>
            <select *ngIf="listaJornada.length>0" name="grado" [(ngModel)]="gradoFiltro"
                class="form-control select col-4" (ngModelChange)="applyFilter(gradoFiltro.graDescripcion)">
                <option *ngFor="let item of listaNombreGrados" [ngValue]="item">
                    {{item.graDescripcion}}
                </option>
            </select>
        </div>


        <div class="table-responsive">
            <table class="mat-elevation-z8" mat-table  width="100%"
                [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="gradoDescripcion">
                    <th *matHeaderCellDef style="text-align:center ;" width="200px" mat-sort-header> Nombre Grado
                    </th>
                    <td mat-cell *matCellDef="let elemento"> {{elemento.graDescripcion}}</td>
                </ng-container>
                <ng-container matColumnDef="paralelo">
                    <th *matHeaderCellDef style="text-align:center ;" width="200px" mat-sort-header> Nombre Paralelo
                    </th>
                    <td mat-cell *matCellDef="let elemento" style="text-align:center ;"> {{elemento.nombreParalelo}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="jornada">
                    <th *matHeaderCellDef style="text-align:center ;" width="200px" mat-sort-header> Nombre Jornada
                    </th>
                    <td mat-cell *matCellDef="let elemento" style="text-align:center ;"> {{elemento.objetoJornada?.jorNombre}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="asignaturas">
                    <th *matHeaderCellDef style="text-align:center ;" width="200px" mat-sort-header> Asignatura
                    </th>
                    <td mat-cell *matCellDef="let elemento">
                        <mat-form-field *ngIf="datoVisual == 2 ">
                            <mat-label>Asignaturas</mat-label>
                                <mat-select  [(ngModel)]="elemento.listaAsignaturasSeleccionadas"
                                [compareWith]="compararMalla" multiple>
                                <mat-option *ngFor="let malla of elemento.listaMalla" [value]="malla"> 
                                    {{malla.acaAsignatura?.asiDescripcion }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="datoVisual == 1">
                            <mat-label>Asignaturas</mat-label>
                            <mat-select [(ngModel)]="elemento.listaAsignaturasSeleccionadas" [compareWith]="compararMalla" multiple>
                                <mat-option *ngFor="let malla of elemento.listaMalla"[value]="malla"> 
                                    {{malla.acaAsignaturaPrepa?.apreDescripcion }}  </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th *matHeaderCellDef style="text-align:center ;" width="200px" mat-sort-header> Acciones
                    </th>
                    <td mat-cell *matCellDef="let elemento" style="text-align:center ;">
                        <button title="Guardar" class="btn btn-icon btn-outline-primary"
                            (click)="guardarIndividual(elemento)" style="margin-left: 2px;">
                            <mat-icon>save</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSize]="10" ></mat-paginator>
        </div>
    </div>

</div>