<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid" >
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Reporte Asignatura</legend>
                                <div class="row justify-content-center">
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Nivel: </b></label>
                                    <div class="input-group">
                                        <select class="form-control selectpicker" id="codigoNivel" name="codigoNivel" [(ngModel)]="codigoNivel" (ngModelChange)="seleccionNivel($event)" #t>
                                            <option *ngFor="let item of listaNiveles" [ngValue]="item.nivCodigo" >
                                                {{item.nivDescripcion}}
                                            </option>
                                        </select>
                                    </div> 
                                    </div>
                                    <div class="form-group col-sm-9 col-lg-6">

                                        <div *ngIf="codigoNivel === 8">
                                            <label class="pt-2" for="selectPrograma"><b>Selección Figura Profesional:</b></label>
                                            <div class="input-group">
                                              <select name="codigoFiguraProfesional" required placeholder="Seleccione la figura Profesional" [(ngModel)]="codigoFiguraProfesional" 
                                              class="form-control selectpicker mr-sm-2" id="codigoFiguraProfesional" (ngModelChange)="seleccionFiguraPro($event)">
                                              <option value="0">
                                                ----SELECCIONE----
                                              </option>
                                                <option *ngFor="let op of getFiguraProfesionalFiltrados()" [value]="op.figproCodigo">
                                                  {{op.figproDescripcion}}
                                                </option>
                                              </select>
                                              <div class="valid-feedback"></div>
                                              <div class="invalid-feedback">Por favor seleccione una opción.</div>
                                            </div>
                                          </div>

                                    </div>
                                    
                                </div>

                                <div class="row justify-content-center">
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <div *ngIf="codigoNivel === 8 && codigoFiguraProfesional != null">
                                            <label class="pt-2" for="selectPrograma"><b>Selección Especialidad:</b></label>
                                            <div class="input-group">
                                              <select name="codigoEspecialidades" required placeholder="Seleccione la Especialidad" [(ngModel)]="codigoEspecialidades" 
                                              class="form-control selectpicker mr-sm-2" id="codigoEspecialidades" (ngModelChange)="seleccionEspecialidad($event)">
                                              <option value="0">
                                                ----SELECCIONE----
                                              </option>
                                                <option *ngFor="let op of listaEspecialidad" [value]="op.espCodigo">
                                                  {{op.espDescripcion}}
                                                </option>
                                              </select>
                                              <div class="valid-feedback"></div>
                                              <div class="invalid-feedback">Por favor seleccione una opción.</div>
                                            </div>
                                          </div>
                                    </div>
                                </div>

                                <br/>
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <ng-container  *ngFor="let item of listaGrados">
                                            <div  class="form-check mb-2">
                                                <label class="form-check-label">
                                                    <input class="form-check-input"
                                                    [checked]="estudiantesSeleccionados.includes(item)"
                                                    (change)="toggleCheckbox(item)" 
                                                    type="checkbox" name="estudiantes[]"
                                                     value="{{ item.graCodigo }}">
                                                    {{ item.graNemonico }}
                                                </label>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="container-fluid" style="padding-left: 72%; padding-bottom: 1%; padding-top: 6%;">
                                    <button type="button" *ngIf="estudiantesSeleccionados.length > 0" style="font-weight: bold;" (click)="generarReporte()" class="btn btn-success btn-lg btn-block">Generar Reporte
                                      &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
