<ngx-spinner size="medium" type="{{ 'ball-fussion' }}"></ngx-spinner>
<div class="mi-componente">
  <section *ngIf="showTable">
    <div style="overflow-x: auto">
      <table
        mat-table
        #table
        [dataSource]="dataSource"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="estudiante">
          <mat-header-cell
            *matHeaderCellDef
            [style.width.px]="500"
            [style.height.px]="200"
            class="headerEst"
          >
            Estudiantes
          </mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            [style.width.px]="500"
            style="height: 30px;"
            >
            {{ element.nombre }}
          </mat-cell>
        </ng-container>
        
        <ng-container
          *ngFor="let destreza of listaDestrezasChild; let i = index"
          [matColumnDef]="'des_' + i"
          >
          {{destreza.desCodigo}}
          <mat-header-cell
          *matHeaderCellDef
          [style.width.px]="200"
          [style.height.px]="200"
          class="header"
          >
          {{ destreza.desDescripcion }}
        </mat-header-cell>
        <mat-cell
        *matCellDef="let element"
        [style.width.px]="200"
        style="height: 30px; border: 1px solid #ccc;"
        >
        <mat-form-field class="col-md-12 form-group">
              <!-- {{ element.destrezas[i].desCodigo }} -->
              <mat-select
                style="text-align: center; border-color: transparent"
                [(ngModel)]="element.destrezas[i].resEscala"
                (selectionChange)="handlerEscala($event, element)"
              >
                <mat-option
                  *ngFor="let escala of rangoEscalas"
                  [value]="escala.resEscala"
                >
                  {{ escala.resEscala }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
    </div>
  </section>
  <section>
    <mat-paginator
      style="background: rgba(0, 0, 0, 0)"
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </section>
  <section>
    <div style="display: flex; justify-content: end">
      <button
        type="button"
        class="btn btn-primary"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </section>
</div>
