table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-grid-list-centered {
    display: flex;
    justify-content: center;
  }
  .fecha-card {
    width: 100%;
    padding: 0%;
    color: white;
  }
  .fecha-card .label{
    color: white;
  }
  .fecha-titulo{
    background: linear-gradient(118deg, #014ba0, rgba(1, 75, 160, 0.7));
    box-shadow: 0 0 10px 1px rgba(1, 75, 160, 0.7);
    border-radius: 4px;
    z-index: 1;
  }
  .fecha-card mat-card{
    background-color: transparent;
    
  }
  .divTarjeta{
   border: 1px solid black; margin: 10px;
  }
  .botonDisenio{
    background: linear-gradient(118deg, #014ba0, rgba(1, 75, 160, 0.7));
    box-shadow: 0 0 10px 1px rgba(1, 75, 160, 0.7);
    border-radius: 4px;
    z-index: 1;
  }