<div class="card profile-header p-2 ">
    <div class="card profile-header p-2">
        <mat-grid-list cols="3"  class="mat-grid-list-centered" >
            <mat-grid-tile *ngFor="let fecha of listaPartidos; let i = index">
                <mat-card class="fecha-card text-center" style=" border: 1px solid black; margin: 10px;">
                    <mat-card-title class="fecha-titulo">Fecha - {{ i + 1 }}</mat-card-title>

                    <div *ngFor="let partido of fecha" class="row align-items-center"
                        style=" border: 1px solid black; margin: 10px;">
                        <div class="col-8 d-flex justify-content-center align-items-center">
                            <mat-card style="margin: 10px;width: 100%;">
                                <mat-card-content class="text-center">
                                    {{ partido.equipoLocal.equiNombre }}
                                </mat-card-content>
                                <mat-card-content class="text-center">
                                    VS
                                </mat-card-content>
                                <mat-card-content class="text-center">
                                    {{ partido.equipoVisitante.equiNombre }}
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                                    <button mat-mini-fab extended class="botonDisenio" style="margin: 10px;">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                        </div>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
<!-- 
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile *ngFor="let fecha of listaPartidos; let i = index">
            <mat-card class="fecha-card">
                <mat-card-header>
                    <mat-card-title>Fecha - {{ i + 1 }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div *ngFor="let partido of fecha" class="partido-div">
                        <mat-card class="partido-card">
                            <mat-card-content>
                                <button mat-mini-fab class="btn btn-warning" matTooltip="Marcador"
                                    matTooltipPosition="right">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                {{ partido.equipoLocal.equiNombre }} VS {{ partido.equipoVisitante.equiNombre }}
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list> -->
</div>