<form #f="ngForm">
  <div class="modal-header">
    <h5 class="modal-title">Asignacion Justificacion</h5>
      <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  
      <div id="user-profile">
          <!-- profile header -->
          <div class="row">
            <div class="col-12">
              <div class="card profile-header mb-2 was-validated">
                  <div class="container-fluid ">
                                    
                      <div class="row justify-content-center">
                        <div class="form-group col-sm-9 col-lg-6">
                          <label class="pt-2" for="selectPrograma"><b>Selección Tipo Asistencia:</b></label>
                          <div class="input-group">
                            <select name="codigoJustificacion" required placeholder="Seleccione una asistencia" [(ngModel)]="codigoJustificacion" 
                            class="form-control selectpicker mr-sm-2 eleccionDocente" (ngModelChange)="cambioJustificacion($event)" id="codigoJustificacion" >
                              <option [value]=1 >
                                Justificado
                              </option>
                              <option [value]=2 >
                                Injustificado
                              </option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Por favor seleccione una opción.</div>
                          </div>
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <div class="form-group col-sm-9 col-lg-6">
                          <label class="pt-2" for="selectPrograma"><b>Observacion:</b></label>
                          <div class="input-group">
                            <textarea class="form-control" id="observacionFalta" name="observacionFalta" [(ngModel)]="observacionFalta" rows="5"></textarea>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Esta opcion no es obligatoria.</div>
                          </div>
                        </div>
                      </div>

                  </div>
              </div>
            </div>
          </div>
      </div>
  
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="(codigoJustificacion===0)" (click)="closeModal('ok')">Aceptar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('cancel')">Cancelar</button>
  </div>
  </form>
