<div fxLayout="column" fxLayoutAlign="space-around stretch" class="card profile-header">
  <form>
    <table class="table table-striped tablaSeleccionServicio">
      <tr>
      <td class="titulosSelectivos">
          Nivel Educativo: 
      </td>
      <td>

        <select disabled *ngIf="acumularCursos.length == 0 && equivalenciasAcumuladas.length == 0 && equivalenciasAcumuladasIntensivas.length == 0" name="serivicoEducativo" [(ngModel)]="serivicoEducativo" class="form-control select"
        (ngModelChange)="onCambioServicio($event)">
          <option>--------------------------------------------</option>
        </select>

        <select *ngIf="acumularCursos.length > 0 || equivalenciasAcumuladas.length > 0 || equivalenciasAcumuladasIntensivas.length > 0" name="serivicoEducativo" [(ngModel)]="serivicoEducativo" class="form-control select"
                  (ngModelChange)="onCambioServicio($event)">
                <option [ngValue]="3">
                  EDUCACION BASICA SUPERIOR
                </option>
                <option [ngValue]="4">
                  BACHILLERATO
                </option>
            </select>
      </td>
      <td>
        <select class="form-control selectModalidad" [(ngModel)]="intensividad" name="intensividad" [disabled]="serivicoEducativo == null"  (ngModelChange)="onCambioIntensivo($event)" >
          <option [value]="1">
            Intensivo
          </option>
          <option [value]="2">
            No Intensivo
          </option>
        </select>
      </td>
      <td class="titulosSelectivos poscicionModalidad">
        Nivel: 
      </td>
      <td>
        <select class="form-control selectNivel" [(ngModel)]="especializacion" name="especializacion" [disabled]="serivicoEducativo == null || intensividad == null || serivicoEducativo == '3'"  (ngModelChange)="onCambioTecnico($event)" >
          <option [value]="1" *ngIf="intensividad=='2' && serivicoEducativo=='4'">
            Técnico
          </option>
          <option [value]="2">
            Ciencias
          </option>
        </select>
      </td>
  </tr>
</table>

  <div fxLayout="column" fxLayoutAlign="space-around none" class="contenedorOfertas">

    <div class="modulo" *ngIf="serivicoEducativo == '3' && intensividad == '1'">
      <div *ngFor="let item of servicioEGBIntensivo" class="letraModulo">
        <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graequDescripcion}} </mat-checkbox>
        <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoServicio">
          <mat-checkbox class="example-margin letraModulo" *ngIf="datos.ServicioSeleccion==item.sereduCodigo" color="primary" [value]="datos.cupaextSeleccion.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.cupaextSeleccion.cupaexCodigo,item.sereduCodigo): quitarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo)"> {{datos.cupaextSeleccion.nombreParalelo }} </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="modulo" *ngIf="serivicoEducativo=='3' && intensividad=='1'">
      <div *ngFor="let item of servicioEGBIntensivo" class="letraModulo">
        <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graequDescripcion}} </mat-checkbox>
        <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoServicio">
          <mat-checkbox class="example-margin letraModulo" *ngIf="datos.ServicioSeleccion==item.sereduCodigo" color="primary" [value]="datos.cupaextSeleccion.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo): quitarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo)"> {{datos.cupaextSeleccion.nombreParalelo}} </mat-checkbox>
          <div class="datosMateria" *ngFor="let materia of materiasMostrar">
            <div *ngFor="let datosMateria of materia.datosMaterias" class="materiaPoscicion">
              <mat-checkbox class="example-margin letraModulo" *ngIf="materia.codParalelo==datos.cupaextSeleccion.cupaexCodigo && materia.codServicio==item.sereduCodigo" color="primary" [value]="datosMateria.asiCodigo" (change)="$event.checked ? agregarMateria(datosMateria.maasiexCodigo, item.sereduCodigo, materia.codParalelo): quitarMateria(datosMateria.asiCodigo, item.sereduCodigo, materia.codParalelo)"> {{datosMateria.asiDescripcion}} </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div  class="modulo" *ngIf="serivicoEducativo=='3' && intensividad=='2'"> 

      <div *ngFor="let item of gradoEGB" class="letraModulo">
        <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.graCodigo" (change)="$event.checked ? agregar(item.graCodigo): quitar(item.graCodigo)"> {{item.graNemonico}} </mat-checkbox>
        <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoGrados">
          <mat-checkbox class="example-margin letraModulo" *ngIf="datos.ServicioSeleccion==item.graCodigo" color="primary" [value]="datos.cupaextSeleccion.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.cupaextSeleccion.cupaexCodigo, item.graCodigo): quitarCurso(datos.cupaextSeleccion.cupaexCodigo, item.graCodigo)"> {{datos.cupaextSeleccion.nombreParalelo}} </mat-checkbox>
          <div class="datosMateria" *ngFor="let materia of materiasMostrar">
            <div *ngFor="let datosMateria of materia.datosMaterias" class="materiaPoscicion">
              <mat-checkbox class="example-margin letraModulo" *ngIf="materia.codParalelo==datos.cupaextSeleccion.cupaexCodigo && materia.codServicio==item.graCodigo" color="primary" [value]="datosMateria.asiCodigo" (change)="$event.checked ? agregarMateria(datosMateria.maasiexCodigo, item.graCodigo, materia.codParalelo): quitarMateria(datosMateria.maasiexCodigo, item.graCodigo, materia.codParalelo)"> {{datosMateria.asiDescripcion}} </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

      
      <div *ngFor="let item of servicioEGB" class="letraModulo">
        <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graequDescripcion}} </mat-checkbox>
        <div class="datosParalelos" *ngFor="let datos of datosParalelosServicio">
          <mat-checkbox class="example-margin letraModulo" *ngIf="datos.ServicioSeleccion==item.sereduCodigo" color="primary" [value]="datos.cupaextSeleccion.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo): quitarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo)"> {{datos.cupaextSeleccion.nombreParalelo}} </mat-checkbox>
          <div class="datosMateria" *ngFor="let materia of materiasMostrar">
            <div *ngFor="let datosMateria of materia.datosMaterias" class="materiaPoscicion">
              <mat-checkbox class="example-margin letraModulo" *ngIf="materia.codParalelo==datos.cupaextSeleccion.cupaexCodigo && materia.codServicio==item.sereduCodigo" color="primary" [value]="datosMateria.asiCodigo" (change)="$event.checked ? agregarMateria(datosMateria.maasiexCodigo, item.sereduCodigo , materia.codParalelo): quitarMateria(datosMateria.maasiexCodigo, item.sereduCodigo , materia.codParalelo)"> {{datosMateria.asiDescripcion}} </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="modulo" *ngIf="serivicoEducativo=='4' && intensividad=='1'">

      <div *ngFor="let item of servicioEGBIntensivo" class="letraModulo">
        <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graNemonico}} </mat-checkbox>
        <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoServicio">
          <mat-checkbox class="example-margin letraModulo" *ngIf="datos.ServicioSeleccion==item.sereduCodigo" color="primary" [value]="datos.cupaextSeleccion.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo): quitarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo)"> {{datos.cupaextSeleccion.nombreParalelo}} </mat-checkbox>
          <div class="datosMateria" *ngFor="let materia of materiasMostrar">
            <div *ngFor="let datosMateria of materia.datosMaterias" class="materiaPoscicion">
              <mat-checkbox class="example-margin letraModulo" *ngIf="materia.codParalelo==datos.cupaextSeleccion.cupaexCodigo && materia.codServicio==item.sereduCodigo" color="primary" [value]="datosMateria.asiCodigo" (change)="$event.checked ? agregarMateria(datosMateria.maasiexCodigo, item.sereduCodigo,materia.codParalelo): quitarMateria(datosMateria.maasiexCodigo, item.sereduCodigo, materia.codParalelo)"> {{datosMateria.asiDescripcion}} </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div  class="modulo" *ngIf="serivicoEducativo=='4' && intensividad=='2'">
      
      <div *ngFor="let item of gradoEGB" class="letraModulo">
        <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.graCodigo" (change)="$event.checked ? agregar(item.graCodigo): quitar(item.graCodigo)"> {{item.graNemonico}} </mat-checkbox>
        <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoGrados">
          <mat-checkbox class="example-margin letraModulo" *ngIf="datos.ServicioSeleccion == item.graCodigo" color="primary" [value]="datos.cupaextSeleccion.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.cupaextSeleccion.cupaexCodigo, item.graCodigo): quitarCurso(datos.cupaextSeleccion.cupaexCodigo, item.graCodigo)"> {{datos.cupaextSeleccion.nombreParalelo}} </mat-checkbox>
          <div class="datosMateria" *ngFor="let materia of materiasMostrar">
            <div *ngFor="let datosMateria of materia.datosMaterias" class="materiaPoscicion">
              <mat-checkbox class="example-margin letraModulo" *ngIf="materia.codParalelo==datos.cupaextSeleccion.cupaexCodigo && materia.codServicio==item.graCodigo" color="primary" [value]="datosMateria.asiCodigo" (change)="$event.checked ? agregarMateria(datosMateria.maasiexCodigo, item.graCodigo, materia.codParalelo, datosMateria.asiDescripcion): quitarMateria(datosMateria.maasiexCodigo, item.graCodigo, materia.codParalelo, datosMateria.asiDescripcion)"> {{datosMateria.asiDescripcion}} </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let item of servicioEGB" class="letraModulo">
        <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graequDescripcion}} </mat-checkbox>
        <div class="datosParalelos" *ngFor="let datos of datosParalelosServicio">
          <mat-checkbox class="example-margin letraModulo" *ngIf="datos.ServicioSeleccion==item.sereduCodigo" color="primary" [value]="datos.cupaextSeleccion.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo): quitarCurso(datos.cupaextSeleccion.cupaexCodigo, item.sereduCodigo)"> {{datos.cupaextSeleccion.nombreParalelo}} </mat-checkbox>
          <div class="datosMateria" *ngFor="let materia of materiasMostrar">
            <div *ngFor="let datosMateria of materia.datosMaterias" class="materiaPoscicion">
              <mat-checkbox class="example-margin letraModulo" *ngIf="materia.codParalelo==datos.cupaextSeleccion.cupaexCodigo && materia.codServicio==item.sereduCodigo" color="primary" [value]="datosMateria.asiCodigo" (change)="$event.checked ? agregarMateria(datosMateria.maasiexCodigo, item.sereduCodigo, materia.codParalelo): quitarMateria(datosMateria.maasiexCodigo, item.sereduCodigo, materia.codParalelo)"> {{datosMateria.asiDescripcion}} </mat-checkbox>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>



  <table class="table table-striped tablaModulo">
    <tr>
        <td class="titulosSelectivos">
            Buscar Docente: 
        </td>
        <td>
            <input (keypress)="validateFormat($event)" class="form-control cedula" #input maxlength="10" maxlength="10" pattern="[0-9]{10}" placeholder="Cedula docente:" [(ngModel)]="cedulaDocente" name="cedulaDocente" id="cedulaDocente" >
            <mat-hint class="inscripcion"> Máximo de caracteres: {{input.value?.length || 0}}/10</mat-hint>
        </td>
        <td>
              <button class='btn btn-primary botonBuscar' (click)="buscarDocente()">Buscar Docente</button>
        </td>
    </tr>
</table>
<div class="cartaDocente">
    <div class="card-body">
        <div class="card-title" *ngIf="nombreDocente">
          {{nombreDocente}} / {{numeroIdentificacion}}
        </div>
        <div class="card-text">
        </div>
    </div>
</div>
<div class="botonAsginar">
  <button class='btn btn-primary asginar' (click)="asignar()"> Asignar Docente </button>
</div>
  </form>
</div>
