.tablaModulo{
    width: 850px;
    margin-left: 150px;
}


.tablaSeleccionServicio{
    width: 1070px;
}

.titulosSelectivos{
    font-size: medium;
    font-weight: bold;
    margin-left: -90px;
}

.cartaDocente{
    margin-left: 340px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tamañoSelect{
    width: 200px;
}

.radios{
    margin-left: 250px;
    font-size: larger;
    margin-top: -35px;
    margin-bottom: 45px;
}

.tecnicoPoscicion{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
}

.radiosTecnico{
    margin-top: 30px;
    margin-left: 130px;
}

.radiosIntensivo{
    margin-left: -50px;
}

.avertura{
    margin-left: 20px;
}

.datosEspecialidad{
    margin-left: 250px;
}

.letraModulo{
    font-size: x-large;
}

.contenedorOfertas{
    font-size: x-large;
    margin-left: 65px;
}

.materiaPoscicion{
    margin-left: -35px;
}

.modulo{
    margin-left: 250px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.botonBuscar{
    width: 200px;
    margin-left: -60px;
    margin-bottom: 20px;
}


.asginar{
    margin-left: 500px;
    margin-bottom: 20px;
    font-size: medium;
}

.materias{
    margin-left: 30px;
}

.selectMaterias{
   width: 350px;
   margin-bottom: 5px;
   margin: 5px auto;
   padding: 5px;
   font: normal 13px arial, helvetica, sans-serif;
}

.modulo{
    margin-left: 450px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.letraModulo{
    font-size: x-large;
}

.select{
    width: 300px;
    margin-left: -130px;
}

.poscicionModalidad{
    margin-left: -70px;       
}

.datosParalelos{
    margin-left: 50px;
}

.datosMateria{
    margin-left: 70px;
}

.cedula{
    width: 200px;
    margin-left: -170px;
    border:1px solid #D3D3D3;
    font-size: medium;
    background-color: #f5f5f5;
}

.inscripcion{
    margin-left: -170px;
}

td, tr, table{
    border: none;
}


.selectModalidad{
    width: 150px;
    margin-left: -150px;
}

.selectNivel{
    width: 150px;
    margin-left: -40px;
}

.example-radio-group {
    display: flex; flex-direction: column;
    margin: 30px 0;
  }