.titulosSelectivos{
    font-size: medium;
    font-weight: bold;
}

.tablaServicio{
    width: 700px;
    margin-left: 270px;
}

.tamañoSelect{
    width: 200px;
}

.modulo{
    margin-left: 500px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.letraModulo{
    font-size: x-large;
}

.tablaModulo{
    width: 700px;
    margin-left: 270px;
}

.cartaDocente{
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cedula{
    width: 200px;
    border:1px solid #D3D3D3;
    font-size: medium;
    background-color: #f5f5f5;
}

.botonBuscar{
    width: 200px;
    margin-bottom: 20px;
}

.asginar{
    margin-left: 500px;
    margin-bottom: 20px;
    font-size: medium;
}

.materias{
    margin-left: 30px;
}


.listaSeleccion{
    width: 300px;
    margin-right: 600px;
}

.select{
    width: 300px;
    margin-left: -90px;
}

td, tr, table{
    border: none;
}

.datosParalelos{
    margin-left: 50px;
}

.datosMalla{
    margin-left: 40px;
}