<div fxLayout="column" fxLayoutAlign="space-around stretch" class="card profile-header">
  <form>
      <table class="table table-striped tablaServicio">
          <tr>
              <td class="titulosSelectivos">
                  Nivel Educativo: 
              </td>
              <td>

                <select disabled *ngIf="modulosPorCodigo.length == 0 && moduloPorCodigoIntensivo.length == 0 && equivalenciasAcumuladas.length == 0 && equivalenciasAcumuladasIntensivas.length == 0" name="serivicoEducativo" [(ngModel)]="serivicoEducativo" class="form-control select"
                  (ngModelChange)="onCambioServicio($event)">
                <option [ngValue]="1">
                  --------------------------------
                </option>
            </select>

             <select *ngIf="modulosPorCodigo.length > 0 || moduloPorCodigoIntensivo.length > 0 || equivalenciasAcumuladas.length > 0 || equivalenciasAcumuladasIntensivas.length > 0" name="serivicoEducativo" [(ngModel)]="serivicoEducativo" class="form-control select"
                  (ngModelChange)="onCambioServicio($event)">
                <option [ngValue]="1">
                  ALFABETIZACION
                </option>
                <option [ngValue]="2">
                  POST - ALFABETIZACION
                </option>
            </select>
              </td>
          </tr>
        </table>

        <div class="modulo" *ngIf="serivicoEducativo==1">
            
            <div *ngFor="let item of ListaDeOfertaModalidadAlfa">
              <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.modCodigo" (change)="$event.checked ? agregar(item.modCodigo): quitar(item.modCodigo)"> {{item.modDescripcion}} ( {{item.modDescripcionGradoInicio}} - {{item.modDescripcionGradoFin}} ) </mat-checkbox>
              <div class="datosParalelos" *ngFor="let datos of datosParalelosModalidad">
                <mat-checkbox class="example-margin letraModulo" *ngIf="item.modCodigo==datos.codDiferencia" color="primary" [value]="datos.curext" (change)="$event.checked ? agregarCurso(datos.curext): quitarCurso(datos.curext)"> {{datos.datosParalelo.nombreParalelo}} </mat-checkbox>
                <div class="datosMalla" *ngFor="let malla of listaModuloMalla">
                  <mat-checkbox class="example-margin letraModulo" *ngIf="malla.curextCodigo==datos.curext" color="primary" [value]="malla.mmodCodigo" (change)="$event.checked ? agregarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo): quitarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo)"> {{malla.mmodNemonico}} </mat-checkbox>
                </div>
              </div>
            </div>

            <div *ngFor="let item of listaDeOfertaModalidadIntensivaAlfa">
              <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.modCodigo" (change)="$event.checked ? agregar(item.modCodigo): quitar(item.modCodigo)"> {{item.modDescripcion}} ( {{item.modDescripcionGradoInicio}} - {{item.modDescripcionGradoFin}} ) </mat-checkbox>
              <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoModalidad">
                <mat-checkbox class="example-margin letraModulo" *ngIf="item.modCodigo==datos.codDiferencia" color="primary" [value]="datos.datosParalelo.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.curext): quitarCurso(datos.curext)"> {{datos.datosParalelo.nombreParalelo}} </mat-checkbox>
                <div class="datosMalla" *ngFor="let malla of listaModuloMalla">
                  <mat-checkbox class="example-margin letraModulo" *ngIf="malla.curextCodigo==datos.curext" color="primary" [value]="malla.mmodCodigo" (change)="$event.checked ? agregarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo): quitarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo)"> {{malla.mmodNemonico}} </mat-checkbox>
                </div>
              </div>
            </div>

            <div *ngFor="let item of listaDeOfertaServiciosAlfa">
              <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graequDescripcion}} </mat-checkbox>
              <div class="datosParalelos" *ngFor="let datos of datosParalelosServicio">
                <mat-checkbox class="example-margin letraModulo" *ngIf="item.sereduCodigo==datos.codDiferencia" color="primary" [value]="datos.datosParalelo.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.curext): quitarCurso(datos.curext)"> {{datos.datosParalelo.nombreParalelo}} </mat-checkbox>
                <div class="datosMalla" *ngFor="let malla of listaModuloMalla">
                  <mat-checkbox class="example-margin letraModulo" *ngIf="malla.curextCodigo==datos.curext" color="primary" [value]="malla.mmodCodigo" (change)="$event.checked ? agregarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo): quitarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo)"> {{malla.mmodNemonico}} </mat-checkbox>
                </div>
              </div>
            </div>

            <div *ngFor="let item of listaDeOfertaServiciosIntensivaAlfa">
              <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graequDescripcion}} </mat-checkbox>
              <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoServicio">
                <mat-checkbox class="example-margin letraModulo" *ngIf="item.sereduCodigo==datos.codDiferencia" color="primary" [value]="datos.datosParalelo.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.curext): quitarCurso(datos.curext)"> {{datos.datosParalelo.nombreParalelo}} </mat-checkbox>
                <div class="datosMalla" *ngFor="let malla of listaModuloMalla">
                  <mat-checkbox class="example-margin letraModulo" *ngIf="malla.curextCodigo==datos.curext" color="primary" [value]="malla.mmodCodigo" (change)="$event.checked ? agregarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo): quitarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo)"> {{malla.mmodNemonico}} </mat-checkbox>
                </div>
              </div>
            </div>
 
        </div>

        <div class="modulo" *ngIf="serivicoEducativo==2">

            <div *ngFor="let item of ListaDeOfertaModalidad">
              <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.modCodigo" (change)="$event.checked ? agregar(item.modCodigo): quitar(item.modCodigo)"> {{item.modDescripcion}} ( {{item.modDescripcionGradoInicio}} - {{item.modDescripcionGradoFin}} )</mat-checkbox>
              <div class="datosParalelos" *ngFor="let datos of datosParalelosModalidad">
                <mat-checkbox class="example-margin letraModulo" *ngIf="item.modCodigo==datos.codDiferencia" color="primary" [value]="datos.datosParalelo.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.curext): quitarCurso(datos.curext)"> {{datos.datosParalelo.nombreParalelo}} </mat-checkbox>
                <div class="datosMalla" *ngFor="let malla of listaModuloMalla">
                  <mat-checkbox class="example-margin letraModulo" *ngIf="malla.curextCodigo==datos.curext" color="primary" [value]="malla.mmodCodigo" (change)="$event.checked ? agregarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo): quitarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo)"> {{malla.mmodNemonico}} </mat-checkbox>
                </div>
              </div>
            </div>

            <div *ngFor="let item of listaDeOfertaModalidadIntensiva">
              <mat-checkbox class="example-margin letraModulo" color="primary" [(ngModel)]="dataSeleccion" [value]="item.modCodigo" (change)="$event.checked ? agregar(item.modCodigo): quitar(item.modCodigo)"> {{item.modDescripcion}} ( {{item.modDescripcionGradoInicio}} - {{item.modDescripcionGradoFin}} ) </mat-checkbox>
              <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoModalidad">
                <mat-checkbox class="example-margin letraModulo" *ngIf="item.modCodigo==datos.codDiferencia" color="primary" [value]="datos.datosParalelo.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.curext): quitarCurso(datos.curext)"> {{datos.datosParalelo.nombreParalelo}} </mat-checkbox>
                <div class="datosMalla" *ngFor="let malla of listaModuloMalla">
                  <mat-checkbox class="example-margin letraModulo" *ngIf="malla.curextCodigo==datos.curext" color="primary" [value]="malla.mmodCodigo" (change)="$event.checked ? agregarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo): quitarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo)"> {{malla.mmodNemonico}} </mat-checkbox>
                </div>
              </div>
            </div>

            <div *ngFor="let item of listaDeOfertaServicioIntensiva">
              <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graequDescripcion}} </mat-checkbox>
              <div class="datosParalelos" *ngFor="let datos of datosParalelosIntensivoServicio">
                <mat-checkbox class="example-margin letraModulo" *ngIf="item.sereduCodigo==datos.codDiferencia" color="primary" [value]="datos.datosParalelo.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.curext): quitarCurso(datos.curext)"> {{datos.datosParalelo.nombreParalelo}} </mat-checkbox>
                <div class="datosMalla" *ngFor="let malla of listaModuloMalla">
                  <mat-checkbox class="example-margin letraModulo" *ngIf="malla.curextCodigo==datos.curext" color="primary" [value]="malla.mmodCodigo" (change)="$event.checked ? agregarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo): quitarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo)"> {{malla.mmodNemonico}} </mat-checkbox>
                </div>
              </div>
            </div>

            <div *ngFor="let item of listaDeOfertaServicio">
              <mat-checkbox class="example-margin letraModulo" color="primary" [value]="item.sereduCodigo" (change)="$event.checked ? agregar(item.sereduCodigo): quitar(item.sereduCodigo)"> {{item.graequDescripcion}} </mat-checkbox>
              <div class="datosParalelos" *ngFor="let datos of datosParalelosServicio">
                <mat-checkbox class="example-margin letraModulo" *ngIf="item.sereduCodigo==datos.codDiferencia" color="primary" [value]="datos.datosParalelo.cupaexCodigo" (change)="$event.checked ? agregarCurso(datos.curext): quitarCurso(datos.curext)"> {{datos.datosParalelo.nombreParalelo}} </mat-checkbox>
                <div class="datosMalla" *ngFor="let malla of listaModuloMalla">
                  <mat-checkbox class="example-margin letraModulo" *ngIf="malla.curextCodigo==datos.curext" color="primary" [value]="malla.mmodCodigo" (change)="$event.checked ? agregarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo): quitarMalla(datos.datosParalelo.cupaexCodigo, datos.curext, datos.modulo, malla.mmodCodigo)"> {{malla.mmodNemonico}} </mat-checkbox>
                </div>
              </div>
            </div>

        </div>


          <table class="table table-striped tablaModulo">
              <tr>
                  <td class="titulosSelectivos">
                      Buscar Docente: 
                  </td>
                  <td>
                      <input (keypress)="validateFormat($event)" class="form-control cedula" #input maxlength="10" maxlength="10" pattern="[0-9]{10}" placeholder="Cedula docente:" [(ngModel)]="cedulaDocente" name="cedulaDocente" id="cedulaDocente" >
                      <mat-hint align="end"> Máximo de caracteres: {{input.value?.length || 0}}/10</mat-hint>
                  </td>
                  <td>
                        <button class='btn btn-primary botonBuscar' (click)="buscarDocente()">Buscar Docente</button>
                  </td>
              </tr>
          </table>
          <div class="cartaDocente">
              <div class="card-body">
                  <div class="card-title" *ngIf="nombreDocente">
                    {{nombreDocente}} / {{numeroIdentificacion}}
                  </div>
                  <div class="card-text">
                  </div>
              </div>
          </div>
      <div class="botonAsginar">
          <button class='btn btn-primary asginar' (click)="asginar()"> Asignar Docente </button>
      </div>
  </form>
</div>