<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Buscar Materia</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                        placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-1" >
                                    <button class="btn btn-warning ml-1 float-right" (click)="volverPeriodoLectivo()">
                                              <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                              <span class="d-none d-sm-inline-block">Volver</span>
                                    </button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de las notas por materias</h4>
                            <div class="row">
                                <div class="table-responsive">
                                    <table mat-table *ngIf="listaNotaMateriaModulo" [dataSource]="dataSource"
                                        class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center ;" > Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ;"> {{i+1}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="asignatura" sticky>
                                            <th *matHeaderCellDef style="text-align:center ;" fxFlex="300px"> Materia </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" class="align-middle" fxFlex="300px" fxFlex="300px">
                                                {{element.asiDescripcion}}
                                            </td>
                                        </ng-container>
                                        <ng-container *ngFor="let op of listaCalificaciones; index as col" [matColumnDef]="op.calNemonico">
                                            <th *matHeaderCellDef style="text-align:center;" fxFlex="120px">{{op.calDescripcion}}</th>
                                            <ng-container *matCellDef="let element;" >
                                                <ng-container *ngIf="col+1==listaCalificaciones.length">
                                                    <td mat-cell *ngFor="let cal of element.calificaciones;" style="text-align:center;" fxFlex="120px">
                                                        <ng-container *ngIf="cal.notaValorCunt!=null">
                                                            {{cal.notaValorCunt+' '+(cal.calNemonico.substr(0,3) === 'POP' || cal.calNemonico.substr(0,3) === 'POR'?'%':'')}}
                                                        </ng-container>
                                                        <ng-container *ngIf="cal.notaValorCual!=null">
                                                            {{cal.notaValorCual}}
                                                        </ng-container>
                                                    </td>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columnasEvaluacion"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasEvaluacion;"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-12">
                                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="align-items-right justify-content-right">
                                                <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                                                    <img alt="BMZ" class="img-fluid mw-100" src="assets/images/pages/BMZ_ZE_MfU_S.png" width="100" height="51" style="float: right;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="align-items-right justify-content-right">
                                                <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                                                    <img alt="DVV" class="img-fluid mw-100" src="assets/images/pages/DVV_Logo.png" width="100" height="51" style="float: right;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>