<div class="col-6">
    <mat-form-field>
        <mat-label>Selecciona un año</mat-label>
        <mat-select [(ngModel)]="anioSeleccionado" (selectionChange)="reestablecerListaFaltas()">
            <mat-option *ngFor="let anio of calendarioAsistencia?.anios ? getAnios(calendarioAsistencia.anios) : []"
                        [value]="anio">{{ anio }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Selecciona un mes</mat-label>
        <mat-select [(ngModel)]="mesSeleccionado" (selectionChange)="reiniciarSemana()">
            <mat-option *ngFor="let mes of getMesesPorAnio(anioSeleccionado)" [value]="mes">{{ mes }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Selecciona el número de semanas</mat-label>
        <mat-select [(ngModel)]="semanaSeleccionada"
                    (selectionChange)="cargarInfoSemanaSeleccionada(semanaSeleccionada)">
            <mat-option *ngFor="let semana of getSemanasPorMes(anioSeleccionado, mesSeleccionado)"
                        [value]="semana">{{ semana }}</mat-option>
        </mat-select>
    </mat-form-field>

</div>
