<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Buscar Año Lectivo</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <select name="regimenAnioLectivo" [(ngModel)]="regimenAnioLectivo" class="form-control" title="buscar por regimen año lectivo"
                                        (change)="listarCursoExtraordinariaPorInstitucion(regimenAnioLectivo.reanleCodigo)">
                                            <option *ngFor="let op of listaRegimenAnioLectivo" [ngValue]="op">
                                                {{op.regDescripcion+' '+op.anilecAnioInicio+'-'+op.anilecAnioFin}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                        placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de Grados</h4>
                            <div class="row">
                                <div class="table-responsive">
                                    <table mat-table *ngIf="listaCursoExtraordinario" [dataSource]="dataSource"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center ;" > Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ;"> {{i+1}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="tipo-educacion">
                                            <th *matHeaderCellDef style="text-align:center ;"> Tipo de Educación</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.tipoEducacion}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="modalidad">
                                            <th *matHeaderCellDef style="text-align:center ;"> Modalidad</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.modalidad}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="jornada">
                                            <th *matHeaderCellDef style="text-align:center ;"> Jornada</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.jornada}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="servicio-educativo">
                                            <th *matHeaderCellDef style="text-align:center ;"> Servicio Educativo</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.servEducativo}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="modulo-grado">
                                            <th *matHeaderCellDef style="text-align:center ;"> Modulo/Grado</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.gradoModulo}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="especialidad">
                                            <th *matHeaderCellDef style="text-align:center ;"> Especialidad</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.especialidad}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="paralelo">
                                            <th *matHeaderCellDef style="text-align:center ;"> Paralelo</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.parDescripcion}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="acciones">
                                            <th *matHeaderCellDef style="text-align:center ;"> Acciones</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                <button title="Asistencia Estudiantes" (click)="abrirJustificarAsistenciaEstudiantes(element)"
                                                    class="btn btn-icon btn-outline-warning" 
                                                    style="margin-left: 2px;" >
                                                    <i data-feather="edit"></i>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columnasModuloGrado"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasModuloGrado;"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>