<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Buscar Area de Conocimiento</h4>
                            <div class="row">                          
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <button class="btn btn-outline-primary" 
                                        type="button" rippleEffect>
                                          <i data-feather="search"></i>
                                        </button>
                                      </div>
                                      <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                      placeholder="Buscar" #input aria-label="Amount" />
                                     
                                    </div>
                                </div>
                              
                                <div class="col-md-6 col-12 mb-1">
                                    <button class="btn btn-primary ml-1 float-right" 
                                    (click)="nuevaArea(modalForm)"
                                    rippleEffect>
                                        <i data-feather="plus" class="mr-0 mr-sm-1"></i
                                        ><span class="d-none d-sm-inline-block">Nuevo</span>
                                      </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <ng-template #modalForm let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel1">Datos del Area:</h4>
              <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
              <form [formGroup]=frmAreaCreateEdit>
                <label>Descripción: </label>
                <div class="form-group">
                  <input type="text" required placeholder="Ingrese la descripción" class="form-control" 
                  formControlName="descripcion"
                  [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAreaCreateEdit.descripcion.errors }" />
                  <div *ngIf="submitted && ReactiveFrmAreaCreateEdit.descripcion.errors" class="invalid-feedback">
                    <div *ngIf="ReactiveFrmAreaCreateEdit.descripcion.errors.required">Descripción es necesaria </div>
                  </div>
                </div>
                <label>Nemónico: </label>
                <div class="form-group">
                  <input type="text" required placeholder="Ingrese el Nemónico" class="form-control" 
                  formControlName="nemonico"
                  [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAreaCreateEdit.nemonico.errors }" />
                  <div *ngIf="submitted && ReactiveFrmAreaCreateEdit.nemonico.errors" class="invalid-feedback">
                    <div *ngIf="ReactiveFrmAreaCreateEdit.nemonico.errors.required">Nemónico es necesario </div>
                    <div *ngIf="ReactiveFrmAreaCreateEdit.nemonico.errors?.maxlength">Máximo 10 caracteres </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" 
              class="btn btn-primary" (click)="guardarArea(modal)" rippleEffect>
                Guardar
              </button>
            </div>
          </ng-template>
          <!--Fin Modal-->
           <!--Lista de areas-->
        <section>
          <div class="row match-height">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Lista de Areas de Conocimiento</h4>
                          <div class="row">
                              <div class="table-responsive">
                                  <table mat-table *ngIf="listaAreas" [dataSource]="dataSource" 
                                      class="mat-elevation-z8" style="width: 100%;">
                                            <!--Nro-->
                                      <ng-container matColumnDef="num">
                                          <th *matHeaderCellDef style="text-align:center ;" > Nro </th>
                                          <td mat-cell *matCellDef="let element;let i = index"
                                              style="text-align:center ;"> {{i+1}} </td>
                                      </ng-container>
                                       <!--descripcion-->
                                       <ng-container matColumnDef="descripcion">
                                          <th *matHeaderCellDef style="text-align:center ;"> Descripción</th>
                                          <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                  {{element.arcoDescripcion}}
                                          </td>
                                      </ng-container>
                                       <!--nemonico-->
                                       <ng-container matColumnDef="nemonico">
                                        <th *matHeaderCellDef style="text-align:center ;"> Nemónico</th>
                                        <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.arcoNemonico}}
                                        </td>
                                    </ng-container>
                                       <!--Estado-->
                                       <ng-container matColumnDef="estado">
                                          <th *matHeaderCellDef style="text-align:center ;" > Estado </th>
                                          <td mat-cell *matCellDef="let element;" style="text-align:center ;">
                                                  <ng-container
                                                      *ngIf="element.arcoEstado=='1';">
                                                      <span
                                                          class="text-success">ACTIVO</span>
                                                  </ng-container>
                                                      <ng-container
                                                          *ngIf="element.arcoEstado=='0';">
                                                          <span
                                                              class="text-danger">INACTIVO</span>
                                                      </ng-container>

                                          </td>
                                      </ng-container>
                                      <!--Acciones-->
                                      <ng-container matColumnDef="acciones">
                                          <th *matHeaderCellDef style="text-align:center ;"> Acciones </th>
                                          <td mat-cell *matCellDef="let element;let i = index"
                                              style="text-align:center ;">
                                              <button title="Editar" (click)="editArea(modalEdit,element)"
                                              class="btn btn-icon btn-outline-primary"
                                              style="margin-left: 2px;" >
                                              <i data-feather="edit"></i>
                                              </button>
                                              <ng-container
                                                      *ngIf="element.arcoEstado==1;">
                                                      <button title="Inactivar" (click)="activarInactivar(element)"
                                              class="btn btn-icon btn-outline-danger"
                                              style="margin-left: 2px;" >
                                              <i data-feather="x"></i>
                                              </button>
                                                  </ng-container>
                                                      <ng-container
                                                          *ngIf="element.arcoEstado==0;">
                                                          <button title="Activar" (click)="activarInactivar(element)"
                                              class="btn btn-icon btn-outline-success"
                                              style="margin-left: 2px;" >
                                              <i data-feather="check"></i>
                                              </button>
                                                      </ng-container>
                                          </td>
                                      </ng-container>

                                      <tr mat-header-row *matHeaderRowDef="columnasAreas"></tr>
                                      <tr mat-row *matRowDef="let row; columns: columnasAreas;"></tr>
                                           <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                                </tr>
                                  </table>  
                                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Modal -->
      <ng-template #modalEdit let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">Datos del Area de Conocimiento:</h4>
          <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
          <form [formGroup]=frmAreaCreateEdit>
            <label>Descripción: </label>
            <div class="form-group">
              <input type="text" required placeholder="Ingrese la descripción" class="form-control" 
              formControlName="descripcion"
              [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAreaCreateEdit.descripcion.errors }" />
              <div *ngIf="submitted && ReactiveFrmAreaCreateEdit.descripcion.errors" class="invalid-feedback">
                <div *ngIf="ReactiveFrmAreaCreateEdit.descripcion.errors.required">Descripción es necesaria </div>
              </div>
            </div>
            <label>Nemónico: </label>
            <div class="form-group">
              <input type="text" required placeholder="Ingrese el Nemónico" class="form-control" 
              formControlName="nemonico"
              [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAreaCreateEdit.nemonico.errors }" />
              <div *ngIf="submitted && ReactiveFrmAreaCreateEdit.nemonico.errors" class="invalid-feedback">
                <div *ngIf="ReactiveFrmAreaCreateEdit.nemonico.errors.required">Nemónico es necesario </div>
                <div *ngIf="ReactiveFrmAreaCreateEdit.nemonico.errors?.maxlength">Máximo 10 caracteres </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" 
          class="btn btn-primary" (click)="actualizarArea(modal)" rippleEffect>
            Actualizar
          </button>
        </div>
      </ng-template>
      <!--Fin Modal-->
    </div>
</div>


