<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div class="mi-componente">
  <br>
  <h5 style="text-align: center;" >{{cursoSeleccionadoChild.acaMallaAsignatura.acaAsignatura.asiDescripcion}}
    - {{cursoSeleccionadoChild.ofeCurso.nombreGrado}} - PARALELO {{cursoSeleccionadoChild.ofeCursoParalelo.nombreParalelo}}
    - {{cursoSeleccionadoChild.ofeCurso.nombreJornada}}</h5>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table style="background-color: transparent;" mat-table *ngIf="listaEstudiantesNotas.length>0" width="100%"
           [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="identificacion">
        <th *matHeaderCellDef mat-header-cell style="text-align:justify ;" mat-sort-header>Identificación
        </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento.estudiante.estIdentificacion}}</td>
      </ng-container>
      <ng-container matColumnDef="estudiante">
        <th *matHeaderCellDef mat-header-cell style="text-align:justify ;" mat-sort-header>Estudiante
        </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento.estudiante.estNombres}}</td>
      </ng-container>
      <ng-container *ngFor="let op of listaCalificacionChild; index as col" [matColumnDef]="op.calDescripcion">
        <th *matHeaderCellDef mat-header-cell width="10%" style="text-align:justify;" mat-sort-header>
          {{ op.calDescripcion }}
        </th>
        <ng-container *matCellDef="let elemento;">
          <ng-container *ngFor="let cal of elemento.listaModeloGeneral">
            <ng-container *ngIf="cal.modgenCodigo === modgenCodigoChild">
              <!-- Celda para la última calificación -->
              <ng-container *ngIf="col + 1 === listaCalificacionChild.length">
                <td mat-cell *ngFor="let lista of cal.listaCalificacion">
                  <input
                    [disabled]="activoModeloChild == 0" [type]="tipoInput"
                    [(ngModel)]="lista.noasCalNot" class="form-control text-center text-uppercase"
                    (blur)="validarNota(lista) " />
                  <!-- <input *ngIf="modgenCodigoChild===constantes.modgenCodigoSupletorio"
                         [disabled]="(lista.notaPromedio >=constantes.valorminimoSupletorio)" [type]="tipoInput"
                         [(ngModel)]="lista.noasCalNot" class="form-control text-center text-uppercase"
                         (blur)="validarNota(lista) " /> -->
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <!-- Celda para cada modelo general -->

      </ng-container>

      <ng-container matColumnDef="acciones">
        <th *matHeaderCellDef mat-header-cell style="text-align:center ;" width="200px" mat-sort-header> Acciones
        </th>
        <ng-container *matCellDef="let elemento;">
          <ng-container *ngFor="let cal of elemento.listaModeloGeneral;let last = last;index as col">
            <ng-container *ngIf="cal.modgenCodigo === modgenCodigoChild">
              <td mat-cell class="text-center" *ngFor="let lista of cal.listaCalificacion">
                <!-- <button mat-cell *ngIf="cal.modgenCodigo===constantes.modgenCodigoNotaTrimestral1" title="Guardar"
                        class="btn btn-icon btn-outline-primary" (click)="guardarNotaIndividual(elemento)"
                        style="margin-left: 2px;">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-cell *ngIf="cal.modgenCodigo===constantes.modgenCodigoNotaTrimestral2" title="Guardar"
                        class="btn btn-icon btn-outline-primary" (click)="guardarNotaIndividual(elemento)"
                        style="margin-left: 2px;">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-cell *ngIf="cal.modgenCodigo===constantes.modgenCodigoNotaTrimestral3" title="Guardar"
                        class="btn btn-icon btn-outline-primary" (click)="guardarNotaIndividual(elemento)"
                        style="margin-left: 2px;">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-cell *ngIf="cal.modgenCodigo===constantes.modgenCodigoEvalucacionSubnivel" title="Guardar"
                        class="btn btn-icon btn-outline-primary" (click)="guardarNotaIndividual(elemento)"
                        style="margin-left: 2px;">
                  <mat-icon>save</mat-icon>
                </button> -->

                <button mat-cell *ngIf="activoModeloChild == 1"
                        [disabled]="(lista.notaPromedio >=constantes.valorminimoSupletorio)" title="Guardar"
                        class="btn btn-icon btn-outline-primary" (click)="guardarNotaIndividual(elemento)"
                        style="margin-left: 2px;">
                  <mat-icon>save</mat-icon>
                </button>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnasEncabezado;sticky: true" class="colorHead"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasEncabezado;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[30]"></mat-paginator> -->
  </section>
</div>
<div class="container">
  <div class="row justify-content-center mt-2">
    <div class="col-2">
      <button title="Guardar" class="btn btn-icon btn-outline-primary d-flex" style="margin-left: 2px;"
              (click)="guardarListaNotas(listaEstudiantesNotas)">
        <mat-icon>save</mat-icon><span class="align-self-center ml-2">Guardar Todo</span>
      </button>
    </div>
  </div>
</div>
