<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row" *ngIf="tipoAsistencia == 'POR_HORARIO'">
                                <div class="col-md-2 col-12 mb-1">
                                    <h6 class="card-title">Fecha Inicio</h6>
                                    <div class="input-group" *ngIf="etapaServicioEducativo != null || etapaServicioEducativo != undefined">
                                        <input type="date" [(ngModel)]="fechaInicio" class="form-control" [(min)]="etapaServicioEducativo.etseedFechaInicio" 
                                        [(max)]="etapaServicioEducativo.etseedFechaFin" (change)="limpiarDatosConFechaInicio()"/>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 mb-1">
                                    <h6 class="card-title">Fecha Fin</h6>
                                    <div class="input-group" *ngIf="etapaServicioEducativo != null || etapaServicioEducativo != undefined">
                                        <input type="date" [(ngModel)]="fechaFin" class="form-control" [(min)]="fechaInicio" 
                                        [(max)]="etapaServicioEducativo.etseedFechaFin" [disabled]="fechaInicio == null || fechaInicio == undefined"
                                        (change)="limpiarDatosConFechaFin()"/>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12 mb-1">
                                    <h6 class="card-title">Asignatura</h6>
                                    <div class="input-group">
                                        <select name="asignatura" [(ngModel)]="mallaAsignatura" class="form-control" title="buscar por asignatura"
                                        (change)="obtenerAsistenciaEstudiantesMatriculados(mallaAsignatura.maasiexCodigo)">
                                            <option *ngFor="let op of listaMallaAsignatura" [ngValue]="op">
                                                {{op.asiDescripcion}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12 mb-1">
                                    <h6 class="card-title">Estudiante</h6>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                        placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 mb-1">
                                    <div class="input-group">
                                        <button class="btn btn-warning ml-1 float-right" (click)="volverAsistenciaPeriodo()">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                            <span class="d-none d-sm-inline-block">Volver</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="tipoAsistencia == 'POR_DIA'">
                                <div class="col-md-4 col-12 mb-1">
                                    <h6 class="card-title">Mes</h6>
                                    <div class="input-group">
                                        <select name="mes" [(ngModel)]="mes" class="form-control" title="Seleccione el mes"
                                        (change)="obtenerAsistenciaDiaEstudiantesMatriculados()">
                                            <option *ngFor="let op of listaMes" [ngValue]="op">
                                                {{op.meDescripcion}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12 mb-1">
                                    <h6 class="card-title">Estudiante</h6>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilterDia($event)" 
                                        placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-12 mb-1">
                                    <div class="input-group">
                                        <button class="btn btn-warning ml-1 float-right" (click)="volverAsistenciaPeriodo()">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                            <span class="d-none d-sm-inline-block">Volver</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de Asistencia</h4>
                            <div class="row">
                                <div class="table-responsive" *ngIf="tipoAsistencia == 'POR_HORARIO'">
                                    <table mat-table *ngIf="listaAsistenciaMatricula" [dataSource]="dataSource"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center; " fxFlex="20%" > Nro&nbsp; </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ; vertical-align: middle;" fxFlex="20%">{{i+1}}&nbsp;</td>
                                        </ng-container>
                                        <ng-container matColumnDef="identificacion">
                                            <th *matHeaderCellDef style="text-align:center;" fxFlex="40%">Identificación</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center; " fxFlex="40%">
                                                {{element.estIdentificacion}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="apellido-nombre" sticky>
                                            <th *matHeaderCellDef style="text-align:center;" fxFlex="310px"> Apellidos y Nombres</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" class="align-middle" fxFlex="310px">
                                                {{element.apellidoEstudiante!=null?element.apellidoEstudiante:''+' '+element.nombreEstudiante}}
                                            </td>
                                        </ng-container>
                                        <ng-container *ngFor="let op of listaAsistencia; index as col" [matColumnDef]="op.fechaNombre">
                                            <th *matHeaderCellDef style="text-align:center;" fxFlex="100px">
                                                <div class="w-100">{{op.dia}}</div>
                                                <div class="w-100">{{op.fechaNombre}}</div>
                                                <div class="w-100">{{op.horario}}</div>
                                            </th>
                                            <ng-container *matCellDef="let element;">
                                                <ng-container *ngIf="col+1==listaAsistencia.length">
                                                    <td mat-cell *ngFor="let asis of element.asistencias;" style="text-align:center;" fxFlex="100px">
                                                        <input type="checkbox" [(ngModel)]="asis.asisAsistencia" (change)="guardarAsistencia(asis)"/>
                                                    </td>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columnasAsistencia"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasAsistencia;"></tr>
                                    </table>
                                </div>
                                <div class="table-responsive" *ngIf="tipoAsistencia == 'POR_DIA'">
                                    <table mat-table *ngIf="listaAsistenciaMatriculaDia" [dataSource]="dataSourceDia"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center; " fxFlex="40px" > Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ; vertical-align: middle;" fxFlex="40px">{{i+1}}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="identificacion">
                                            <th *matHeaderCellDef style="text-align:center;" fxFlex="95px">Identificación</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center; " fxFlex="95px">
                                                {{element.estIdentificacion}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="apellido-nombre" sticky>
                                            <th *matHeaderCellDef style="text-align:center;" fxFlex="300px"> Apellidos y Nombres</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" class="align-middle" fxFlex="300px">
                                                {{element.apellidoEstudiante!=null?element.apellidoEstudiante:''+' '+element.nombreEstudiante}}
                                            </td>
                                        </ng-container>
                                        <ng-container *ngFor="let op of listaAsistenciaDia; index as col" [matColumnDef]="op.fechaNombre">
                                            <th *matHeaderCellDef style="text-align:center;" fxFlex="100px">
                                                <div class="w-100">{{op.dia}}</div>
                                                <div class="w-100">{{op.fechaNombre}}</div>
                                            </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" fxFlex="100px">
                                                <ng-container *ngFor="let asdi of element.asistenciasDias">
                                                    <ng-container *ngIf="asdi.fechaNombre == op.fechaNombre">
                                                        <input type="checkbox" [(ngModel)]="asdi.asdiAsistencia" (change)="guardarAsistenciaDia(asdi)" [disabled]="asdi.asdiJustificacion"/>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columnasAsistencia"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasAsistencia;"></tr>
                                    </table>
                                </div>
                                <div class="col-sm-12">
                                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="align-items-right justify-content-right">
                                                <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                                                    <img alt="BMZ" class="img-fluid mw-100" src="assets/images/pages/BMZ_ZE_MfU_S.png" width="100" height="51" style="float: right;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="align-items-right justify-content-right">
                                                <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                                                    <img alt="DVV" class="img-fluid mw-100" src="assets/images/pages/DVV_Logo.png" width="100" height="51" style="float: right;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>