
.tablaFuente{
    border-collapse:collapse;
    border:none;
}

.table{
    border-collapse:collapse;
    border:none;
}

td, tr, table{
    border: none;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }