<ngx-spinner size="medium" type="{{ 'ball-fussion' }}"></ngx-spinner>

<div
  *ngIf="!seleccionNivel"
  fxLayout="column"
  fxLayoutAlign="space-evenly stretch"
  class=""
>
  <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2">
    <h3>Coordinador de Participación Estudiantil</h3>
    <div class="form-group mb-5">
      <h3 for="educacionFormal">Educación Formal</h3>
      <select
        required
        name="educacionFormal"
        [(ngModel)]="educacionFormalSeleccionado"
        (ngModelChange)="handlerEduFormal($event)"
        class="form-control col-4"
        [ngClass]="{ invalid: educacionFormalSeleccionado === null }"
      >
        <option [ngValue]="null">
          {{ "---Seleccione---" }}
        </option>
        <option
          [ngValue]="pObjetivo.pbObjtCodigo"
          *ngFor="let pObjetivo of listaPoblacionObjetivo"
        >
          {{ pObjetivo.pbObjtDescripcion }}
        </option>
      </select>
    </div>
    <div class="form-group row" *ngIf="educacionFormalSeleccionado !== null">
      <div class="col-4 d-flex align-items-center">
        <h5 class="mr-3" for="tipoEducacion" class="font-weight-bolder">
          Inscripción de Estudiantes:
        </h5>
      </div>
    </div>
    <div class="row" *ngIf="educacionFormalSeleccionado != null">
      <div class="col-2">
        <h5 for="busqueda">Búsqueda</h5>
      </div>
      <div class="col-4">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="opcionBusqueda"
          (change)="reiniciarValores()"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            {{ "Cédula" }}
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            {{ "Apellidos" }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="mb-2" *ngIf="educacionFormalSeleccionado != null">
      <ng-container *ngIf="opcionBusqueda" class="col">
        <div class="row">
          <div class="col-2"></div>
          <input
            id="cedulaEstudiante"
            name="cedulaEstudiante"
            (keypress)="validateFormat($event)"
            pattern="[0-9]{10}"
            placeholder="Cedula estudiante:"
            #input
            maxlength="10"
            type="text"
            [(ngModel)]="estudiante.identificacionEstudiante"
            class="form-control col-6 ml-2"
          />
        </div>
        <div class="row">
          <div class="col-2"></div>
          <mat-hint class="ml-2"
            >Máximo de caracteres: {{ input.value?.length || 0 }}/10</mat-hint
          >
        </div>
      </ng-container>
      <ng-container *ngIf="!opcionBusqueda" class="col">
        <div class="row">
          <div class="col-2"></div>
          <mat-form-field
            class="example-full-width col-6 ml-2"
            appearance="outline"
          >
            <input
              (input)="onInputEvent($event)"
              placeholder="Apellidos y Nombres"
              type="text"
              matInput
              [(ngModel)]="estudiante"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let estudiante of listaEstudiantes"
                [value]="estudiante"
                (click)="reiniciarDatosTabla(estudiante)"
              >
                {{ estudiante.nombreApellidoEstudiante }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <div class="row" *ngIf="educacionFormalSeleccionado != null">
      <div class="col-2"></div>
      <button
        [disabled]="
          estudiante.identificacionEstudiante?.length < 10 ||
          educacionFormalSeleccionado === null
        "
        (click)="obtenerEstudiantePorIdentificacion()"
        class="btn btn-primary col-3 ml-2"
      >
        Buscar Estudiante
      </button>
    </div>

    <div class="table-responsive">
      <table
        class="mat-elevation-z8"
        mat-table
        *ngIf="estudiante.nombreApellidoEstudiante !== ''"
        width="100%"
        [dataSource]="dataSource"
        matSort
      >
        <ng-container matColumnDef="identificacionEstudiante">
          <th
            *matHeaderCellDef
            style="text-align: justify"
            width="200px"
            mat-sort-header
          >
            Cédula
          </th>
          <td mat-cell *matCellDef="let elemento">
            {{ elemento.identificacionEstudiante }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nombreApellidoEstudiante">
          <th
            *matHeaderCellDef
            style="text-align: justify"
            width="200px"
            mat-sort-header
          >
            Nombres y Apellidos del Estudiante
          </th>
          <td mat-cell *matCellDef="let elemento">
            {{ elemento.nombreApellidoEstudiante }}
          </td>
        </ng-container>
        <ng-container matColumnDef="graDescripcion">
          <th
            *matHeaderCellDef
            style="text-align: justify"
            width="300px"
            mat-sort-header
          >
            Grado
          </th>
          <td mat-cell *matCellDef="let elemento">
            {{ elemento.graDescripcion }}
          </td>
        </ng-container>
        <ng-container matColumnDef="accion">
          <th *matHeaderCellDef style="text-align: center">Acciones</th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <div class="example-button-container" *ngIf="!!element.graDescripcion"> 
              <button
                mat-mini-fab
                color="primary"
                aria-label="Example icon button with a menu icon"
                (click)="asignarInscripcion(element)"
                *ngIf="element.pinsCodigo === null"
              >
                <mat-icon>label_important</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="primary"
                aria-label="Example icon button with a menu icon"
                (click)="editarInscripcion(element)"
                *ngIf="element.pinsCodigo !== null"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="warn"
                aria-label="Example icon button with a menu icon"
                (click)="inactivarInscripcion()"
                *ngIf="element.pinsCodigo !== null"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
    </div>
  </div>
</div>

<div *ngIf="seleccionNivel">
  <app-coordinacion-participacion
    [nivelCruceSeleccionadoChild]="nivelCruceSeleccionado"
    [tipoEducacionChild]="tipoEducacion"
    [servicioEducativoActualChild]="servicioEducativoActual"
    [docenteHispanaChild]="estudiante"
    [informacionEstablecimientoChild]="informacionEstablecimiento"
    (deshabilitarAsignacionOutput)="actualizarAsignacionOutput(event)"
  ></app-coordinacion-participacion>
</div>
