<h2 mat-dialog-title>Inscripción</h2>
<hr />
<form
  [formGroup]="inscripcionForm"
  #formDirective="ngForm"
  (ngSubmit)="guardar()"
>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <mat-radio-group aria-label="Escoger" formControlName="areaAccion">
        <div
          class="row-container"
          style="display: flex; justify-content: space-around"
        >
          <div class="col-3">
            <mat-label>Escoger:</mat-label>
          </div>
          <div class="col-9">
            <div
              class="row"
              style="display: flex; justify-content: space-between"
            >
              <mat-radio-button
                (change)="handlerParticipacion($event)"
                value="1"
                >Área de acción</mat-radio-button
              >
              <!-- </div>
        <div class="row"> -->
              <mat-radio-button
                (change)="handlerParticipacion($event)"
                value="2"
                >Convalidación</mat-radio-button
              >
            </div>
          </div>
        </div>
        <mat-error *ngIf="inscripcionForm.get('areaAccion').invalid">{{
          getErrorMessage("areaAccion")
        }}</mat-error>
      </mat-radio-group>
    </div>

    <div
      class="row"
      style="display: block;"
    >
      <mat-form-field class="description-field col-4" appearance="outline">
        <mat-label>Denominación</mat-label>
        <mat-select
          formControlName="denominacion"
          (selectionChange)="handlerDenominacion($event)"
        >
          <mat-option
            *ngFor="let denominacion of currentDenominaciones"
            [value]="denominacion.pdenoCodigo"
            >{{ denominacion.pdenoDescripcion }}</mat-option
          >
        </mat-select>
        <!-- <mat-hint>Denominación</mat-hint> -->
        <mat-error *ngIf="inscripcionForm.get('denominacion').invalid">{{
          getErrorMessage("denominacion")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="description-field col-4" appearance="outline">
        <mat-label>Sub Denominación</mat-label>
        <mat-select formControlName="subDenominacion">
          <mat-option
            *ngFor="let subDenominacion of currentSubDenominaciones"
            [value]="subDenominacion.psdenCodigo"
            >{{ subDenominacion.psdenDescripcion }}</mat-option
          >
        </mat-select>
        <!-- <mat-hint>Sub Denominación</mat-hint> -->
        <mat-error *ngIf="inscripcionForm.get('subDenominacion').invalid">{{
          getErrorMessage("subDenominacion")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="parallel-field col-4" appearance="outline">
        <mat-label>Paralelo</mat-label>
        <mat-select formControlName="paralelo">
          <mat-option
            *ngFor="let paralelo of paralelos"
            [value]="paralelo.parCodigo"
            >{{ paralelo.parDescripcion }}</mat-option
          >
        </mat-select>
        <!-- <mat-hint>Paralelo</mat-hint> -->
        <mat-error *ngIf="inscripcionForm.get('paralelo').invalid">{{
          getErrorMessage("paralelo")
        }}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <hr />
  <mat-dialog-actions style="display: flex; justify-content: end">
    <button mat-button class="btn btn-primary" type="submit">Guardar</button>
    <button mat-button mat-dialog-close class="btn btn-secondary">Salir</button>
  </mat-dialog-actions>
</form>
