<h2 mat-dialog-title>Sub Denominación</h2>
<hr />
<form
  [formGroup]="subDenominacionForm"
  #formDirective="ngForm"
  (ngSubmit)="guardar()"
>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Denominación</mat-label>
      <mat-select formControlName="denominacion">
        <mat-option
          *ngFor="let deno of denominacion"
          [value]="deno.pdenoCodigo"
          >{{ deno.pdenoDescripcion }}</mat-option
        >
      </mat-select>
      <!-- <mat-error *ngIf="denominacionForm.get('denominacion').invalid">{{
          getErrorMessage("denominacion")
        }}</mat-error> -->
    </mat-form-field>
    <mat-form-field class="col-12" appearance="outline">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" type="text" />
    </mat-form-field>

  </mat-dialog-content>
  <hr />
  <mat-dialog-actions style="display: flex; justify-content: end">
    <button mat-button class="btn btn-primary" type="submit">Guardar</button>
    <button mat-button mat-dialog-close class="btn btn-secondary">Salir</button>
  </mat-dialog-actions>
</form>
