<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Buscar Asignatura</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                            placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 mb-1">
                                    <button class="btn btn-primary ml-1 float-right" 
                                    (click)="nuevaAsignatura(modalForm)"
                                        rippleEffect>
                                            <i data-feather="plus" class="mr-0 mr-sm-1"></i
                                            ><span class="d-none d-sm-inline-block">Nuevo</span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-template #modalForm let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Datos de las Asignaturas:</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmAsignaturaCreateEdit>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Tipo Asignatura: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionTipoAsignatura" formControlName="acaTipoAsignatura" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaTipoAsignatura.errors }" class="form-control selectpicker" 
                            id="selectTipoAsignatura" (change)="refrescarValues()" #t>
                                <option *ngFor="let op of listaTipoAsignatura" [value]="op.tiasCodigo" >
                                    {{op.tiasDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaTipoAsignatura.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaTipoAsignatura.errors.required">El Tipo de Asignatura es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Tipo Valoración: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionTipoValoracion" formControlName="acaTipoValoracion" required placeholder="Seleccione el Tipo Valoración" [(ngModel)]="selectTipoValoracion"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaTipoValoracion.errors }" class="form-control selectpicker" id="selectTipoValoracion" (change)="limpiarValoresAntiguos('tipoValoracion')" #t>
                                <option *ngFor="let op of listaTipoValoracion" [value]="op.tivaCodigo" (ngModelChange)="codigoDeTiipoValoracion($event)">
                                    {{op.tivaDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaTipoValoracion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaTipoValoracion.errors.required">El Tipo de Valoración es necesario </div>
                            </div>
                        </div>
                    </div>

                    <!--Aqui esta -->
                    <div class="row form-group" *ngIf="selectTipoValoracion == 2">
                        <div class="col-sm-4">
                            <label class="pt-1">Escalas: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="asiNemonico" formControlName="asiNemonico" required placeholder="Seleccione las escalas" [(ngModel)]="asiNemonico"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.asiNemonico.errors }" class="form-control selectpicker" id="asiNemonico" (change)="limpiarValoresAntiguos('nemonico')" #t>
                            <option value="AD">
                                AD
                            </option>
                            <option value="AI">
                                AI
                            </option>
                            <option value="TD">
                                TD
                            </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.asiNemonico.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.asiNemonico.errors.required">Las escalas son necesarias </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Área Conocimiento: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionAreaConocimiento" formControlName="acaAreaConocimiento" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaAreaConocimiento.errors }" class="form-control selectpicker " id="selectAreaConocimiento" (change)="limpiarValoresAntiguos('areaConocimineto')" #t>
                                <option *ngFor="let op of listaAreaConocimiento" [value]="op.arcoCodigo">
                                    {{op.arcoDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaAreaConocimiento.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaAreaConocimiento.errors.required">La Área de Conocimiento es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Asignatura: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese la Asignatura" class="form-control"
                            formControlName="asiDescripcion" 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.asiDescripcion.errors }" (change)="limpiarValoresAntiguos('descripcion')"/>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.asiDescripcion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.asiDescripcion.errors.required">La descripción es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Hora: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese la hora" class="form-control"
                            formControlName="asiHoras" 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.asiHoras.errors }" (change)="limpiarValoresAntiguos('horas')"/>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.asiHoras.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.asiHoras.errors.required">La hora es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Grupo: </label>
                        </div>
                        <div class="input-group col-sm-8" *ngIf="selectTipoValoracion != 2">
                            <select name="optionGrupo" formControlName="acaAgrupacion" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors }" class="form-control selectpicker " id="selectGrupo" (change)="limpiarValoresAntiguos('agrupacion')" #t>
                                <option *ngFor="let op of listaAgrupacion" [value]="op.agrCodigo">
                                    {{op.agrDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors.required" >El Grupo es necesario </div>
                            </div>
                        </div>

                        <div class="input-group col-sm-8" *ngIf="selectTipoValoracion == 2">
                            <select name="optionGrupo" formControlName="acaAgrupacion" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors }" class="form-control selectpicker " id="selectGrupo" (change)="limpiarValoresAntiguos('agrupacion')" #t>
                                <option *ngFor="let op of getListaGrupos()" [value]="op.agrCodigo">
                                    {{op.agrDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors.required" >El Grupo es necesario </div>
                            </div>
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Grado: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionGrado" formControlName="graCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.graCodigo.errors }" class="form-control selectpicker " id="selectGrado"
                            (change)="listaTodasLasEspecialidadesPorNivel(frmAsignaturaCreateEdit.get('graCodigo').value)" #t>
                                <option *ngFor="let op of listaGrado" [value]="op.graCodigo">
                                    {{op.graDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.graCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.graCodigo.errors.required">La Área de Conocimiento es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="listaEspecialidad">
                        <div class="col-sm-4">
                            <label class="pt-1">Especialidad: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionEspecialidad" formControlName="espCodigo"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.espCodigo.errors }" class="form-control selectpicker " id="selectEspecialidad" #t>
                                <option *ngFor="let op of listaEspecialidad" [value]="op.espCodigo">
                                    {{op.espDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.espCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.espCodigo.errors.required">La Especialidad es necesario </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="guardarAsignatura(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>

        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de Asignatura </h4>
                            <div class="row">
                                <div class="table-responsive">
                                    <table mat-table *ngIf="listaAsignatura" [dataSource]="dataSource"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center ;" > Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ;"> {{i+1}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="asignatura">
                                            <th *matHeaderCellDef style="text-align:center ;"> Asignatura</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.asiDescripcion}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="grados">
                                            <th *matHeaderCellDef style="text-align:center ;"> Grado</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.graDescripcion}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="estado">
                                            <th *matHeaderCellDef style="text-align:center ;" > Estado </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center ;">
                                                <ng-container *ngIf="element.asiEstado=='1';">
                                                    <span class="text-success">ACTIVO</span>
                                                </ng-container>
                                                <ng-container *ngIf="element.asiEstado=='0';">
                                                    <span class="text-danger">INACTIVO</span>
                                                </ng-container>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="acciones">
                                            <th *matHeaderCellDef style="text-align:center ;"> Acciones </th>
                                            <td mat-cell *matCellDef="let element;let i = index"
                                              style="text-align:center ;">

                                                <button title="Editar" (click)="editAsignatura(modalEdit,element)"
                                                class="btn btn-icon btn-outline-primary"
                                                style="margin-left: 2px;" >
                                                    <i data-feather="edit"></i>
                                                </button>

                                                <ng-container *ngIf="element.asiEstado==1;">
                                                    <button title="Inactivar" (click)="activarInactivar(element)"
                                                    class="btn btn-icon btn-outline-danger"
                                                    style="margin-left: 2px;" >
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </ng-container>

                                                <ng-container *ngIf="element.asiEstado==0;">
                                                    <button title="Activar" (click)="activarInactivar(element)"
                                                    class="btn btn-icon btn-outline-success"
                                                    style="margin-left: 2px;" >
                                                        <i data-feather="check"></i>
                                                    </button>
                                                </ng-container>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="columnasAsignarura"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasAsignarura;"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                                        </tr>

                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <ng-template #modalEdit let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Datos de las Asignaturas:</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmAsignaturaCreateEdit>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Tipo Asignatura: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionTipoAsignaturaAc" formControlName="acaTipoAsignatura" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaTipoAsignatura.errors }" class="form-control selectpicker" id="selectTipoAsignaturaAc" (change)="refrescaEditValues()" #t>
                                <option *ngFor="let op of listaTipoAsignatura" [value]="op.tiasCodigo" >
                                    {{op.tiasDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaTipoAsignatura.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaTipoAsignatura.errors.required">El Tipo de Asignatura es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Tipo Valoración: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionTipoValoracionAc" formControlName="acaTipoValoracion" required placeholder="Seleccione el Tipo Valoración" [(ngModel)]="selectTipoValoracionAc"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaTipoValoracion.errors }" class="form-control selectpicker" id="selectTipoValoracionAc" (change)="limpiarValoresAntiguos('tipoValoracion')" #t>
                                <option *ngFor="let op of listaTipoValoracion" [value]="op.tivaCodigo">
                                    {{op.tivaDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaTipoValoracion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaTipoValoracion.errors.required">El Tipo de Valoración es necesario </div>
                            </div>
                        </div>
                    </div>

                    <!--Aqui esta -->
                    <div class="row form-group" *ngIf="selectTipoValoracionAc == 2">
                        <div class="col-sm-4">
                            <label class="pt-1">Escalas: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="asiNemonico" formControlName="asiNemonico" required placeholder="Seleccione las escalas" [(ngModel)]="asiNemonico"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.asiNemonico.errors }" class="form-control selectpicker" id="asiNemonico" (change)="limpiarValoresAntiguos('nemonico')" #t>
                            <option value="AD">
                                AD
                            </option>
                            <option value="AI">
                                AI
                            </option>
                            <option value="TD">
                                TD
                            </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.asiNemonico.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.asiNemonico.errors.required">Las escalas son necesarias </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Área Conocimiento: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionAreaConocimientoAc" formControlName="acaAreaConocimiento" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaAreaConocimiento.errors }" class="form-control selectpicker " id="selectAreaConocimientoAc" (change)="limpiarValoresAntiguos('areaConocimineto')" #t>
                                <option *ngFor="let op of listaAreaConocimiento" [value]="op.arcoCodigo">
                                    {{op.arcoDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaAreaConocimiento.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaAreaConocimiento.errors.required">La Área de Conocimiento es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Asignatura: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese la Asignatura" class="form-control"
                            formControlName="asiDescripcion" 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.asiDescripcion.errors }" (change)="limpiarValoresAntiguos('descripcion')"/>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.asiDescripcion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.asiDescripcion.errors.required">La descripción es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Hora: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese la hora" class="form-control"
                            formControlName="asiHoras" 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.asiHoras.errors }" (change)="limpiarValoresAntiguos('horas')"/>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.asiHoras.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.asiHoras.errors.required">La hora es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Grupo: </label>
                        </div>
                        <div class="input-group col-sm-8" *ngIf="selectTipoValoracionAc != 2">
                            <select name="optionGrupoAc" formControlName="acaAgrupacion" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors }" class="form-control selectpicker " id="selectGrupoAc" (change)="limpiarValoresAntiguos('agrupacion')" #t>
                                <option *ngFor="let op of listaAgrupacion" [value]="op.agrCodigo">
                                    {{op.agrDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors.required" >El Grupo es necesario </div>
                            </div>
                        </div>

                        <div class="input-group col-sm-8" *ngIf="selectTipoValoracionAc == 2">
                            <select name="optionGrupoAc" formControlName="acaAgrupacion" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors }" class="form-control selectpicker " id="selectGrupoAc" (change)="limpiarValoresAntiguos('agrupacion')" #t>
                                <option *ngFor="let op of listaAgrupacionfiltro" [value]="op.agrCodigo">
                                    {{op.agrDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.acaAgrupacion.errors.required" >El Grupo es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Grado: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionGradoAc" formControlName="graCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.graCodigo.errors }" class="form-control selectpicker " id="selectGradoAc"
                            (change)="listaTodasLasEspecialidadesPorNivel(frmAsignaturaCreateEdit.get('graCodigo').value)" (change)="limpiarValoresAntiguos('graCodigo')" #t>
                                <option *ngFor="let op of listaGrado" [value]="op.graCodigo">
                                    {{op.graDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.graCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.graCodigo.errors.required">La Área de Conocimiento es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="listaEspecialidad">
                        <div class="col-sm-4">
                            <label class="pt-1">Especialidad: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionEspecialidadAc" formControlName="espCodigo"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.espCodigo.errors }" class="form-control selectpicker " id="selectEspecialidadAc" #t>
                                <option *ngFor="let op of listaEspecialidad" [value]="op.espCodigo">
                                    {{op.espDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.espCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.espCodigo.errors.required">La Especialidad es necesario </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="actualizarAsignatura(modal)" rippleEffect>
                actualizar
                </button>
            </div>
        </ng-template>
    </div>
</div>