<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>

<div *ngIf="!seleccionNivel" fxLayout="column" fxLayoutAlign="space-evenly stretch" class="">
    <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2 ">
        <h3>Designación de Grados y/o Curso</h3>
        <div class="text-right">
            <span>Régimen: </span>
            <span> {{regimen}} {{anioElectivoDescripcion}}</span>
        </div>
        <div class="form-group mb-5">
            <h3 for="poblacionObjetivo">Población Objetivo</h3>
            <select #selectElement required name="poblacionObjetivo" [(ngModel)]="poblacionObjetivoSeleccionado"
              (ngModelChange)="consultarModadidadTipoEducacion($event)" class="form-control col-6"
              [ngClass]="{'invalid': poblacionObjetivoSeleccionado === null}" (ngOnInit)="calcularAnchoSelect()">
              <option [ngValue]="null">
                {{ 'Seleccione Población Objetiva' }}
              </option>
              <option *ngFor="let item of listaPoblacionObjetivo" [ngValue]="item">
                {{ item.pbObjtDescripcion }}
              </option>
            </select>
          </div>
          
        <div class="form-group row" *ngIf="poblacionObjetivoSeleccionado!=null">
            <div class="col-2 d-flex align-items-center">
                <h5 class="mr-3" for="tipoEducacion" class="font-weight-bolder">Tipo Educación:</h5>

            </div>
            <div class="col-3 d-flex align-items-center">
                <h5 class="mr-3" for="tipoEducacion">{{tipoEducacion?.tipeduNombre}}</h5>
                <!-- <h5 class="mr-3" for="tipoEducacion">{{tipoEducacion?.tipeduCodigo}}</h5> -->
            </div>
            <div class="col-2 d-flex align-items-center">
                <h5 class="mr-3" for="escolaridad" class="font-weight-bolder">Escolaridad:</h5>

            </div>
            <div class="col-3 d-flex align-items-center">
                <h5 class="mr-3" for="escolaridad">{{escolaridad?.escDescripcion}}</h5>
            </div>
        </div>
        <!-- <div class="form-group row">
            <div class="col-2 d-flex align-items-center">
                <h5 for="implementacion" class="font-weight-bolder">Implementación:</h5>

            </div>
            <div class="col-3 d-flex align-items-center">
                <h5 class="mr-3" for="implementacion">{{implementacion?.impDescripcion}}</h5>
            </div>
            <div class="col-2 d-flex align-items-center">
                <h5 for="temporabilidad" class="font-weight-bolder">Temporabilidad:</h5>

            </div>
            <div class="col-3 d-flex align-items-center">
                <h5 class="mr-3" for="temporabilidad">{{temporabilidad?.temDescripcion}}</h5>
            </div>
        </div> -->

        <div class="row" *ngIf="poblacionObjetivoSeleccionado!=null">
            <div class="col-2">
                <h5 for="busqueda">Búsqueda</h5>
            </div>
            <div class="col-4">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="opcionBusqueda" (change)="reiniciarValores()">
                    <mat-radio-button class="example-radio-button" [value]="true">
                        {{'Cédula'}}
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" [value]="false">
                        {{'Apellidos'}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="mb-2" *ngIf="poblacionObjetivoSeleccionado!=null">
            <ng-container *ngIf="opcionBusqueda" class="col">
                <div class="row">
                    <div class="col-2"></div>
                    <input id="cedulaDocente" name="cedulaDocente" (keypress)="validateFormat($event)"
                        pattern="[0-9]{10}" placeholder="Cedula docente:" #input maxlength="10" type="text"
                        [(ngModel)]="docenteHispana.numIdentificacion" class="form-control col-3  ml-2">
                    <div class="col-2 ml-4" *ngIf="docenteHispana?.nomPersona !=null">
                        Datos Docente:
                    </div>
                    <div class="col">{{ docenteHispana.nomPersona}}</div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <mat-hint class="ml-2">Máximo de caracteres: {{input.value?.length || 0}}/10</mat-hint>
                </div>
            </ng-container>
            <ng-container *ngIf="!opcionBusqueda" class="col">
                <div class="row">
                    <div class="col-2"></div>
                    <mat-form-field class="example-full-width col-5 ml-1" >
                        <input (input)="onInputEvent($event)" placeholder="Apellidos y Nombres" type="text" matInput
                            [(ngModel)]="docenteHispana" [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let docente of opcionesDocentes | async" [value]="docente"
                                (click)="reiniciarDatosTabla()">
                                {{docente.nomPersona}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="col-2 ml-4" *ngIf="docenteHispana?.nomPersona !=null">
                        Datos Docente:
                    </div>
                    <div class="col">{{ docenteHispana.nomPersona}}</div>
                </div>

            </ng-container>



        </div>
        <div class="row" *ngIf="poblacionObjetivoSeleccionado!=null">
            <div class="col-2">
            </div>
            <button
                [disabled]="(docenteHispana.numIdentificacion=='' || docenteHispana.numIdentificacion?.length<10) || poblacionObjetivoSeleccionado===null "
                (click)="obtenerDocentePorIdentificacion(docenteHispana)" class="btn btn-primary col-3 ml-2">Buscar
                Docente</button>

        </div>




        <div class="table-responsive">
            <table class="mat-elevation-z8" mat-table *ngIf="listaOrdenada.length>0" width="100%"
                [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="tipoEducacion">
                    <th *matHeaderCellDef style="text-align:justify ;" width="200px" mat-sort-header> Tipo Educación
                    </th>
                    <td mat-cell *matCellDef="let elemento"> {{tipoEducacion?.tipeduNombre}}</td>
                </ng-container>
                <ng-container matColumnDef="escolaridad">
                    <th *matHeaderCellDef style="text-align:justify ;" width="200px" mat-sort-header>Escolaridad</th>
                    <td mat-cell *matCellDef="let elemento;">{{escolaridad.escDescripcion}}</td>
                </ng-container>
                <ng-container matColumnDef="nivel">
                    <th *matHeaderCellDef style="text-align:justify ;" width="300px" mat-sort-header>Nivel</th>
                    <td mat-cell *matCellDef="let elemento;">{{elemento.nivel?.nivDescripcion}}</td>
                </ng-container>
                <ng-container matColumnDef="figuraProfesional">
                    <th *matHeaderCellDef style="text-align:justify ;" width="300px" mat-sort-header>Área Técnica
                    </th>
                    <td mat-cell *matCellDef="let elemento;">{{elemento.figuraProfesional?.figproDescripcion}}</td>
                </ng-container>
                <ng-container matColumnDef="especialidad">
                    <th *matHeaderCellDef style="text-align:justify ;" width="200px" mat-sort-header>Figura Profesional
                    </th>
                    <td mat-cell *matCellDef="let elemento;">{{elemento.especialidad?.espDescripcion}}</td>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <th *matHeaderCellDef style="text-align:center ;"> Acciones</th>
                    <td mat-cell *matCellDef="let elemento;" style="text-align:center;">
                        <div class="example-button-container">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                                (click)="asignarOferta(elemento)">
                                <mat-icon>label_important</mat-icon>
                            </button>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
        </div>
        <!-- <section class="example-section">
                                <span class="example-list-section">
                                <ul>
                                    <li *ngFor="let lista of listaEjemplo">
                                        <mat-checkbox class="example-margin" [color]="task.color" [indeterminate]="someComplete()"
                                            (change)="setAll($event.checked)">
                                            {{lista.nivel?.nivDescripcion}}
                                            {{lista.figprobcCodigo}}
                                        </mat-checkbox>
                                        <ul>
                                            <li *ngFor="let figura of lista?.figprobcCodigo">
                                                <mat-checkbox>
                                                    {{figura}}
                                                </mat-checkbox>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </span>
                            <span class="example-list-section">

                            </span>
                        </section> -->

    </div>
</div>

<div *ngIf="seleccionNivel">
    <app-asignacion-oferta [nivelCruceSeleccionadoChild]="nivelCruceSeleccionado" [tipoEducacionChild]="tipoEducacion"
         [docenteHispanaChild]="docenteHispana"
        [informacionEstablecimientoChild]="informacionEstablecimiento"
        (deshabilitarAsignacionOutput)="actualizarAsignacionOutput(event)"></app-asignacion-oferta>
</div>
<!--   
      
      <div *ngIf="modalidad!=null && jornada!=null && asignaciones==2">
          <app-asignacion-grado modalId="{{modalId}}" jorId="{{jorId}}" asigId="{{asigId}}" codEstableciminto="{{codEstableciminto}}"></app-asignacion-grado>
        </div> -->