.boton-eliminar {
    background-color: #007ad9;
    color:white;
  }
  
  .contenedor-iconos{
      justify-content: center;
  }
  
  .form-group {
    margin-bottom: 0rem !important;
  }

  .eleccionDocente{
    width: 520px;
  }