<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid" >
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Administrar Criterios</legend>
                                <div class="row justify-content-center">
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Habilidades :</b></label>
                                        <div class="input-group">
                                            <select class="browser-default custom-select"
                                            [(ngModel)]="seleccionado"
                                            (ngModelChange)="seleccionarHabilidad()" required>
                                        <option [ngValue]="{ id: item.habCodigo, nombre: item.habDescipcion }" *ngFor="let item of listaHabilidades"  >
                                            {{item.habDescipcion}}
                                        </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Nivel Educativo:</b></label>
                                        <div class="input-group">
                                            <select class="browser-default custom-select"
                                            [(ngModel)]="seleccionadoNivel"
                                            (ngModelChange)="seleccionarNivel()" required>
                                        <option [ngValue]="{ idNivel: item.nivCodigo, nombreNivel: item.nivDescripcion }" *ngFor="let item of listaNivel"  >
                                            {{item.nivDescripcion}}
                                        </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid" style="padding-left: 72%; padding-bottom: 1%; padding-top: 6%;">
                                    <button type="button" style="font-weight: bold;" (click)="openModalHabilidad()" class="btn btn-success btn-lg btn-block">Añadir Criterio
                                      &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div>
                                    <div class="table-responsive-sm" style="font-size: 10px !important;">
                                        <table class="table  table-hover border border-light">
                                            <thead>
                                                <tr>
                                                  <th scope="col" >#</th>
                                                  <th scope="col" >Habilidad</th>
                                                  <th scope="col" >Nivel</th>
                                                  <th scope="col" >Criterio</th>
                                                  <th scope="col" style="width: 20%;text-align: center;">Acciónes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let est of listaDatosFormulario; let i = index;">
                                                    <th scope="row"> {{((page * pageSize) + i + 1)-pageSize}} </th>
                                                    <th>
                                                        {{est.nombreHabilidad}}
                                                    </th>
                                                    <th>
                                                        {{est.nombreNivel}}
                                                    </th>
                                                    <th>
                                                        {{est.nombreCriterios}}
                                                    </th>
                                                    <td style="text-align: center;">
                                                        <a title="Editar Registro" class="btn btn-warning"  style="font-size:6px" (click)="abrirEditar(est)">
                                                          <i class="fa fa-edit fa-lg" style="font-size:15px"></i></a>
                                                          &nbsp;
                                                        <a title="Eliminar Registro" class="btn btn-danger" style="font-size:6px" (click)="openEliminarModal(est)">
                                                          <i class="fa fa-trash fa-lg" style="font-size:15px"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                      <!-- Paginación -->
                                        <nav aria-label="Page navigation">
                                        <ul class="pagination" id="paginacion">
                                      <!-- Botones de paginación se agregarán aquí dinámicamente -->
                                        </ul>
                                        </nav>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>