<form #f="ngForm">
    <div class="modal-header">
        <h5 class="modal-title">Crear Criterio</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <div class="container-fluid ">
                            <div class="row justify-content-center">
                                <div class="form-group col-sm-9 col-lg-6">
                                    <label class="pt-2" for="selectPrograma"><b>Seleccione una Categoria:</b></label>
                                    <div class="input-group">
                                      <select name="codigoCategoria" required placeholder="Seleccione una categoria" [(ngModel)]="codigoCategoria"  
                                      class="form-control selectpicker mr-sm-2"  id="codigoCategoria" (ngModelChange)="seleccionCategoria($event)">
                                        <option *ngFor="let op of listaCatHabilidades" [value]="op.cthCodigo">
                                          {{op.cthDescripcion}}
                                        </option>
                                      </select>
                                      <div class="valid-feedback"></div>
                                      <div class="invalid-feedback">Por favor seleccione una categoria.</div>
                                    </div>

                                    <label class="pt-2" for="selectPrograma"><b>Seleccione un nivel:</b></label>
                                    <div class="input-group">
                                      <select name="nivel" required placeholder="Seleccione un nivel" [(ngModel)]="nivel" 
                                      class="form-control selectpicker mr-sm-2" (ngModelChange)="seleccionNivel($event)" id="nivel">
                                        <option *ngFor="let op of listaNivel" [value]="op.nivCodigo">
                                          {{op.nivDescripcion}}
                                        </option>
                                      </select>
                                      <div class="valid-feedback"></div>
                                      <div class="invalid-feedback">Por favor seleccione un nivel.</div>
                                    </div>

                                    </div>


                                    <div class="form-group col-sm-9 col-lg-6">

                                      <label class="pt-2" for="selectPrograma"><b>Seleccione una Habilidad:</b></label>
                                    <div class="input-group">
                                      <select name="codigoHabilidad" required placeholder="Seleccione una categoria" [(ngModel)]="codigoHabilidad" 
                                      class="form-control selectpicker mr-sm-2" (ngModelChange)="seleccionHabilidad($event)" id="codigoHabilidad">
                                        <option *ngFor="let op of listaHabilidades" [value]="op.habCodigo">
                                          {{op.habDescipcion}}
                                        </option>
                                      </select>
                                      <div class="valid-feedback"></div>
                                      <div class="invalid-feedback">Por favor seleccione una habilidad.</div>
                                    </div>
                                    
                                    <label class="pt-2" for="selectPrograma"><b>Seleccione un Servicio:</b></label>
                                    <div class="input-group">
                                      <select name="codigoModalidad" required placeholder="Seleccione una modalidad" [(ngModel)]="codigoModalidad" 
                                      class="form-control selectpicker  mr-sm-2" id="codigoModalidad" (ngModelChange)="seleccionServicio($event)">
                                        <option *ngFor="let op of listaServicios" [value]="op.codigoServicio">
                                          {{op.descripcionMotied}}
                                        </option>
                                      </select>
                                      <div class="valid-feedback"></div>
                                      <div class="invalid-feedback">Por favor seleccione una modalidad.</div>
                                    </div>

                                    </div>

                                    <div class="form-group col-sm-9 col-lg-6">
                                      <label class="pt-2" for="selectPrograma"><b>Descripción:</b></label>
                                      <div class="input-group">
                                        <textarea type="text" maxlength="200" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" placeholder="Escribe la descripción del criterio"></textarea>
                                      </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" *ngIf="codigoModalidad != null && descripcion != null" (click)="closeModal('ok')">Aceptar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('cancel')">Cancelar</button>
  </div>

</form>