<ngx-spinner size="medium" type="{{ 'ball-fussion' }}"></ngx-spinner>
<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="">
  <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2">
    <div class="mb-1">
      <div class="input-group">
        <button class="btn btn-warning" (click)="volverCalificacionPrincipal()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <span class="d-none d-sm-inline-block">Volver</span>
        </button>
      </div>
    </div>
    <ng-container *ngIf="
    this.nivelCodigo === 1 ||
    this.nivelCodigo === 2 ||
    this.nivelCodigo === 3">
    <div class="row mt-2">
      <mat-form-field class="col-md-4 form-group" appearance="outline">
        <mat-label>Ambito</mat-label>
        <mat-select (selectionChange)="handlerAmbito($event)">
          <mat-option
            *ngFor="let ambito of listaAmbitos"
            [value]="ambito.ambCodigo"
            >{{ ambito.ambDescripcion }}</mat-option
          >
        </mat-select>
        <mat-hint>Ambito de la educación</mat-hint>
      </mat-form-field>
    </div>
  </ng-container>
    <mat-tab-group #tabGroup [selectedIndex]="selectedTabIndex" (selectedTabChange)="onLinkClick($event)"
      fitInkBarToContent>
      <div *ngFor="let objeto of listaModeloGeneralPresentacion">
        <div *ngIf="
            (this.nivelCodigo === 1 ||
            this.nivelCodigo === 2 ||
            this.nivelCodigo === 3
            ) && this.nombreMateria !== 'ACOMPAÑAMIENTO INTEGRAL EN EL AULA' 

          ">
          <mat-tab label="{{ objeto.modgenDescripcion }}" *ngIf="objeto.modgenNivel === 3"
            [disabled]="objeto.activarModelo">
            <app-inicial *ngIf="showtable" [cursoSeleccionadoChild]="cursoSeleccionadoChild"
              [listaEstudiantesNotasChild]="listaEstudiantesNotas" [listaCalificacionChild]="objeto.listaCalificacion"
              [modgenCodigoChild]="objeto.modgenCodigo" [rangoNotaChild]="rangoNota"
              [nivelCodigoChild]="cursoSeleccionadoChild.ofeCurso.nivCodigo"
              [listaCompletaEstudiantesChild]="listaAlumnosParent"
              [listaDestrezasChild]="listaDestrezas"
              [ambitoChild]="ambitoSelected"
              ></app-inicial>
          </mat-tab>
        </div>

        <div *ngIf="
            this.nivelCodigo !== 1 &&
            this.nivelCodigo !== 2 &&
            this.nivelCodigo !== 3 &&
            this.asiNemonico !== 'AI' && this.nombreMateria !== 'ACOMPAÑAMIENTO INTEGRAL EN EL AULA'
          ">
          <mat-tab *ngIf="
          tipoValoracion === 'CUANTITATIVA' " label="{{ objeto.modgenDescripcion }}" [disabled]="objeto.activarNota"
            (actualizarPorcentajePrimeraNota)="
              actualizarPorcentajePrimeraNota(event)
            ">
            <app-primera-nota [cursoSeleccionadoChild]="cursoSeleccionadoChild"
              [activoModeloChild]="objeto.calnivActivo" [listaEstudiantesNotasChild]="listaEstudiantesNotas"
              [listaCalificacionChild]="objeto.listaCalificacion" [modgenCodigoChild]="objeto.modgenCodigo"
              [acaTipoValoracionChild]="
                cursoSeleccionadoChild.acaMallaAsignatura.acaAsignatura
                  .acaTipoValoracion
              " [rangoNotaChild]="rangoNota" [nivelCodigoChild]="cursoSeleccionadoChild.ofeCurso.nivCodigo"
              [asiNemonicoChild]="
                cursoSeleccionadoChild.acaMallaAsignatura.acaAsignatura
                  .asiNemonico
              "></app-primera-nota>
          </mat-tab>
          <mat-tab *ngIf="
          tipoValoracion === 'CUALITATIVA' " label="{{ objeto.modgenDescripcion }}" [disabled]="objeto.activarNota"
            (actualizarPorcentajePrimeraNota)="
              actualizarPorcentajePrimeraNota(event)
            ">
            <app-segunda-nota [cursoSeleccionadoChild]="cursoSeleccionadoChild"
              [activoModeloChild]="objeto.calnivActivo" [listaEstudiantesNotasChild]="listaEstudiantesNotas"
              [listaCalificacionChild]="objeto.listaCalificacion" [modgenCodigoChild]="objeto.modgenCodigo"
              [acaTipoValoracionChild]="
                cursoSeleccionadoChild.acaMallaAsignatura.acaAsignatura
                  .acaTipoValoracion
              " [rangoNotaChild]="rangoNota" [nivelCodigoChild]="cursoSeleccionadoChild.ofeCurso.nivCodigo"
              [asiNemonicoChild]="
                cursoSeleccionadoChild.acaMallaAsignatura.acaAsignatura
                  .asiNemonico
              "></app-segunda-nota>
          </mat-tab>
        </div>

        <div *ngIf=" this.nombreMateria === 'ACOMPAÑAMIENTO INTEGRAL EN EL AULA'
                ">
                <mat-tab>
                  <app-lista-estudiantes-habilidades [cursoSeleccionadoChild]="cursoSeleccionadoChild" 
                  [listaEstudiantesNotasChild]="listaEstudiantesNotas"
                  ></app-lista-estudiantes-habilidades>
                </mat-tab>
        </div>

        <div *ngIf="this.nivelCodigo === 6 && this.asiNemonico === 'AI' && this.nombreMateria !== 'ACOMPAÑAMIENTO INTEGRAL EN EL AULA'">
          <mat-tab label="{{ objeto.modgenDescripcion }}"
            *ngIf="objeto.modgenNivel === 3 || objeto.modgenNemonico ==='NTRI'" [disabled]="objeto.activarModelo">
            <app-nota-ovp [cursoSeleccionadoChild]="cursoSeleccionadoChild"
              [listaEstudiantesNotasChild]="listaEstudiantesNotas" [listaCalificacionChild]="objeto.listaCalificacion"
              [modgenCodigoChild]="objeto.modgenCodigo" [rangoNotaChild]="rangoNota"
              [nivelCodigoChild]="cursoSeleccionadoChild.ofeCurso.nivCodigo"></app-nota-ovp>
          </mat-tab>
        </div>
      </div>
    </mat-tab-group>
  </div>
</div>
