<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="" *ngIf="!activarNotaPrincipal">
    <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2 ">
        <div class="text-center mb-1">
            <select name="establecimiento" [(ngModel)]="insestCodigo" class="form-control pr-4 ">
                <option *ngFor="let item of informacionEstablecimiento" [ngValue]="item.insestCodigo">
                    {{institucionObjeto.insDescripcion}} - {{institucionObjeto.insAmie}} - {{item.nombreTipo}}
                </option>
            </select>
        </div>
        <div class="text-center mb-1">

            <span>Régimen: </span>
            <span> {{regimen}} {{anioElectivoDescripcion}}</span>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2 ">
        <table style="background-color: transparent;" mat-table *ngIf="listaDistributivo.length>0" width="100%"
            [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="descripcion">
                <th *matHeaderCellDef mat-header-cell style="text-align:justify ;" mat-sort-header>ASIGNATURA
                </th>
                <td mat-cell *matCellDef="let elemento">
                    {{elemento.acaMallaAsignatura?.acaAsignatura?.asiDescripcion}}
                    {{elemento.acaMallaAsignatura?.acaAsignaturaPrepa?.apreDescripcion}}

                </td>
            </ng-container>
            <ng-container matColumnDef="grado">
                <th *matHeaderCellDef mat-header-cell style="text-align:justify ;" mat-sort-header>GRADO
                </th>
                <td mat-cell *matCellDef="let elemento">
                    {{elemento.ofeCurso?.nombreGrado}}
                </td>
            </ng-container>
            <ng-container matColumnDef="paralelo">
                <th *matHeaderCellDef mat-header-cell style="text-align:justify ;" mat-sort-header>PARALELO
                </th>
                <td mat-cell *matCellDef="let elemento">
                    {{elemento.ofeCursoParalelo?.nombreParalelo}}
                </td>
            </ng-container>
            <ng-container matColumnDef="jornada">
                <th *matHeaderCellDef mat-header-cell style="text-align:justify ;" mat-sort-header>JORNADA
                </th>
                <td mat-cell *matCellDef="let elemento">
                    {{elemento.ofeCurso?.nombreJornada}}
                </td>
            </ng-container>


            <ng-container matColumnDef="acciones">
                <th *matHeaderCellDef mat-header-cell style="text-align:center ;" width="200px" mat-sort-header>
                    ACCIONES
                </th>
                <td mat-cell *matCellDef="let elemento" style="text-align:center ;">
                    <div class="example-button-container">
                        <button mat-mini-fab color="primary" (click)="ingresarNotas(elemento)">
                            <mat-icon>label_important</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasEncabezado;sticky: true" class="colorHead"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasEncabezado;"></tr>
        </table>
        <div class="container">


            <!-- <div *ngFor="let item of listaDistributivo">
                <button class="item" (click)="ingresarNotas(item)">

                    {{item.acaMallaAsignatura?.acaAsignatura?.asiDescripcion}}
                    {{item.acaMallaAsignatura?.acaAsignaturaPrepa?.apreDescripcion}} <br>
                    {{item.ofeCurso?.nombreGrado}} - PARALELO {{item.ofeCursoParalelo?.nombreParalelo}} <br>
                    {{item.ofeCurso?.nombreJornada}}<br>
                </button>
            </div> -->


        </div>
        <br>
        <div class="pagination">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 0">
                    <a class="page-link" (click)="onPageChange(currentPage - 1)">Anterior</a>
                </li>
                <li class="page-item" *ngFor="let page of numeros; let i = index" [class.active]="i === currentPage">
                    <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
                    <a class="page-link" (click)="onPageChange(currentPage + 1)">Siguiente</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<app-nota-principal *ngIf="activarNotaPrincipal" (deshabilitarNotaPrincipalOutput)="actualizarNotasPrincipal(event)"
    [cursoSeleccionadoChild]="cursoSeleccionado"  [listaCruceValidacionChild]="listaCruceValidacion" ></app-nota-principal>