.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.container button{
    width: 100%;
    background: linear-gradient(118deg, #014ba0, rgba(1, 75, 160, 0.7));
    color: white;
}
.item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.item1 {
    border: 1px solid #ccc;
    // padding: 10px;
    text-align: center;
}
.form-control{
display: math;
width: fit-content;
}
//////////////////////////////////////