<ngx-spinner size="medium" type="{{ 'ball-fussion' }}"></ngx-spinner>
<div fxLayout="row" class="card profile-header p-2">
  <h3>Asistencia Participación</h3>
  <hr />
  <div class="row">
    <div class="col-2">
      <h4>Campo Acción</h4>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Subdenominación</mat-label>
        <mat-select (selectionChange)="handlerSubDenominacion($event)">
          <mat-option
            *ngFor="let subDenominacion of subDenominaciones"
            [value]="subDenominacion.psdenCodigo"
            >{{ subDenominacion.psdenDescripcion }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>paralelo</mat-label>
        <mat-select (selectionChange)="handlerParalelo($event)" [formControl] ="selectParalelo">
          <mat-option
            *ngFor="let paralelo of paralelosCurrent"
            [value]="paralelo.parCodigo"
            >{{ paralelo.parDescripcion }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2" *ngIf="estudiantesFormato.length > 0">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="estNombres">
      <th mat-header-cell *matHeaderCellDef>Estudiante</th>
      <td mat-cell *matCellDef="let element">{{ element.estNombres }}</td>
    </ng-container>

    <ng-container matColumnDef="pregasisNroHoras">
      <th mat-header-cell *matHeaderCellDef>Asistencia</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-form-field class="" appearance="outline">
          <input
            matInput
            type="text"
            [(ngModel)]="element.pregasisNroHoras"
            (blur)="calcularCalificacion(i)"
            pattern="^(6[6-9]|7[0-9]|80)$"
            maxlength="2"
          />
          <mat-error *ngIf="inputInvalid(i)">{{
            "El valor debe estar entre 66 y 80"
          }}</mat-error>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="calificacion">
      <th mat-header-cell *matHeaderCellDef>Calificación</th>
      <td mat-cell *matCellDef="let element">{{ element.calificacion }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div
  class="row"
  style="display: flex; justify-content: center"
  *ngIf="estudiantesFormato.length > 0"
>
  <button type="button" class="btn btn-primary" (click)="guardarAsistencia()">
    Guardar
  </button>
</div>
