<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid">
                            <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Calificación Habilidades</legend>
                            <label class="pt-2 tituloSistema" for="price"><b> {{nombreEstudiante}} </b></label>
                            <div class="row justify-content-center">
                                <div class="form-group col-sm-7 col-lg-4">
                                    <label class="pt-2" for="price"><b>Docente :</b></label>
                                    <div class="input-group">
                                        <input type="text" name="price" id="price" class="form-control" readonly value="{{nombresDocente}}">
                                    </div>
                                </div>
                                <div class="form-group col-sm-7 col-lg-4">
                                    <label class="pt-2" for="price"><b>Asignación :</b></label>
                                    <div class="input-group">
                                        <input type="text" name="price" id="price" class="form-control" readonly value="ACOMPAÑAMIENTO INTEGRAL EN EL AULA">
                                    </div>
                                </div>
                                <div class="form-group col-sm-7 col-lg-4">
                                    <label class="pt-2" for="price"><b>Curso :</b></label>
                                    <div class="input-group">
                                        <input type="text" name="price" id="price" class="form-control" readonly value=" {{gradoNemonico}}  {{curso}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-group col-sm-9 col-lg-6">
                                    <label class="pt-2" for="price"><b>Calificación :</b></label>
                                    <div class="input-group">
                                        <select class="browser-default custom-select "
                                        [(ngModel)]="selectorAsignatura" name="seleccionAsignatura" id="seleccionAsignatura" [disabled]="nombresDocente == null"
                                        (ngModelChange)="seleccionAsignatura($event)" required>
                                    <option [value]="item.modgenCodigo" *ngFor="let item of listaEvaluacion">
                                        {{item.modgenDescripcion}}
                                    </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <br/><br/>
                                <div>
                                    <div class="table-responsive-sm" style="font-size: 10px !important;">
                                        <table class="table  table-hover border border-light">
                                            <thead>
                                                <tr>
                                                    <th scope="col" >HABILIDADES</th>
                                                    <th scope="col" >CRITERIOS</th>
                                                    <th scope="col">INDICADORES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let paral of datosTotales">
                                                    <td> {{paral.nombreHabilidad}} </td>
                                                    <td> {{paral.criDescripcion}} </td>
                                                    <td>
                                                        <select required placeholder="Seleccione una Ponderacion" 
                                                          class="form-control selectpicker mr-sm-2" (change)="seleccionHabilidad(paral, $event.target.value)">
                                                          <option value="" disabled selected hidden></option>
                                                        <option *ngFor="let op of listaPonderacion" [value]="op.ponCodigo" [selected]="paral.ponderacionSeleccionada === op.ponCodigo && codigoTrimestral === paral.codigoTrimestre" >
                                                           {{op.ponDescripcion}}
                                                        </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="selectorAsignatura != null" class="container-fluid" style="padding-left: 72%; padding-bottom: 1%; padding-top: 6%;">
                                    <button type="button" style="font-weight: bold;"  (click)="guardarCalificacionHabilidades()" class="btn btn-success btn-lg btn-block">Guardar Calificacion
                                      &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>