<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid" >
                            <fieldset class="scheduler-border">
                              <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Reporte Docentes</legend>
                              <div class="row justify-content-center">
                                <div class="form-group col-sm-9 col-lg-6">
                                    <label class="pt-2" for="price"><b>Seleccione Establecimiento: </b></label>
                                    <div class="input-group">
                                        <select class="browser-default custom-select"
                                            [(ngModel)]="codigoEstablecimiento" id="codigoEstablecimiento" name="codigoEstablecimiento"
                                            (ngModelChange)="seleccionEstablecimiento($event)" required>
                                        <option [value]="item.jorCodigo" *ngFor="let item of listaIntitucion">
                                            {{item.nombreEstablecimiento}}
                                        </option>
                                            </select>
                                    </div>
                                </div>
                              </div>

                              <div class="row justify-content-center" *ngIf="codigoEstablecimiento != 0">
                                    <div class="form-group col-sm-6 col-lg-3">
                                        <label class="pt-2" for="price"><b>Jornada :</b></label>
                                        <div class="input-group">
                                            <select class="browser-default custom-select"
                                            [(ngModel)]="codigoJornada" id="codigoJornada" name="codigoJornada"
                                            (ngModelChange)="seleccionJornada($event, listaJornada)" required>
                                        <option [value]="item.jorCodigo" *ngFor="let item of listaJornada">
                                            {{item.jorNombre}}
                                        </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6 col-lg-3">
                                        <label class="pt-2" for="price"><b>Sub-Nivel :</b></label>
                                        <div class="input-group">
                                            <select class="browser-default custom-select" [disabled]="codigoJornada==null"
                                            [(ngModel)]="codigoNivel" id="codigoNivel" name="codigoNivel"
                                            (ngModelChange)="seleccionNiveles($event, listaNiveles)" required>
                                        <option [value]="item.nivCodigo" *ngFor="let item of listaNivelesLimpios"  >
                                            {{item.nivDescripcion}}
                                        </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Nombre docente :</b></label>
                                        <input type="text" class="form-control" *ngIf="codigoNivel != 0" [formControl]="myControl" [matAutocomplete]="auto" (input)="onInputChange($event)" [(ngModel)]="nombreDocente" id="nombreDocente" name="nombreDocente"/>
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="reiniciarDatosTabla(docente)">
                                            <mat-option *ngFor="let docente of opcionesDocentes | async" [value]="docente">
                                                {{docente.nombreDocente}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </div>
                                    
                                    
                              </div>

                              <div class="row justify-content-center">

                              </div>

                              <div class="container-fluid" style="padding-left: 72%; padding-bottom: 1%; padding-top: 6%;">
                                <button *ngIf="listaSistematico.length > 0"  type="button" style="font-weight: bold;" (click)="generarReporte()" class="btn btn-success btn-lg btn-block">Generar Reporte
                                  &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                            </div>

                            <div>
                                <div class="table-responsive-sm" style="font-size: 10px !important;">
                                    <table class="table  table-hover border border-light">
                                        <thead>
                                            <tr>
                                                <th scope="col" >#</th>
                                                <th scope="col" >Cedula</th>
                                                <th scope="col" >Nombre</th>
                                                <th scope="col" >Grado</th>
                                                <th scope="col">Paralelo</th>
                                                <th scope="col">Materia</th>
                                                <th scope="col">Regimen Laboral</th>
                                                <th scope="col">Puesto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let est of listaSistematico; let i = index;">
                                                <th scope="row"> {{((page * pageSize) + i + 1)-pageSize}} </th>
                                                <th>
                                                    {{est.cedula}}
                                                </th>
                                                <th>
                                                    {{est.nombreDocente}}
                                                </th>
                                                <th>
                                                    {{est.graDescripcion}}
                                                </th>
                                                <th>
                                                    {{est.paralelo}}
                                                </th>
                                                <th>
                                                    {{est.asiDescripcion}}
                                                </th>
                                                <th>
                                                    {{est.regimenLaboral}}
                                                </th>
                                                <th>
                                                    {{est.nom_deno_puesto}}
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
