.contenedor-iconos {
  display: flex;
  justify-content: space-evenly;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
 box-shadow: 0px 0px 0px 0px #000;
 //font-family: 'Montserrat' !important;
 // margin-top: 30px !important;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
  margin-top: -15px;
  background-color: white;
  //color: grey;
}

.form-group {
margin-bottom: 0rem !important;
}

*> .scheduler-border {
margin-top: 15px !important;
}

.table thead th, .table tfoot th {
vertical-align: top;
font-size: 1.1rem;
letter-spacing: 0.5px;
color: #262626;
margin: 20px 0 10px;
line-height: 1.5;
font-weight: 650;
// font-family: 'Montserrat' !important;
border-bottom: 0px solid #ebe9f1 !important;
}

.table th, .table td {
padding: 0.72rem 0.9rem !important;
vertical-align: middle !important;
}

.table thead tr th{
font-size: 14px !important;
}