<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Modelo Evaluación General</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                            placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-1">
                                    <button class="btn btn-primary ml-1 float-right" 
                                    (click)="nuevoModeloEvaluacionGeneral(modalForm)"
                                        rippleEffect>
                                            <i data-feather="plus" class="mr-0 mr-sm-1"></i
                                            ><span class="d-none d-sm-inline-block">Nuevo</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-template #modalForm let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Datos del Modelo de Evaluación General:</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmModeloEvaluacionGeneralCreateEdit>
                    
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Modelo Evaluación: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionModEducacion" formControlName="moevCodigo" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.moevCodigo.errors }" class="form-control selectpicker" id="modEducacion" 
                            (change)="refrescarComponentes()" #t>
                                <option *ngFor="let op of listaModeloEvaluacion" [value]="op.moevCodigo" >
                                    {{op.moevDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.moevCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloEvaluacionGeneralCreateEdit.moevCodigo.errors.required">El Modelo de Evaluación es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Año Lectivo: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionAnioLectivo" formControlName="reanleCodigo" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.reanleCodigo.errors }" 
                            class="form-control selectpicker" id="anioLectivo" #t>
                                <option *ngFor="let op of listaRegimenAnioLectivo" [value]="op.reanleCodigo" >
                                    {{op.regDescripcion+' '+op.anilecAnioInicio+'-'+op.anilecAnioFin}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.reanleCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloEvaluacionGeneralCreateEdit.reanleCodigo.errors.required">El año lectivo es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Modelo General: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese la Modelo General" class="form-control"
                            formControlName="modgenDescripcion"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenDescripcion.errors }"/>
                            <div *ngIf="submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenDescripcion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenDescripcion.errors.required">La descripción es necesario </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Nemónico: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese el Nemónico" class="form-control"
                            formControlName="modgenNemonico"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenNemonico.errors }"/>
                            <div *ngIf="submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenNemonico.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenNemonico.errors.required">El nemónico es necesario </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="guardarModeloEvaluacionGeneral(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de los Modelos de Evaluación General</h4>
                            <div class="row">
                                <div class="table-responsive">
                                    <table mat-table *ngIf="listaModeloEvaluacionGeneral" [dataSource]="dataSource"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center ;" > Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ;"> {{i+1}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="descripcion">
                                            <th *matHeaderCellDef style="text-align:center ;"> Descripción</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.modgenDescripcion}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="nemonico">
                                            <th *matHeaderCellDef style="text-align:center ;"> Nemónico</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.modgenNemonico}}
                                            </td>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="modelo-evaluacion">
                                            <th *matHeaderCellDef style="text-align:center ;"> Modelo Evaluación</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.moevDescripcion}}
                                            </td>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="anio-lectivo">
                                            <th *matHeaderCellDef style="text-align:center ;"> Año Lectivo</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.regDescripcion +' '+element.anilecAnioInicio+'-'+element.anilecAnioFin}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="estado">
                                            <th *matHeaderCellDef style="text-align:center ;" > Estado </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center ;">
                                                <ng-container *ngIf="element.modgenEstado=='1';">
                                                    <span class="text-success">ACTIVO</span>
                                                </ng-container>
                                                <ng-container *ngIf="element.modgenEstado=='0';">
                                                    <span class="text-danger">INACTIVO</span>
                                                </ng-container>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="acciones">
                                            <th *matHeaderCellDef style="text-align:center ;"> Acciones </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center;">
                                                <button title="Editar" (click)="editarModeloEvaluacionGeneral(modalEdit,element)" class="btn btn-icon btn-outline-primary"
                                                style="margin-left: 2px;" >
                                                    <i data-feather="edit"></i>
                                                </button>

                                                <ng-container *ngIf="element.modgenEstado==1;">
                                                    <button title="Inactivar" (click)="activarInactivar(element)"
                                                    class="btn btn-icon btn-outline-danger"
                                                    style="margin-left: 2px;" >
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </ng-container>

                                                <ng-container *ngIf="element.modgenEstado==0;">
                                                    <button title="Activar" (click)="activarInactivar(element)"
                                                    class="btn btn-icon btn-outline-success"
                                                    style="margin-left: 2px;" >
                                                        <i data-feather="check"></i>
                                                    </button>
                                                </ng-container>

                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="columnasModeloEvaluacionGeneral"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasModeloEvaluacionGeneral;"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-template #modalEdit let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Datos del Modelo de Evaluación General:</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmModeloEvaluacionGeneralCreateEdit>
                    
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Modelo Evaluación: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionModEducacion" formControlName="moevCodigo" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.moevCodigo.errors }" class="form-control selectpicker" id="modEducacion" 
                            (change)="refrescarComponentes()" #t>
                                <option *ngFor="let op of listaModeloEvaluacion" [value]="op.moevCodigo" >
                                    {{op.moevDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.moevCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloEvaluacionGeneralCreateEdit.moevCodigo.errors.required">El Modelo de Evaluación es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Año Lectivo: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionAnioLectivo" formControlName="reanleCodigo" required
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.reanleCodigo.errors }" 
                            class="form-control selectpicker" id="anioLectivo" (change)="limpiarServicioEducativo(frmModeloCalificacionCreateEdit.get('reanleCodigo').value)" #t>
                                <option *ngFor="let op of listaRegimenAnioLectivo" [value]="op.reanleCodigo" >
                                    {{op.regDescripcion+' '+op.anilecAnioInicio+'-'+op.anilecAnioFin}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.reanleCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloEvaluacionGeneralCreateEdit.reanleCodigo.errors.required">El año lectivo es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Modelo General: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese la Modelo General" class="form-control"
                            formControlName="modgenDescripcion"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenDescripcion.errors }"/>
                            <div *ngIf="submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenDescripcion.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenDescripcion.errors.required">La descripción es necesario </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Nemónico: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese el Nemónico" class="form-control"
                            formControlName="modgenNemonico"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenNemonico.errors }"/>
                            <div *ngIf="submitted && ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenNemonico.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloEvaluacionGeneralCreateEdit.modgenNemonico.errors.required">El nemónico es necesario </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="actualizarModeloEvaluacionGeneral(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>
    </div>
</div>