<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div fxLayout="column" fxLayoutAlign="space-evenly stretch">

    <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2 ">
       <app-calendario (diasSeleccionadosChanged)="onDiasSeleccionadosChanged($event)"
                       (mesSeleccionadosChanged)="onMesSeleccionadosChanged($event)"
                       [cursoSeleccionadoChild]="cursoSeleccionadoChild"></app-calendario>

        <!--<div class="col-6">
            <mat-form-field>
                <mat-label>Selecciona un año</mat-label>

                <mat-select [(ngModel)]="anioSeleccionado" (selectionChange)="reestablecerListaFaltas()" >
                    <mat-option *ngFor="let anio of calendarioAsistencia?.anios ? getAnios(calendarioAsistencia.anios) : []" [value]="anio">{{ anio }}</mat-option>
                </mat-select>


            </mat-form-field>
            <mat-form-field>
                <mat-label>Selecciona un mes</mat-label>
                <mat-select [(ngModel)]="mesSeleccionado" (selectionChange)="reiniciarSemana()">
                    <mat-option *ngFor="let mes of getMesesPorAnio(anioSeleccionado)" [value]="mes">{{ mes }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Selecciona el número de semanas</mat-label>
                <mat-select [(ngModel)]="semanaSeleccionada" (selectionChange)="cargarInfoSemanaSeleccionada(semanaSeleccionada)">
                    <mat-option *ngFor="let semana of getSemanasPorMes(anioSeleccionado, mesSeleccionado)" [value]="semana">{{ semana }}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>-->


        <mat-tab-group #tabGroup fitInkBarToContent>
            <mat-tab label="NOMBRE GRADO">
                <table class="table table-bordered" mat-table *ngIf="diasEnSemanaSeleccionados.length>0" width="100%"
                       [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="nombreEstudiante">
                        <th *matHeaderCellDef style="text-align:justify ; vertical-align: middle;" mat-sort-header>
                            Listado de estudiantes
                        </th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.estudiante.estNombres}}
                        </td>
                    </ng-container>
                    <ng-container *ngFor="let item of diasEnSemanaSeleccionados; trackBy: trackByFn">
                        <ng-container matColumnDef="{{item?.nombreDia}}">
                            <th *matHeaderCellDef style="text-align:justify ; vertical-align: middle;" mat-sort-header>
                                {{item.nombreDia }}
                                {{ item.fecha | date:'dd' }}
                            </th>
                            <td mat-cell *matCellDef="let elemento">
                                <input type="checkbox" [checked]="!tieneFaltasFecha(elemento.matCodigo, item.fecha)"
                                (change)="handleCheckboxChange($event, elemento.matCodigo, item.fecha, elemento.estudiante.estCodigo)">
                            </td>
                            
                        </ng-container>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="columnasEncabezado;sticky: true" class="colorHead"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasEncabezado;"></tr>
                </table>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>
