<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="" *ngIf="datoSeleccion!=1">
    <div class="mi-componente">
        <br>
        <div class="table-responsive-sm" style="font-size: 10px !important;">
            <table class="table  table-hover border border-light">
                <thead>
                    <tr>
                        <th scope="col" >IDENTIFICACIÓN</th>
                        <th scope="col">NOMBRE ESTUDIANTE</th>
                        <th scope="col">ACCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paral of listaMatriculas | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalItems }">
                        <td> {{paral.estudiante.estIdentificacion}} </td>
                        <td>
                            {{paral.estudiante.estNombres}}
                        </td>
                        <td>
                            <div class="example-button-container">
                                <button mat-mini-fab color="primary" (click)="ingresarNotas(paral)">
                                    <mat-icon>label_important</mat-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>
<app-cali-habilidades [cursoSeleccionadoChild]="cursoSeleccionadoChild" [estudianteSeleccionado]="estudianteSeleccionado" [codigoMatricula]="codigoMatricula" [codigoAnioElectivo]="codigoAnioElectivo"  *ngIf="datoSeleccion">
</app-cali-habilidades>