<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div class="card profile-header p-2 " *ngIf="!activarEquipoPrincipal">
    <h2 class="text-center">SISTEMA GESTIÓN CAMPEONATOS </h2>

    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" #empTbSort="matSort">
        <!-- Position Column -->
        <ng-container matColumnDef="numero">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                No.
            </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                nombre
            </th>
            <td mat-cell *matCellDef="let element"> {{element.campNombre}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Descripcion
            </th>
            <td mat-cell *matCellDef="let element"> {{element.campDescripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>
                Acciones
            </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab extended color="primary" (click)="abrirMenuEquipos(element)">
                    <mat-icon>playlist_add</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombresColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombresColumnas;"></tr>
    </table>
</div>
<app-equipo-principal *ngIf="activarEquipoPrincipal && !activarFechaPrincipal"
    (campeonatoPrincipalOutput)="actualizarEquipoPrincipal(event)"
    [campeonatoSeleccionadoChild]="campeonatoSeleccionado"></app-equipo-principal>
<app-estadio-principal *ngIf="activarEquipoPrincipal && !activarFechaPrincipal"
    (campeonatoPrincipalOutput)="actualizarEquipoPrincipal(event)"
    [campeonatoSeleccionadoChild]="campeonatoSeleccionado"></app-estadio-principal>
<button *ngIf="activarEquipoPrincipal" class="text-center" mat-raised-button color="primary" matTooltip="Generar Fechas"
    matTooltipPosition="above" (click)="abrirFechasEquipos();">
    <span>GENERAR FECHAS</span>
    <mat-icon>add </mat-icon>

</button>
<app-tabla-principal *ngIf="activarFechaPrincipal" (campeonatoPrincipalOutput)="actualizarEquipoPrincipal(event)"
    [campeonatoSeleccionadoChild]="campeonatoSeleccionado"></app-tabla-principal>