table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.mat-grid-list-centered {
  display: flex;
  justify-content: center;
}
.fecha-card {
  width: 100%;
  padding: 0%;
  color: white;
}
.fecha-card .label{
  color: white;
}
.fecha-titulo{
  background-color:  rgb(34, 139, 34)
}
.fecha-card mat-card{
  background-color: transparent;
  
}