<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div class="card profile-header p-2 ">
    <button class="text-center" mat-raised-button color="primary" matTooltip="Agregar Estadio" matTooltipPosition="above"
        (click)="openDialogFormEstadio(null)"> <span>AGREGAR ESTADIO</span>
        <mat-icon>add </mat-icon>

    </button>

    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-2">
        <!-- Position Column -->
        <ng-container matColumnDef="numero">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                No.
            </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Nombre
            </th>
            <td mat-cell *matCellDef="let element"> {{element.estaNombre}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Descripcion
            </th>
            <td mat-cell *matCellDef="let element"> {{element.estaDescripcion}} </td>
        </ng-container>
        
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>
                Acciones
            </th>
            <td mat-cell *matCellDef="let element">

                <button mat-icon-button color="accent" matTooltip="Editar Estadio" matTooltipPosition="above" (click)="openDialogFormEstadio(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Eliminar Estadio" matTooltipPosition="above" (click)="eliminarEstadio(element)">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombresColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombresColumnas;"></tr>
    </table>
    <div class="pagination">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="paginaActual === 0">
                <a class="page-link" (click)="onPageChange(paginaActual - 1)">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of listaPaginado; let i = index" [class.active]="i === paginaActual">
                <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="paginaActual === paginasTotales - 1">
                <a class="page-link" (click)="onPageChange(paginaActual + 1)">Siguiente</a>
            </li>
        </ul>
    </div>

</div>