<h2 mat-dialog-title>Formulario de Registro de un nuevo Estadio </h2>
<form class="example-form" [formGroup]="estadioForm" #formDirective="ngForm" (ngSubmit)="guardar()">
    <mat-dialog-content>

        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Nombre Estadio</mat-label>
            <input matInput formControlName="estaNombre" type="text" placeholder="Ingrese Nombre del Estadio" />
            <mat-error *ngIf="estadioForm.get('estaNombre').hasError('required')">
                Nombre es <strong>Obligatorio</strong>
            </mat-error>

        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Descripción Estadio</mat-label>
            <input matInput formControlName="estaDescripcion" type="text"
                placeholder="Ingrese Descripcion del Estadio" />
            <mat-error *ngIf="estadioForm.get('estaDescripcion').hasError('required')">
                Nombre es <strong>Obligatorio</strong>
            </mat-error>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit">Guardar</button>
        <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
    </mat-dialog-actions>
</form>