<form #f="ngForm">
    <div class="modal-header">
        <h5 class="modal-title">Editar Habilidad</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
              <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <div class="container-fluid ">
                            <div class="row justify-content-center">
                                <div class="form-group col-sm-9 col-lg-6">
                                    <label class="pt-2" for="selectPrograma"><b>Escriba su habilidad:</b></label>
                                    <div class="input-group">
                                        <input maxlength="200"
                                       type="text" class="form-control"
                                       placeholder="Coloque el nombre de la habilidad" aria-label="Nombre Habilidad" [ngModelOptions]="{standalone: true}"
                                       aria-describedby="basic-addon1" id="nombreHabilidad" name="nombreHabilidad" [(ngModel)]="nombreHabilidad">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closeModal('ok')">Aceptar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('cancel')">Cancelar</button>
  </div>
</form>