<ngx-spinner size="medium" type="{{'ball-fussion'}}"></ngx-spinner>
<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2 ">
        <div class="text-center mb-1">
            <select name="establecimiento" [(ngModel)]="establecimiento" class="form-control pr-4 ">
                <option *ngFor="let item of informacionEstablecimiento" [ngValue]="item.insestCodigo">
                    {{institucionObjeto.insDescripcion}} - {{institucionObjeto.insAmie}} - {{item.nombreTipo}}
                </option>
            </select>
        </div>
        <div class="text-center mb-1">

            <span>Régimen: </span>
            <span> {{regimen?.regDescripcion}} {{anioLectivo?.anilecAnioInicio}} - {{anioLectivo?.anilecAnioFin}} </span>
        </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2 " *ngIf="!habilitarAsistencia && !habilitarJustificacion">
        <mat-tab-group #tabGroup fitInkBarToContent>
            <mat-tab label="DOCENTE TUTOR">

                <table class="table table-bordered" mat-table *ngIf="listaTutorOrdinario.length>0" width="100%"
                    [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="nombre_grado">
                        <th *matHeaderCellDef style="text-align:justify ; vertical-align: middle;" mat-sort-header>Grado
                            Paralelo
                            Jornada
                        </th>
                        <td mat-cell *matCellDef="let elemento">
                            {{elemento.ofeCurso?.nombreGrado}} - PARALELO {{elemento.ofeCursoParalelo?.nombreParalelo}}
                            <br>
                            {{elemento.ofeCurso?.nombreJornada}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="opciones">
                        <th *matHeaderCellDef style="text-align:center; vertical-align: middle;" width="400px"
                            mat-sort-header>
                            Opciones
                        </th>
                        <ng-container *matCellDef="let elemento;">
                            <td mat-cell class="text-center">
                                <button mat-cell title="Guardar" class="btn btn-icon btn-outline-primary"
                                    style="margin-left: 2px; " (click)="abrirAsistencia(elemento) ">
                                    ASISTENCIA
                                </button>

                                <button mat-cell title="Guardar" class="btn btn-icon btn-outline-primary ml-1"
                                    (click)="abrirJustificacionPrincipal(elemento)" style="margin-left: 2px;">
                                    JUSTIFICACIÓN
                                </button>

                            </td>
                        </ng-container>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnasEncabezado;sticky: true" class="colorHead"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasEncabezado;"></tr>
                </table>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<app-asistencia *ngIf="habilitarAsistencia" [cursoSeleccionadoChild]="cursoSeleccionado" [anioLectivoChild]="anioLectivo"></app-asistencia>
<app-justificacion *ngIf="habilitarJustificacion" [cursoSeleccionadoChild]="cursoSeleccionado" [anioLectivoChild]="anioLectivo"></app-justificacion>
<!-- <app-asitencia-principal></app-asitencia-principal> -->