<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="">
  
  <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header">
      <div class="letras datos titulo">
          Asignación De Docentes
      </div>
      <div class="letras datos caso">
              <span>Régimen: </span>
              <span> {{regimen}} </span>
      </div>
  </div>

  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div fxLayout="column" fxLayoutAlign="space-around stretch" class="card profile-header"> 
    <table class="table table-striped tablaFuente">
      <tr>
          <td class="titulosSelectivos">
            Establecimiento: 
          </td>
          <td>

            <select name="establecimiento" [(ngModel)]="establecimiento" class="form-control select"
              (ngModelChange)="onCambioEstablecimiento($event)">
              <option *ngFor="let item of informacionEstablecimiento" [ngValue]="item.insestCodigo">
                {{nombreInstitucion}} - {{item.nombreTipo}}
              </option>
            </select>

          </td>
          <td class="titulosSelectivos">
              Modalidad:
          </td>
          <td>

            <select name="modalidad" [(ngModel)]="modalidad" class="form-control select"
              (ngModelChange)="onCambioDeModalidad($event)" [disabled]="establecimiento==null">
              <option *ngFor="let item of limpioModalidad" [ngValue]="item.modCodigo">
                {{item.modNombre}}
              </option>
            </select>

          </td>
      </tr>
      <tr>
          <td class="titulosSelectivos">
            Jornada:
          </td>
          <td>

            <select name="jornada" [(ngModel)]="jornada" class="form-control select"
              (ngModelChange)="onCambioJornada($event)" *ngIf="modalidad==3">
              <option *ngFor="let item of jornadasSemiPresenciales" [ngValue]="item.jorCodigo">
                {{item.jorNombre}}
              </option>
            </select>


            <select name="jornada" [(ngModel)]="jornada" class="form-control select"
              (ngModelChange)="onCambioJornada($event)" *ngIf="modalidad==2">
              <option *ngFor="let item of jornadasPresenciales" [ngValue]="item.jorCodigo">
                {{item.jorNombre}}
              </option>
            </select>

          </td>
          <td class="titulosSelectivos">
              Tipo de Asignación: 
          </td>
          <td>

            <select name="asignaciones" [(ngModel)]="asignaciones" class="form-control select"
              (ngModelChange)="onCambioAsginacion($event)" [disabled]="jornada==null">
              <option *ngIf="moduloPremisa == 0" [ngValue]="1">
                POR MODULO
              </option>
              <option *ngIf="gradoPremisa == 0" [ngValue]="2">
                POR GRADO/CURSO
              </option>
            </select>

          </td>
      </tr>
  </table>
  </div>
</div>



<div *ngIf="modalidad!=null && jornada!=null && asignaciones==1">
  <app-asginacion-modulo modalId="{{modalId}}" jorId="{{jorId}}" asigId="{{asigId}}" codEstableciminto="{{codEstableciminto}}"></app-asginacion-modulo>
</div>

<div *ngIf="modalidad!=null && jornada!=null && asignaciones==2">
  <app-asignacion-grado modalId="{{modalId}}" jorId="{{jorId}}" asigId="{{asigId}}" codEstableciminto="{{codEstableciminto}}"></app-asignacion-grado>
</div>