.cartaPrincipal{
    width: 1030px;
    height: 500px;
}

.tablaCabecera{
    width: 1030px;
    height: 500px;
}

.letras{
    color: black;
}

.titulo{
    font-size: x-large;
    margin-left: 20px;
    margin-top: 10px;
}

.caso{
    margin-left: 1000px;
    font-size: small;
}

.select{
    width: 300px;
    margin-left: -50px;
}

.tablaFuente{
    border-collapse:collapse;
    border:none;
}

.table{
    border-collapse:collapse;
    border:none;
}

td, tr, table{
    border: none;
}

