@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/select.component.scss';

fieldset.scheduler-border {
    
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

fieldset.scheduler-border{
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 15px 1.5em 15px !important;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
/*Modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.bs-stepper.vertical {display: grid !important;}
.row-new {text-align: -webkit-center;}
.row-div {width: 100%;text-align: left;}
@media (max-width: 768px) {
  .row-div {
    width: 100%; /* Cambia el ancho a 100% en pantallas más pequeñas */
  }
}

.form-group {  margin-bottom: 0.4rem;}

.bs-stepper.wizard-modern {  padding-top: 3%;}

table {
  width: 100%;
}

tr:active {
  background: #efefef;
}

tr:hover {
  background: whitesmoke;
}

.mat-cell, .mat-footer-cell { font-size: 11px;}
.mat-header-cell {font-size: 14px !important;font-weight: bold !important; background: whitesmoke !important;}