<div *ngIf="cargando " class="modal">
    <div class="modal-content">
      <div class="spinner"></div>
      <p>Cargando...</p>
    </div>
  </div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <!-- Vertical Wizard -->
      <section class="vertical-wizard">
        <div id="stepper2" class="bs-stepper vertical vertical-wizard-example">
  
          <form [formGroup]="frmCertificado">
            <div id="stepper3" class="bs-stepper wizard-modern modern-wizard-example">
 
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">Certificado de Promoción</legend>
                <br />
  
                <div class="row-new">
                  <div class="row-div">
  
                  <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Niveles</legend>
                    <br />

                    <div class="form-group row">
                    <div class="form-group col-sm">
                        <label class="form-label" for="establecimiento" style="font-size: 14px;"><b>Establecimiento</b></label>
                        <select id="establecimiento" name="establecimiento" required placeholder="Seleccione una opción"
                          formControlName="codigoEstablecimiento" class="form-control selectpicker mr-sm-2"
                          (change)="seleccionarEstablecimiento()">
                          <option *ngFor="let est of listaEstablecimiento" [value]="est.insestCodigo">
                            {{ est.nombreTipo }}
                          </option>
                        </select>
                         <span class="text-danger"
                            *ngIf="registerFormControl.codigoEstablecimiento.errors?.required">
                            Campo requerido.
                          </span>
                      </div>
  
                    <div class="form-group col-sm">
                      <label class="form-label" for="regimen" style="font-size: 14px;"><b>Régimen</b></label>
                      <select id="regimen" name="regimen" required placeholder="Seleccione una opción"
                        formControlName="codigoRegimen" class="form-control form-select selectpicker mr-sm-2"
                        aria-label=".form-select-sm example"
                        (change)="seleccionarRegimen()">
                        <option *ngFor="let reg of listaRegimenesActual" [value]="reg.reanleCodigo">
                          {{ reg.descripcionAnioLectivo }}
                        </option>
                      </select>
                       <span class="text-danger"
                          *ngIf="registerFormControl.codigoRegimen.errors?.required">
                          Campo requerido.
                        </span>
                    </div>
                    </div>
  
                    <div class="form-group row">
                    <div class="form-group col-sm">
                      <label class="form-label" for="nivel" style="font-size: 14px;"><b>Nivel</b></label>
                      <select id="nivel" name="nivel" required placeholder="Seleccione una opción"
                        formControlName="codigoNivel" class="form-control selectpicker mr-sm-2"
                        (change)="seleccionarNivel()">
                        <option *ngFor="let reg of listaNiveles" [value]="reg.nivCodigo">
                          {{ reg.nivDescripcion }}
                        </option>
                      </select>
                       <span class="text-danger"
                          *ngIf="registerFormControl.codigoNivel.errors?.required">
                          Campo requerido.
                        </span>
                    </div>

                    <div class="form-group col-sm">
                      <label class="form-label" for="grado" style="font-size: 14px;"><b>Grado</b></label>
                      <select id="grado" name="grado" required placeholder="Seleccione una opción"
                        formControlName="codigoGrado" class="form-control selectpicker mr-sm-2"
                        (change)="seleccionarGrado()">
                        <option *ngFor="let reg of listaGrados" [value]="reg.graCodigo">
                          {{ reg.graDescripcion }}
                        </option>
                      </select>
                       <span class="text-danger"
                          *ngIf="registerFormControl.codigoGrado.errors?.required">
                          Campo requerido.
                        </span>
                    </div>
                    </div>

                    <div class="form-group row" *ngIf="listaEspecialidades.length>0">
                      <div class="form-group col-sm">
                        <label class="form-label" for="especialidad" style="font-size: 14px;"><b>Especialidad</b></label>
                        <select id="especialidad" name="especialidad" required placeholder="Seleccione una opción"
                          formControlName="codigoEspecialidad" class="form-control selectpicker mr-sm-2"
                          (change)="seleccionarEspecialidad()">
                          <option *ngFor="let reg of listaEspecialidades" [value]="reg.espCodigo">
                            {{ reg.espDescripcion }}
                          </option>
                        </select>
                         <span class="text-danger"
                            *ngIf="registerFormControl.codigoEspecialidad.errors?.required">
                            Campo requerido.
                          </span>
                      </div>
  
                     
                      </div>
  
                    <div class="form-group row">
                      <div class="form-group col-sm">
                        <label class="form-label" for="jornada" style="font-size: 14px;"><b>Jornada</b></label>
                        <select id="jornada" name="jornada" required placeholder="Seleccione una opción"
                          formControlName="codigoJornada" class="form-control selectpicker mr-sm-2"
                          (change)="seleccionarJornada()">
                          <option *ngFor="let reg of listaJornadas" [value]="reg.jorCodigo">
                            {{ reg.jorNombre }}
                          </option>
                        </select>
                         <span class="text-danger"
                            *ngIf="registerFormControl.codigoJornada.errors?.required">
                            Campo requerido.
                          </span>
                      </div>

                    <div class="form-group col-sm">
                        <label class="form-label" for="paralelo" style="font-size: 14px;"><b>Paralelo</b></label>
                        <select id="paralelo" name="paralelo" required placeholder="Seleccione una opción"
                          formControlName="codigoParalelo" class="form-control selectpicker mr-sm-2"
                          (change)="seleccionarParalelo()">
                          <option *ngFor="let reg of listaParalelos" [value]="reg.curparCodigo">
                            {{ reg.nombreParalelo }}
                          </option>
                        </select>
                         <span class="text-danger"
                            *ngIf="registerFormControl.codigoParalelo.errors?.required">
                            Campo requerido.
                          </span>
                      </div>
                    </div>
                  </fieldset>
  
                </div>
                </div>
  
                <fieldset class="scheduler-border">
                  <legend class="scheduler-border">Estudiantes</legend>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource">
                
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef  style="width: 50%;"> Estudiante </th>
                      <td mat-cell *matCellDef="let element"  style="width: 50%;"> {{element.estudiante.estNombres}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="boleta">
                      <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Boleta </th>
                      <td mat-cell *matCellDef="let element" style="width: 25%;"> 
                        <a title="Editar Registro" (click)="generarBoletaCalificacion(element)">
                          <img src="assets/images/icons/pdf-download.png" style="width: 30px;"></a>
                    </td>
                    </ng-container>
                
                    <ng-container matColumnDef="certificado">
                      <th mat-header-cell *matHeaderCellDef style="width: 25%; padding-left: 20px;"> Certificado </th>
                      <td mat-cell *matCellDef="let element" style="width: 25%; padding-left: 20px;">
                        <a title="Editar Registro">
                          <img src="assets/images/icons/pdf-download.png" style="width: 30px;"></a>
                      </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                 showFirstLastButtons
                                 aria-label="Seleccine la página">
                  </mat-paginator>
                </div>
                </fieldset>
  
              </fieldset>

            </div>
          </form>
  
        </div>
      </section>
    </div>
  </div>