<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated"> 
                        <br/><br/>
                        <div class="container-fluid" >
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Reporte Malla</legend>
                                <div class="row justify-content-center">
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Regimen escolar:</b></label>
                                        <div class="input-group">
                                            <select class="form-control selectpicker" [(ngModel)]="codigoRegimenAnioElectivo" (ngModelChange)="cambioRegimen($event)" #t>
                                                <option *ngFor="let item of listaRegimenAnioElectivo" [ngValue]="item">
                                                    {{item.regDescripcion}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Año electivo:</b></label>
                                    <div class="input-group">
                                        <select class="form-control selectpicker" [(ngModel)]="codigoAnioElectivo" (ngModelChange)="cambioAnioElectivo($event)" #t>
                                            <option *ngFor="let item of listaAnioElectivo" [ngValue]="item" >
                                                {{item.datosObjeto.anilecAnioInicio}} - {{item.datosObjeto.anilecAnioFin}}
                                            </option>
                                        </select>
                                    </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">

                                </div>
                                <div class="container-fluid" style="padding-left: 72%; padding-bottom: 1%; padding-top: 6%;">
                                    <button type="button" style="font-weight: bold;" (click)="crearMalla()" *ngIf="codigoRegimenAnioElectivo != 0 && codigoAnioElectivo != 0 && fechaFin != null && fechaInicio != null" class="btn btn-success btn-lg btn-block">Generar Malla
                                      &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>
                                  </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

