.example-container {
    height: 500px;
    overflow: auto;
    /* Establece el fondo como transparente */
  }
  
  .mi-componente {
    // background-image: url('../../../../../../../assets/images/backgrounds/fondoLibro.PNG');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Otras propiedades de estilo para el componente */
}
.colorHead{
   background-color: #fff;
}