<ngx-spinner size="medium" type="{{ 'ball-fussion' }}"></ngx-spinner>

<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="">
  <div fxLayout="row" fxLayoutAlign="stretch" class="card profile-header p-2">
    <h3>Asignación Docente</h3>
    <div class="row">
      <div class="col-2">
        <h5 for="busqueda">Búsqueda</h5>
      </div>
      <div class="col-4">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="opcionBusqueda"
          (change)="reiniciarValores()"
        >
          <mat-radio-button class="example-radio-button" [value]="true">
            {{ "Cédula" }}
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            {{ "Apellidos" }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="mb-2">
      <ng-container *ngIf="opcionBusqueda" class="col">
        <div class="row">
          <div class="col-2"></div>
          <input
            id="cedulaDocente"
            name="cedulaDocente"
            (keypress)="validateFormat($event)"
            pattern="[0-9]{10}"
            placeholder="Cedula docente:"
            #input
            maxlength="10"
            type="text"
            [(ngModel)]="docenteHispana.numIdentificacion"
            class="form-control col-3 ml-2"
          />
        </div>
        <div class="row">
          <div class="col-2"></div>
          <mat-hint class="ml-2"
            >Máximo de caracteres: {{ input.value?.length || 0 }}/10</mat-hint
          >
        </div>
      </ng-container>
      <ng-container *ngIf="!opcionBusqueda" class="col">
        <div class="row">
          <div class="col-2"></div>
          <mat-form-field class="example-full-width col-5 ml-1">
            <input
              (input)="onInputEvent($event)"
              placeholder="Apellidos y Nombres"
              type="text"
              matInput
              [(ngModel)]="docenteHispana"
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let docente of opcionesDocentes | async"
                [value]="docente"
                (click)="reiniciarDatosTabla()"
              >
                {{ docente.nomPersona }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <button
        [disabled]="
          docenteHispana.numIdentificacion == '' ||
          docenteHispana.numIdentificacion?.length < 10
        "
        (click)="obtenerDocentePorIdentificacion(docenteHispana)"
        class="btn btn-primary col-3 ml-2"
      >
        Buscar Docente
      </button>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="table-responsive">
          <table
            mat-table
            width="100%"
            *ngIf="
              docenteHispana?.nomPersona !== null ||
              docenteHispana?.nomPersona !== '' ||
              docenteHispana?.nomPersona != undefined
            "
            [dataSource]="dataSource"
            matSort
          >
            <ng-container matColumnDef="numIdentificacion">
              <th
                *matHeaderCellDef
                style="text-align: justify"
                width="200px"
                mat-sort-header
              >
                Cédula de identificación
              </th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.numIdentificacion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nomPersona">
              <th
                *matHeaderCellDef
                style="text-align: justify"
                width="200px"
                mat-sort-header
              >
                Nombres
              </th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nomPersona }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
    <div
      class="row"
      style="display: flex; justify-content: center"
      *ngIf="
        docenteHispana?.nomPersona !== null &&
        docenteHispana?.nomPersona !== '' &&
        docenteHispana?.nomPersona !== undefined
      "
    >
      <form
        [formGroup]="docenteForm"
        #formDirective="ngForm"
        (ngSubmit)="agregar()"
      >
        <hr />
        <div class="row">
          <mat-radio-group aria-label="Escoger" formControlName="areaAccion">
            <div
              class="row-container"
              style="display: flex; justify-content: space-around"
            >
              <div class="col-4">
                <mat-label>Escoger:</mat-label>
              </div>
              <div class="col-4">
                <div
                  class="row"
                  style="display: flex; justify-content: space-between"
                >
                  <mat-radio-button
                    (change)="handlerParticipacion($event)"
                    value="1"
                    >Área de acción</mat-radio-button
                  >
                  <!-- </div>
          <div class="row"> -->
                  <mat-radio-button
                    (change)="handlerParticipacion($event)"
                    value="2"
                    >Convalidación</mat-radio-button
                  >
                </div>
              </div>
              <div class="col-4"></div>
            </div>
            <mat-error *ngIf="docenteForm.get('areaAccion').invalid">{{
              getErrorMessage("areaAccion")
            }}</mat-error>
          </mat-radio-group>
        </div>

        <div class="row" style="display: flex; justify-content: center">
          <mat-form-field class="description-field col-5" appearance="outline">
            <mat-label>Denominación</mat-label>
            <mat-select
              formControlName="denominacion"
              (selectionChange)="handlerDenominacion($event)"
            >
              <mat-option
                *ngFor="let denominacion of currentDenominaciones"
                [value]="denominacion.pdenoCodigo"
                >{{ denominacion.pdenoDescripcion }}</mat-option
              >
            </mat-select>
            <!-- <mat-hint>Denominación</mat-hint> -->
            <mat-error *ngIf="docenteForm.get('denominacion').invalid">{{
              getErrorMessage("denominacion")
            }}</mat-error>
          </mat-form-field>

          <mat-form-field class="description-field col-5" appearance="outline">
            <mat-label>Sub Denominación</mat-label>
            <mat-select formControlName="subDenominacion">
              <mat-option
                *ngFor="let subDenominacion of currentSubDenominaciones"
                [value]="subDenominacion.psdenCodigo"
                >{{ subDenominacion.psdenDescripcion }}</mat-option
              >
            </mat-select>
            <!-- <mat-hint>Sub Denominación</mat-hint> -->
            <mat-error *ngIf="docenteForm.get('subDenominacion').invalid">{{
              getErrorMessage("subDenominacion")
            }}</mat-error>
          </mat-form-field>
        </div>

        <div class="row" style="display: flex; justify-content: center">
          <mat-form-field class="description-field col-4" appearance="outline">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="cargo">
              <mat-option
                *ngFor="let cargo of cargos"
                [value]="cargo.crgCodigo"
                >{{ cargo.crgDescripcion }}</mat-option
              >
            </mat-select>
            <!-- <mat-hint>Denominación</mat-hint> -->
            <mat-error *ngIf="docenteForm.get('cargo').invalid">{{
              getErrorMessage("cargo")
            }}</mat-error>
          </mat-form-field>

          <mat-form-field class="parallel-field col-3" appearance="outline">
            <mat-label>Paralelo</mat-label>
            <mat-select formControlName="paralelo">
              <mat-option
                *ngFor="let paralelo of paralelos"
                [value]="paralelo.parCodigo"
                >{{ paralelo.parDescripcion }}</mat-option
              >
            </mat-select>
            <!-- <mat-hint>Paralelo</mat-hint> -->
            <mat-error *ngIf="docenteForm.get('paralelo').invalid">{{
              getErrorMessage("paralelo")
            }}</mat-error>
          </mat-form-field>

          <mat-form-field class="parallel-field col-3" appearance="outline">
            <mat-label>Carga Horaria</mat-label>
            <mat-select formControlName="cargaHoraria">
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
            </mat-select>
            <!-- <mat-hint>Paralelo</mat-hint> -->
            <mat-error *ngIf="docenteForm.get('paralelo').invalid">{{
              getErrorMessage("paralelo")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: center">
          <button mat-button class="btn-primary" type="submit">Agregar</button>
        </div>
        <hr />
        <div class="table-responsive">
          <table
            mat-table
            width="100%"
            *ngIf="true"
            [dataSource]="dataSourceCargos"
            matSort
          >
            <ng-container matColumnDef="crgDescripcion">
              <th *matHeaderCellDef mat-sort-header class="header">Cargo</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.crgDescripcion }}
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="cargaHoraria">
              <th *matHeaderCellDef mat-sort-header class="header">
                Carga horaria
              </th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.cargaHoraria }}
              </td>
              <td mat-footer-cell *matFooterCellDef>
                Total: {{ totalCargaHoraria() }}
              </td>
            </ng-container>

            <ng-container matColumnDef="parDescripcion">
              <th *matHeaderCellDef mat-sort-header class="header">Paralelo</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.parDescripcion }}
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th *matHeaderCellDef mat-sort-header class="header">Acciones</th>
              <td mat-cell *matCellDef="let elemento; let i = index">
                <button
                  class="btn-danger btnEditarEliminar"
                  type="button"
                  (click)="eliminarCargaHoraria(i)"
                >
                  <span
                    [ngClass]="'icon-trash'"
                    class="ficon font-medium-5 feather"
                  ></span>
                </button>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsCargos"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsCargos"
            ></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsCargos"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
        </div>
      </form>
    </div>
    <div
      style="display: flex; justify-content: center"
      *ngIf="cargaHoraria.length > 0"
    >
      <button
        mat-button
        class="btn btn-primary"
        type="button"
        [disabled]="cargaHoraria.length === 0"
        (click)="guardarCargaHoraria()"
      >
        Guardar Carga horaria
      </button>
    </div>
  </div>
</div>
