
.tablaFuente{
    border-collapse:collapse;
    border:none;
}

.table{
    border-collapse:collapse;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .mat-option {
    min-width: 360px; /* Valor por defecto o un valor fijo */
  }

  .btnEditarEliminar {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
  }

  .header {
    text-align: center;
  }

  .mat-header-cell {
    background-color: #393939;
    color: white;
  }