<h2 mat-dialog-title>Formulario de Registro de un nuevo Equipo </h2>
<form class="example-form" [formGroup]="equipoForm" #formDirective="ngForm" (ngSubmit)="guardar()">
    <mat-dialog-content>

        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Nombre Equipo</mat-label>
            <input matInput formControlName="equiNombre" type="text" placeholder="Ingrese Nombre del Equipo" />
            <mat-error *ngIf="equipoForm.get('equiNombre').hasError('required')">
                Nombre es <strong>Obligatorio</strong>
            </mat-error>

        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Descripción Equipo</mat-label>
            <input matInput formControlName="equiDescripcion" type="text"
                placeholder="Ingrese Descripcion del Equipo" />
            <mat-error *ngIf="equipoForm.get('equiDescripcion').hasError('required')">
                Nombre es <strong>Obligatorio</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Lugar del Equipo</mat-label>
            <input matInput formControlName="equiLugar" type="text" placeholder="Ingrese el lugar del Equipo" />

        </mat-form-field>
        <div class="col-12" appearance="outline">Ingrese Logo Equipo
            <input #fileInput  class="form-control" id="formFile" title="Seleccione una imagen" type="file" accept="image/*" (change)="capturarImagen($event)">
            <mat-error *ngIf="errorTamanioArchivo">
                El archivo excede el tamaño permitido (200 KB)
            </mat-error>
        </div>
        <img *ngIf="equipoForm.get('equiLogo').value"
            [src]="'data:image/png;base64,' + equipoForm.get('equiLogo').value" alt="Imagen" width="75px">
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit">Guardar</button>
        <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
    </mat-dialog-actions>
</form>