<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Buscar Malla Asignatura Extra</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" (keyup)="applyFilter($event)"
                                        placeholder="Buscar" #input aria-label="Amount"/>
                                    </div>                                    
                                </div>

                                <div class="col-md-6 col-12 mb-1">
                                    <button class="btn btn-primary ml-1 float-right" 
                                    (click)="nuevaMallaAsignaturaExtra(modalForm)" rippleEffect>
                                        <i data-feather="plus" class="mr-0 mr-sm-1"></i>
                                        <span class="d-none d-sm-inline-block">Nuevo</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <ng-template #modalForm let-modal >
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Datos de las Mallas Asignaturas Extra:</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmMallaAsignaturaExtraCreateEdit>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Institución: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionInstitucion" formControlName="insCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.insCodigo.errors }" 
                            class="form-control selectpicker" id="institucion" #t disabled>
                                <option [value]="institucion.insCodigo">
                                    {{institucion.insDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.insCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmMallaAsignaturaExtraCreateEdit.insCodigo.errors.required">La institución es necesario</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Establecimiento: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionEstablecimiento" formControlName="insestCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.insestCodigo.errors }" 
                            class="form-control selectpicker" id="establecimiento" (change)="limpiarCamposEstablecimiento(frmMallaAsignaturaExtraCreateEdit.get('insestCodigo').value)" #t>
                                <option *ngFor="let op of listaInstEstablecimento" [value]="op.insestCodigo">
                                    {{op.nombreTipo}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.insestCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmMallaAsignaturaExtraCreateEdit.insestCodigo.errors.required">El establecimiento es necesario</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Año Lectivo: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionRegAnLec" formControlName="reanleCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.reanleCodigo.errors }" 
                            class="form-control selectpicker" id="RegAnLec" (change)="limpiarCampos(frmMallaAsignaturaExtraCreateEdit.get('reanleCodigo').value)" #t>
                                <option *ngFor="let op of listaRegimenAnioLectivo" [value]="op.reanleCodigo">
                                    {{op.regDescripcion+' '+op.anilecAnioInicio+'-'+op.anilecAnioFin}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.reanleCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmMallaAsignaturaExtraCreateEdit.reanleCodigo.errors.required">El año lectivo es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Jornada: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionJornada" formControlName="jorCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.jorCodigo.errors }" 
                            (change)="limpiarCamposPorJornada(frmMallaAsignaturaExtraCreateEdit.get('jorCodigo').value)"
                            class="form-control selectpicker" id="jornada" #t>
                                <option *ngFor="let op of listaJornadas" [value]="op.jorCodigo">
                                    {{op.jorNombre}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.jorCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmMallaAsignaturaExtraCreateEdit.jorCodigo.errors.required">El servicio educativo es necesario</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Servicios Educativos: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionServEducativo" formControlName="sereduCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.sereduCodigo.errors }" 
                            class="form-control selectpicker" id="servEducativo" (change)="cargarCombosGradoModulo(frmMallaAsignaturaExtraCreateEdit.get('sereduCodigo').value)" #t>
                                <option class="edicionOption" *ngFor="let op of complementoModalidad" [value]="op.codigoServicio">
                                    {{op.nombreServicio}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.sereduCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmMallaAsignaturaExtraCreateEdit.sereduCodigo.errors.required">El servicio educativo es necesario</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="listaGrados">
                        <div class="col-sm-4">
                            <label class="pt-1" >Grado: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionGrado" formControlName="graCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.graCodigo.errors }" 
                            class="form-control selectpicker" id="grado" #t>
                                <option *ngFor="let op of listaGrados" [value]="op.graCodigo">
                                    {{op.graDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.graCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmMallaAsignaturaExtraCreateEdit.graCodigo.errors.required">El servicio educativo es necesario</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="listaModulo">
                        <div class="col-sm-4">
                            <label class="pt-1" >Módulo: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionModalidad" formControlName="modCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.modCodigo.errors }" 
                            class="form-control selectpicker" id="modalidad" (change)="obtenerListaCursoExtraordinarioPorModuloYEstablecimiento(frmMallaAsignaturaExtraCreateEdit.get('modCodigo').value)" #t>
                                <option *ngFor="let op of listaModulo" [value]="op.modCodigo">
                                    {{op.modDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.modCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmMallaAsignaturaExtraCreateEdit.modCodigo.errors.required">El servicio educativo es necesario</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="listaDeAgrupacion && listaModulo == null">
                        <div class="col-sm-4">
                            <label class="pt-1" >Agrupacion: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="variableAgrupacionSelecciona" required 
                            class="form-control selectpicker" id="variableAgrupacionSelecciona" [ngModelOptions]="{standalone: true}" [(ngModel)]="variableAgrupacionSelecciona" (change)="obtenerListaCursoExtraordinariaPorGradoCodigoYEstablecimiento(frmMallaAsignaturaExtraCreateEdit.get('graCodigo').value)" #t>
                                <option *ngFor="let op of listaDeAgrupacion" [value]="op.agrCodigo">
                                    {{op.agrDescripcion}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="row form-group" *ngIf="listaEspecialidad">
                        <div class="col-sm-4">
                            <label class="pt-1">Especialidad: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionEspecialidad" formControlName="espCodigo"
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmAsignaturaCreateEdit.espCodigo.errors }" class="form-control selectpicker " id="selectEspecialidad" 
                            (change)="listarCursoExtraordinariaEsp(frmMallaAsignaturaExtraCreateEdit.get('espCodigo').value)" #t>
                                <option *ngFor="let op of listaEspecialidad" [value]="op.espCodigo">
                                    {{op.espDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmAsignaturaCreateEdit.espCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmAsignaturaCreateEdit.espCodigo.errors.required">La Especialidad es necesario </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row match-height">
                    <div class="table-responsive">
                        <table mat-table *ngIf="listaMallaAsignaturaExtra" [dataSource]="dataSource"
                                class="mat-elevation-z8" style="width: 100%;">
                            <ng-container matColumnDef="estado">
                                <th *matHeaderCellDef style="text-align:center;" > Estado </th>
                                <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                    <input type="checkbox" [(ngModel)]="element.estadoCHB" (change)="cambiarEstadoMallaHoraExtra(element)"/>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="asignatura">
                                <th *matHeaderCellDef style="text-align:center ;" > Asignatura </th>
                                <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                    {{element.asiDescripcion}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="horasPres">
                                <th *matHeaderCellDef style="text-align:center ;" > Hrs. Presen </th>
                                <td mat-cell *matCellDef="let element;let i = index">
                                    <input matInput type="number" [(ngModel)]="element.maasiexHorasPre" class="form-control text-right" style="width: 97%;" min="1"
                                    (change)="calcularHorasTotalAsignatura(element)"/>  
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="horasAuton">
                                <th *matHeaderCellDef style="text-align:center ;" > Hrs. Auton </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <input matInput type="number" [(ngModel)]="element.maasiexHorasAuto" class="form-control text-right" style="width: 97%;" min="1"
                                    (change)="calcularHorasTotalAsignatura(element)"/>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="horasTotal">
                                <th *matHeaderCellDef style="text-align:center ;" > Hrs. Totales </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    {{element.maasiexHraTotal}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nemonico">
                                <th *matHeaderCellDef style="text-align:center ;" > Nemónico </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    <input matInput [(ngModel)]="element.maasiexNemonico" class="form-control" style="width: 97%;"/>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnasMallaAsiganturaExtraModal"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnasMallaAsiganturaExtraModal;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="guardarMallaAsignaturaExtra(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>

        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de Malla Asignatura Extra</h4>
                            <div class="row">
                                <div class="table-responsive">
                                    <table mat-table *ngIf="listaCursoExtraordinaria" [dataSource]="dataSourceCursoE"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center ;" > Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ;"> {{i+1}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="anio-lectivo">
                                            <th *matHeaderCellDef style="text-align:center ;"> Año Lectivo</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.anioLectivo}}
                                            </td>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="jornada">
                                            <th *matHeaderCellDef style="text-align:center ;"> Jornada</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.jornada}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="institucion">
                                            <th *matHeaderCellDef style="text-align:center ;"> Institución</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.institucion}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="serv-educativo">
                                            <th *matHeaderCellDef style="text-align:center ;"> Modalidad-Tipo Educacion </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.servEducativo}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="grado">
                                            <th *matHeaderCellDef style="text-align:center ;">Grado / Modulo</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.grado}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="especialidad">
                                            <th *matHeaderCellDef style="text-align:center ;">Especialidad</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.especialidad}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="estado">
                                            <th *matHeaderCellDef style="text-align:center ;">Estado</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                <ng-container *ngIf="element.curextEstado=='1';">
                                                    <span class="text-success">ACTIVO</span>
                                                </ng-container>
                                                <ng-container *ngIf="element.curextEstado=='0';">
                                                    <span class="text-success">INACTIVO</span>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="acciones">
                                            <th *matHeaderCellDef style="text-align:center ;"> Acciones </th>
                                            <td mat-cell *matCellDef="let element;let i = index"
                                            style="text-align:center ;">
                                                <button title="Editar" (click)="editarMallaAsignaturaExtra(modalEdit,element)"
                                                    class="btn btn-icon btn-outline-primary" 
                                                    style="margin-left: 2px;" >
                                                        <i data-feather="edit"></i>
                                                </button>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="columnasMallaAsignaruraExtra"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasMallaAsignaruraExtra;"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="align-items-right justify-content-right">
                                                <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                                                    <img alt="BMZ" class="img-fluid mw-100" src="assets/images/pages/BMZ_ZE_MfU_S.png" width="100" height="51" style="float: right;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="align-items-right justify-content-right">
                                                <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                                                    <img alt="DVV" class="img-fluid mw-100" src="assets/images/pages/DVV_Logo.png" width="100" height="51" style="float: right;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <ng-template #modalEdit let-modal >
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Datos de las Mallas Asignaturas Extra:</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmMallaAsignaturaExtraCreateEdit>
                    
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Institución: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionInstitucion" formControlName="insCodigo" required 
                            [ngClass]="{ 'is-invalid': submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.insCodigo.errors }" 
                            class="form-control selectpicker" id="institucion" #t disabled>
                                <option [value]="institucion.insCodigo">
                                    {{institucion.insDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmMallaAsignaturaExtraCreateEdit.insCodigo.errors" class="invalid-feedback">
                                <div *ngIf="ReactiveFrmMallaAsignaturaExtraCreateEdit.insCodigo.errors.required">La institución es necesario</div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Establecimiento: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input formControlName="establecmiento" class="form-control" disabled/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Año Lectivo: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input formControlName="reanleNombre" class="form-control" disabled/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Jornada: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input formControlName="jornada" class="form-control" disabled/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1" >Servicios Educativos: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input formControlName="sevicio" placeholder="{{nombreServicio}}" class="form-control" disabled/>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="frmMallaAsignaturaExtraCreateEdit.get('graCodigo').value != 0">
                        <div class="col-sm-4">
                            <label class="pt-1" >Grado: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input formControlName="nombreGrado" class="form-control" disabled/>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="frmMallaAsignaturaExtraCreateEdit.get('modCodigo').value != 0">
                        <div class="col-sm-4">
                            <label class="pt-1" >Módulo: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input formControlName="nombreGrado" class="form-control" disabled/>
                        </div>
                    </div>

                    <div class="row form-group" *ngIf="listaEspecialidad">
                        <div class="col-sm-4">
                            <label class="pt-1">Especialidad: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input formControlName="nombreEsp" class="form-control" disabled/>
                        </div>
                    </div>
                </form>

                <div class="row match-height">
                    <div class="table-responsive">
                        <table mat-table *ngIf="listaMallaAsignaturaExtra" [dataSource]="dataSource"
                                class="mat-elevation-z8" style="width: 100%;">
                            <ng-container matColumnDef="estado">
                                <th *matHeaderCellDef style="text-align:center;" > Estado </th>
                                <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                    <input type="checkbox" [(ngModel)]="element.estadoCHB" (change)="cambiarEstadoMallaHoraExtra(element)"/>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="asignatura">
                                <th *matHeaderCellDef style="text-align:center ;" > Asignatura </th>
                                <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                    {{element.asiDescripcion}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="horasPres">
                                <th *matHeaderCellDef style="text-align:center ;" > Hrs. Presen </th>
                                <td mat-cell *matCellDef="let element;let i = index">
                                    <input matInput type="number" [(ngModel)]="element.maasiexHorasPre" class="form-control text-right" style="width: 97%;" min="1"
                                    (change)="calcularHorasTotalAsignatura(element)"/>  
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="horasAuton">
                                <th *matHeaderCellDef style="text-align:center ;" > Hrs. Auton </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <input matInput type="number" [(ngModel)]="element.maasiexHorasAuto" class="form-control text-right" style="width: 97%;" min="1"
                                    (change)="calcularHorasTotalAsignatura(element)"/>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="horasTotal">
                                <th *matHeaderCellDef style="text-align:center ;" > Hrs. Totales </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    {{element.maasiexHraTotal}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nemonico">
                                <th *matHeaderCellDef style="text-align:center ;" > Nemónico </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="text-align:center;">
                                    <input matInput [(ngModel)]="element.maasiexNemonico" class="form-control" style="width: 97%;"/>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnasMallaAsiganturaExtraModal"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnasMallaAsiganturaExtraModal;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se ha encontrado resultados para "{{input.value}}"</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-primary" (click)="guardarMallaAsignaturaExtra(modal)" rippleEffect>
                Guardar
                </button>
            </div>
        </ng-template>

    </div>
</div>