<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section>
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 col-12 mb-1" *ngIf="tipoNiveModulo == 'BASICA-SUPERIOR-BACHILLERATO'">
                  <h4 class="card-title">Buscar Asignatura</h4>
                  <div class="input-group">
                    <select name="regimenMallaAsignatura" [(ngModel)]="mallaAsignatura" class="form-control"
                      title="buscar per asignatura"
                      (change)="obtenerTodosEstudiantesMatriculados(mallaAsignatura.maasiexCodigo)">
                      <option *ngFor="let op of listaMallaAsignatura" [ngValue]="op">
                        {{op.asiDescripcion}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 col-12 mb-1" *ngIf="tipoNiveModulo == 'BASICA-SUPERIOR-BACHILLERATO'">
                  <h4 class="card-title">Buscar Estudiante</h4>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary" type="button" rippleEffect>
                        <i data-feather="search"></i>
                      </button>
                    </div>
                    <input type="text" class="form-control" (keyup)="applyFilter($event)"
                      *ngIf="tipoNiveModulo == 'BASICA-SUPERIOR-BACHILLERATO'" placeholder="Buscar" #input
                      aria-label="Amount" />
                  </div>
                </div>
                <div class="col-md-8 col-12 mb-1" *ngIf="tipoNiveModulo != 'BASICA-SUPERIOR-BACHILLERATO'">
                  <h4 class="card-title">{{cursoExtraordinaria!=undefined? cursoExtraordinaria.gradoModulo +' - Paralelo
                    '+cursoExtraordinaria.parDescripcion:''}}</h4>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary" type="button" rippleEffect>
                        <i data-feather="search"></i>
                      </button>
                    </div>
                    <input type="text" class="form-control" (keyup)="applyFilterAlfaPost($event)"
                      *ngIf="tipoNiveModulo != 'BASICA-SUPERIOR-BACHILLERATO'" placeholder="Buscar" #input
                      aria-label="Amount" />
                  </div>
                </div>
                <div class="col-md-4 col-12 mb-1">
                  <button class="btn btn-warning ml-1 float-right" (click)="volverPeriodoLectivo()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline-block">Volver</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Notas de Los Estudiantes </h4>
              <div class="row">
                <div class="table-responsive" *ngIf="tipoNiveModulo == 'BASICA-SUPERIOR-BACHILLERATO'">
                  <table mat-table *ngIf="listaNotaAsigExtra" [dataSource]="dataSource" class="mat-elevation-z8"
                    style="width: 100%;">
                    <ng-container matColumnDef="num">
                      <th *matHeaderCellDef style="text-align:center; " fxFlex="40px"> Nro </th>
                      <td mat-cell *matCellDef="let element;let i = index"
                        style="text-align:center ; vertical-align: middle;" fxFlex="40px">{{i+1}}</td>
                    </ng-container>
                    <ng-container matColumnDef="identificacion">
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="95px">Identificación</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center; " fxFlex="95px">
                        {{element.estIdentificacion}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="apellido-nombre" sticky>
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="300px"> Apellidos y Nombres</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center;" class="align-middle"
                        fxFlex="300px">
                        {{element.apellidoEstudiante!=null?element.apellidoEstudiante:''+' '+element.nombreEstudiante}}
                      </td>
                    </ng-container>
                    <ng-container *ngFor="let op of listaCalificaciones; index as col" [matColumnDef]="op.calNemonico">
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="120px">{{op.calDescripcion}}</th>
                      <ng-container *matCellDef="let element;">
                        <ng-container *ngIf="col+1==listaCalificaciones.length">

                          <td mat-cell *ngFor="let cal of element.calificaciones;" style="text-align:center;"
                            fxFlex="120px">

                            <ng-container
                              *ngIf="cal.calNemonico.substr(0,3) === 'PAR' || cal.calNemonico.substr(0,3) === 'EXA' || cal.calNemonico.trim() === 'SUP'  || cal.calNemonico.trim() === 'REM' || cal.calNemonico.trim() === 'GRA';">
                              <input matInput type="number" [(ngModel)]="cal.notaValorCunt" min="cal.calMinimo"
                                max="cal.calMaximo" class="form-control text-center" style="width: 80%;"
                                (change)="calcularPromediosPorCuantitativoBasicaSuperiorBachillerato(element)"
                                [disabled]="(cal.calNemonico.trim() === 'SUP'  || cal.calNemonico.trim() === 'REM' || cal.calNemonico.trim() === 'GRA') && element.promedioAnual >= 7" />
                            </ng-container>
                            <ng-container
                              *ngIf="tipoValoracion.tivaDescripcion=='CUANTITATIVA' && (cal.calNemonico.substr(0,3) !== 'PAR' && cal.calNemonico.substr(0,3) !== 'EXA' && cal.calNemonico.trim() !== 'SUP' && cal.calNemonico.trim() !== 'REM' && cal.calNemonico.trim() !== 'GRA');">
                              {{(cal.notaValorCunt!=null?cal.notaValorCunt:'')+(cal.calNemonico.substr(0,3) === 'POP' ||
                              cal.calNemonico.substr(0,3) === 'POR'?'%':'')}}
                            </ng-container>
                            <ng-container
                              *ngIf="cal.calNemonico.substr(0,2)=='EC' || cal.calNemonico.substr(0,3)=='ECA'">
                              {{cal.notaValorCual}}
                            </ng-container>
                          </td>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                      <th *matHeaderCellDef style="text-align:center ;" fxFlex="180px"> Acciones</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center;" fxFlex="180px">
                        <button title="SAT" [disabled]="element.calificaciones[0].notaValorCunt>=7"
                          [ngClass]="element.calificaciones[0].notaValorCunt>=7? 'btn btn-icon btn-outline-primary':'btn btn-icon btn-outline-danger'"
                          style="margin-left: 2px;" (click)="modalSat(modalForm)">
                          {{'SAT'}}
                        </button>
                        <button title="Guardar" class="btn btn-icon btn-outline-primary"
                          (click)="guardarIndividual(element)" style="margin-left: 2px;">
                          <i data-feather="save"></i>
                        </button>
                        <ng-container *ngIf="element.nasiextEstado==1;">
                          <button title="Inactivar" (click)="activarInactivar(element)"
                            class="btn btn-icon btn-outline-danger" [disabled]="element.nasiextCodigo == null"
                            style="margin-left: 2px;">
                            <i data-feather="x"></i>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="element.nasiextEstado==0;">
                          <button title="Activar" (click)="activarInactivar(element)"
                            class="btn btn-icon btn-outline-success" [disabled]="element.nasiextCodigo == null"
                            style="margin-left: 2px;">
                            <i data-feather="check"></i>
                          </button>
                        </ng-container>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnasEvaluacion"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasEvaluacion;"></tr>
                  </table>
                </div>
                <div class="table-responsive" *ngIf="tipoNiveModulo != 'BASICA-SUPERIOR-BACHILLERATO'">
                  <table mat-table *ngIf="listaNotaAlfabetizacion" [dataSource]="dataSourceAlfaPost"
                    class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="num">
                      <th *matHeaderCellDef style="text-align:center; " fxFlex="40px"> Nro </th>
                      <td mat-cell *matCellDef="let element;let i = index"
                        style="text-align:center ; vertical-align: middle;" fxFlex="40px">{{i+1}}</td>
                    </ng-container>
                    <ng-container matColumnDef="identificacion">
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="95px">Identificación</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center; " fxFlex="95px">
                        {{element.estIdentificacion}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="apellido-nombre" sticky>
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="300px"> Apellidos y Nombres</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center;" class="align-middle"
                        fxFlex="300px">
                        {{element.apellidoEstudiante!=null?element.apellidoEstudiante:''+' '+element.nombreEstudiante}}
                      </td>
                    </ng-container>
                    <ng-container *ngFor="let op of listaCalificaciones; index as col" [matColumnDef]="op.calNemonico">
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="120px">{{op.calDescripcion}}</th>
                      <ng-container *matCellDef="let element;">
                        <ng-container *ngIf="col+1==listaCalificaciones.length">
                          <td mat-cell *ngFor="let cal of element.calificaciones;" style="text-align:center;"
                            fxFlex="120px">
                            <ng-container *ngIf="cal.calNemonico.substr(0,3) === 'PAR';">
                              <input matInput type="number" [(ngModel)]="cal.notaValorCunt"
                                class="form-control text-center" style="width: 80%;"
                                (change)="calcularPromediosPorCuantitativoAlfaYPos(element)" />
                            </ng-container>
                            <ng-container *ngIf="cal.calNemonico.substr(0,3) !== 'PAR';">
                              {{(cal.notaValorCunt!=null?cal.notaValorCunt:'')+(cal.calNemonico.substr(0,3) === 'POP' ||
                              cal.calNemonico.substr(0,3) === 'POR'?'%':'')}}
                            </ng-container>
                          </td>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                      <th *matHeaderCellDef style="text-align:center ;" fxFlex="120px"> Acciones</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center;" fxFlex="120px">
                        <button title="Guardar" class="btn btn-icon btn-outline-primary"
                          (click)="guardarIndividualAlfabetizacion(element)" style="margin-left: 2px;">
                          <i data-feather="save"></i>
                        </button>
                        <ng-container *ngIf="element.nouniEstado==1;">
                          <button title="Inactivar" (click)="activarInactivarAlfabetizacion(element)"
                            class="btn btn-icon btn-outline-danger" [disabled]="element.nouniCodigo == null"
                            style="margin-left: 2px;">
                            <i data-feather="x"></i>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="element.nouniEstado==0;">
                          <button title="Activar" (click)="activarInactivarAlfabetizacion(element)"
                            class="btn btn-icon btn-outline-success" [disabled]="element.nouniCodigo == null"
                            style="margin-left: 2px;">
                            <i data-feather="check"></i>
                          </button>
                        </ng-container>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnasEvaluacion"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasEvaluacion;"></tr>
                  </table>
                </div>
                <div class="col-sm-12">
                  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
                </div>

              </div>
            </div>
            <div class="card-footer" *ngIf="tipoNiveModulo == 'BASICA-SUPERIOR-BACHILLERATO'">
              <div class="row">
                <div class="col-sm-5">
                  <button type="button" class="btn btn-primary" (click)="guardarLista()" rippleEffect>
                    <i data-feather="save"></i> Guardar todo
                  </button>
                </div>
                <div class="col-sm-5">
                  <div class="align-items-right justify-content-right">
                    <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                      <img alt="BMZ" class="img-fluid mw-100" src="assets/images/pages/BMZ_ZE_MfU_S.png" width="100"
                        height="51" style="float: right;">
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="align-items-right justify-content-right">
                    <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                      <img alt="DVV" class="img-fluid mw-100" src="assets/images/pages/DVV_Logo.png" width="100"
                        height="51" style="float: right;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" *ngIf="tipoNiveModulo != 'BASICA-SUPERIOR-BACHILLERATO'">
              <div class="row">
                <div class="col-sm-5">
                  <button type="button" class="btn btn-primary" (click)="guardarListaAlfabetizacion()" rippleEffect>
                    <i data-feather="save"></i> Guardar todo
                  </button>
                </div>
                <div class="col-sm-5">
                  <div class="align-items-right justify-content-right">
                    <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                      <img alt="BMZ" class="img-fluid mw-100" src="assets/images/pages/BMZ_ZE_MfU_S.png" width="100"
                        height="51" style="float: right;">
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="align-items-right justify-content-right">
                    <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                      <img alt="DVV" class="img-fluid mw-100" src="assets/images/pages/DVV_Logo.png" width="100"
                        height="51" style="float: right;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-12 mb-1">
                  <h4 class="card-title">Buscar Estudiante Comportamiento</h4>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary" type="button" rippleEffect>
                        <i data-feather="search"></i>
                      </button>
                    </div>
                    <input type="text" class="form-control" (keyup)="applyFilterComprtamiento($event)"
                      placeholder="Buscar" #input aria-label="Amount" />
                  </div>
                </div>
                <div class="col-md-6 col-12 mb-1">
                  <h4 class="card-title">Escoger tipo Comportamiento</h4>
                  <div class="input-group">
                    <select name="regimenMallaAsignatura" [(ngModel)]="comportamiento" class="form-control"
                      title="buscar per asignatura">
                      <option *ngFor="let op of listaComportamiento" [ngValue]="op">
                        {{op.comDescripcion}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row match-height">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Lista Notas de Comportamiento</h4>
              <div class="row">
                <div class="table-responsive">
                  <table mat-table *ngIf="listaNotaComportamiento" [dataSource]="dataSourceComportamieto"
                    class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="num">
                      <th *matHeaderCellDef style="text-align:center; " fxFlex="40px"> Nro </th>
                      <td mat-cell *matCellDef="let element;let i = index"
                        style="text-align:center ; vertical-align: middle;" fxFlex="40px">{{i+1}}</td>
                    </ng-container>
                    <ng-container matColumnDef="identificacion">
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="95px">Identificación</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center; " fxFlex="95px">
                        {{element.estIdentificacion}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="apellido-nombre" sticky>
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="300px"> Apellidos y Nombres</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center;" class="align-middle"
                        fxFlex="300px">
                        {{element.apellidoEstudiante!=null?element.apellidoEstudiante:''+' '+element.nombreEstudiante}}
                      </td>
                    </ng-container>
                    <ng-container *ngFor="let op of listaCalificacionesComportamiento; index as col"
                      [matColumnDef]="op.calNemonico">
                      <th *matHeaderCellDef style="text-align:center;" fxFlex="120px">{{op.calDescripcion}}</th>
                      <ng-container *matCellDef="let element;">
                        <ng-container *ngIf="col+1==listaCalificacionesComportamiento.length">
                          <td mat-cell *ngFor="let cal of element.calificaciones;" style="text-align:center;"
                            fxFlex="120px">
                            <input matInput type="text" [(ngModel)]="cal.notaValorCual"
                              (ngModelChange)="cal.notaValorCual = $event.toUpperCase()"
                              class="form-control text-center text-uppercase" style="width: 80%;"
                              (change)="notasComportamientoValida(cal)" (keypress)="validateFormat($event)" />
                          </td>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                      <th *matHeaderCellDef style="text-align:center ;" fxFlex="120px"> Acciones</th>
                      <td mat-cell *matCellDef="let element;" style="text-align:center;" fxFlex="120px">
                        <button title="Guardar" class="btn btn-icon btn-outline-primary"
                          (click)="guardarNotaComportamiento(element)" style="margin-left: 2px;">
                          <i data-feather="save"></i>
                        </button>
                        <ng-container *ngIf="element.nocoEstado==1;">
                          <button title="Inactivar" (click)="activarInactivarNotaComportamiento(element)"
                            class="btn btn-icon btn-outline-danger" [disabled]="element.nocoCodigo == null"
                            style="margin-left: 2px;">
                            <i data-feather="x"></i>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="element.nocoEstado==0;">
                          <button title="Activar" (click)="activarInactivarNotaComportamiento(element)"
                            class="btn btn-icon btn-outline-success" [disabled]="element.nocoCodigo == null"
                            style="margin-left: 2px;">
                            <i data-feather="check"></i>
                          </button>
                        </ng-container>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnasComportamiento"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasComportamiento;"></tr>
                  </table>
                </div>
                <div class="col-sm-12">
                  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-5">
                  <button type="button" class="btn btn-primary" (click)="guardarListaNotaComportamiento()" rippleEffect>
                    <i data-feather="save"></i> Guardar todo
                  </button>
                </div>
                <div class="col-sm-5">
                  <div class="align-items-right justify-content-right">
                    <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                      <img alt="BMZ" class="img-fluid mw-100" src="assets/images/pages/BMZ_ZE_MfU_S.png" width="100"
                        height="51" style="float: right;">
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="align-items-right justify-content-right">
                    <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                      <img alt="DVV" class="img-fluid mw-100" src="assets/images/pages/DVV_Logo.png" width="100"
                        height="51" style="float: right;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<!-- Modal para SAT -->
<ng-template #modalForm let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">SAT</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="row">
      <div class="col">
        <label for="" class="font-weight-bolder">MECANISMO</label>
        <select name="optionMecanismo" required class="form-control selectpicker" id="optionMecanismo" #t>
          <option>
            {{'Evaluación Psicopedagógica'}}
          </option>
          <option>
            {{'Nivelación'}}
          </option>
          <option>
            {{'Refuerzo Pedagógico'}}
          </option>
        </select>

      </div>
      <div class="col">
        <label for="" class="font-weight-bolder">RESPONSABLE</label>
        <select name="optionResponsable" required class="form-control selectpicker" id="optionResponsable" #t>
          <option>
            {{'DOCENTE DE LA ASIGNATURA'}}
          </option>
          <option>
            {{'JEFE DE ÁREA'}}
          </option>
          <option>
            {{'TUTOR'}}
          </option>
          <option>
            {{'DIRECTIVO'}}
          </option>
          <option>
            {{'DECE - UDAI'}}
          </option>
          <option>
            {{'PADRES DE FAMILIA'}}
          </option>
        </select>
      </div>
      <div class="col">
        <label for="" class="font-weight-bolder">ESTRATEGIA</label>
        <select name="optionEstrategia" required class="form-control selectpicker" id="optionEstrategia" #t>
          <option>
            {{'NIVELACIÓN GRUPAL'}}
          </option>
          <option>
            {{'NIVELACIÓN INDIVIDUAL'}}
          </option>
          <option>
            {{'NIVELACIÓN INDIVIDUAL CON APOYO FAMILIAR'}}
          </option>
        </select>
      </div>

    </div>


  </div>
  <div class="modal-footer justify-content-center">
    <div class="row ">
      <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')" rippleEffect>
        Guardar
      </button>

    </div>


  </div>
  <div class="modal-footer justify-content-center">
    <div class="row ">
      <div class="row">
        <button type="button" class="btn btn-primary mr-3" (click)="modal.dismiss('Cross click')" rippleEffect>
          Mejorar Nota
        </button>
        <button type="button" class="btn btn-primary mr-3" (click)="modal.dismiss('Cross click')" rippleEffect>
          Derivar
        </button>
        <button type="button" class="btn btn-primary " (click)="modal.dismiss('Cross click')" rippleEffect>
          Cancelar
        </button>
      </div>

    </div>


  </div>
</ng-template>
<!-- Fin Modal para SAT -->