<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Buscar Horario</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" 
                                            type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"  (keyup)="applyFilter($event)" 
                                        placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-1 float-right">
                                    <button class="btn btn-warning ml-1 float-right" (click)="volverHorarioCursoExtra()">
                                        <i class="fa fa-arrow-left pr-1" aria-hidden="true"></i>
                                        <span class="d-none d-sm-inline-block">Volver</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="card-title">Lista de Horarios</h4>
                                </div>
                                <div class="col-sm-6 float-right">
                                    <button class="btn btn-primary ml-1 float-right" (click)="nuevoHorario()">
                                        <i class="fa fa-plus pr-1" aria-hidden="true"></i>
                                        <span class="d-none d-sm-inline-block">Nuevo</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table mat-table *ngIf="listaHorarioExtra" [dataSource]="dataSource"
                                    class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center;"> Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index" style="text-align:center ; vertical-align: middle;" >{{i+1}}&nbsp;</td>
                                        </ng-container>
                                        <ng-container matColumnDef="horario" sticky>
                                            <th *matHeaderCellDef style="text-align:center; width: 200px;" class="mat-column-horario">Hora Inicio{{'   -   '}}Hora Fin</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" class="mat-column-horario" (dblclick)="editarHorario(element)">
                                                <div class="container-fluid p-0">
                                                    <div class="col-md-12 p-0" >
                                                        <div *ngIf="element.editar == 'EDITAR'" class="row">
                                                            <div class="col-sm-6">
                                                                <input type="time" title="Hora Inicio" class="form-control" style="width: 96px;" [(ngModel)]="element.horHorInicio"
                                                                (change)="validarHorario(element)" required/> 
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <input type="time" title="Hora Fin" class="form-control" style="width: 96px;" [(ngModel)]="element.horHorFin"
                                                                (change)="validarHorario(element)" required/>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="element.editar == 'NO_EDITAR'" class="row">
                                                            <div class="col-sm-12">
                                                                {{(element.horHorInicio != null ? element.horHorInicio:'&#171;Doble Click&#187;')+' - '+(element.horHorFin != null ? element.horHorFin:'')}}
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <ng-container *ngFor="let op of listaDia; index as col" [matColumnDef]="op.diaNemonico">
                                            <th *matHeaderCellDef style="text-align:center;" >
                                                {{op.diaDescripcion}}
                                            </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;" >
                                                <ng-container *ngFor="let hoexdi of element.listaHorarioExtraDia">
                                                    <ng-container *ngIf="hoexdi.diaCodigo == op.diaCodigo">
                                                        <div class="container-fluid p-0">
                                                            <div class="col-md-12 p-0" (dblclick)="editarAsignaturaHorario(hoexdi)" >
                                                                <select *ngIf="hoexdi.editar=='EDITAR'" name="asignatura" [(ngModel)]="hoexdi.disextCodigo" class="form-control" style="width: 98%;" title="Seleccionar Asignatura"
                                                                (change)="validarMallaSeleccionada(element.horHorInicio, element.horHorFin, hoexdi)">
                                                                    <option *ngFor="let masig of listaMallaAsignatura" [ngValue]="masig.disextCodigo">
                                                                        {{masig.asiDescripcion}}
                                                                    </option>
                                                                </select>
                                                                <div class="w-100">
                                                                    <label *ngIf="hoexdi.editar=='NO_EDITAR'" class="font-weight-bold">{{(hoexdi.descripcionAsigna != null ? hoexdi.descripcionAsigna:'&#171;Doble Click&#187;')}}</label>
                                                                </div>
                                                                <div class="w-100 ">
                                                                    <label>{{hoexdi.nombreDocente}}</label>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </ng-container>
                                                    
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="accion">
                                            <th *matHeaderCellDef class="mat-column-accion" style="text-align:center;">Acción</th>
                                            <td mat-cell *matCellDef="let element;" class="mat-column-accion" style="text-align:center;">
                                                <button title="Guardar" class="btn btn-icon btn-outline-primary" (click)="guardarHorarioExtra(element)"
                                                    style="margin-left: 2px;" >
                                                    <i data-feather="save"></i>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columnasHorario"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasHorario;"></tr>
                                    </table>
                                </div>
                                <div class="col-sm-12">
                                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-5">
                                  <button type="button" class="btn btn-primary" (click)="guardarListaHorarioExtra()" rippleEffect> 
                                    <i data-feather="save"></i> Guardar todo
                                  </button>
                                </div>
                                <div class="col-sm-5">
                                  <div class="align-items-right justify-content-right">
                                    <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                                      <img alt="BMZ" class="img-fluid mw-100" src="assets/images/pages/BMZ_ZE_MfU_S.png" width="100" height="51" style="float: right;">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-2">
                                  <div class="align-items-right justify-content-right">
                                    <div class="h-25 d-lg-flex flex-row-reverse align-items-right justify-content-right">
                                      <img alt="DVV" class="img-fluid mw-100" src="assets/images/pages/DVV_Logo.png" width="100" height="51" style="float: right;">
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>