<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Buscar Modelo Calificación</h4>
                            <div class="row">
                                <div class="col-md-6 col-12 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-primary" type="button" rippleEffect>
                                                <i data-feather="search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" (keyup)="applyFilter($event)"
                                            placeholder="Buscar" #input aria-label="Amount" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-1">
                                    <button class="btn btn-primary ml-1 float-right"
                                        (click)="nuevoModeloCalificacion(modalForm)" rippleEffect>
                                        <i data-feather="plus" class="mr-0 mr-sm-1"></i><span
                                            class="d-none d-sm-inline-block">Nuevo</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <ng-template #modalForm let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Datos de los Modelos Calificación:</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmModeloCalificacionCreateEdit>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Modelo General: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionModEducacion" formControlName="modgenCodigo" required
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.modgenCodigo.errors }"
                                class="form-control selectpicker" id="modEducacion" (change)="refrescarComponentes()"
                                #t>
                                <option *ngFor="let op of listaModeloEvaluacionGeneral" [value]="op.modgenCodigo">
                                    {{op.modgenDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.modgenCodigo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.modgenCodigo.errors.required">El
                                    Modelo de Evaluación General es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Año Lectivo: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionAnioLectivo" formControlName="reanleCodigo" required
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.reanleCodigo.errors }"
                                class="form-control selectpicker" id="anioLectivo"
                                (change)="limpiarServicioEducativo(frmModeloCalificacionCreateEdit.get('reanleCodigo').value)"
                                #t>
                                <option *ngFor="let op of listaRegimenAnioLectivo" [value]="op.reanleCodigo">
                                    {{op.regDescripcion+' '+op.anilecAnioInicio+'-'+op.anilecAnioFin}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.reanleCodigo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.reanleCodigo.errors.required">El año
                                    lectivo es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Servicio Educativos: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionServEducativo" formControlName="sereduCodigo" required
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.sereduCodigo.errors }"
                                class="form-control selectpicker" id="servEducativo" #t>
                                <option *ngFor="let op of listaServiciosEducativos" [value]="op.sereduCodigo">
                                    {{op.sereduDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.sereduCodigo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.sereduCodigo.errors.required">El
                                    Servicio Educativo es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Nombre: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese la Nombre" class="form-control"
                                formControlName="calDescripcion" (change)="refrescarValuesPorNemonico()"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calDescripcion.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calDescripcion.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calDescripcion.errors.required">La
                                    descripción es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Número: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese la Número" class="form-control"
                                formControlName="nroParcial"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.nroParcial.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.nroParcial.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.nroParcial.errors.required">el
                                    número es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Tipo Calificación </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionTipoCalificacion" formControlName="nemonicoCodigo" required
                                (change)="crearNemonico(frmModeloCalificacionCreateEdit.get('nemonicoCodigo').value)"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.nemonicoCodigo.errors }"
                                class="form-control selectpicker" id="tipoCalificacion" #t>
                                <option *ngFor="let op of listaTipoNemonicoCalificacion" [value]="op.codigo">
                                    {{op.nombre}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.nemonicoCodigo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.nemonicoCodigo.errors.required">El
                                    año lectivo es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Nemónico: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese el Nemónico" class="form-control"
                                formControlName="calNemonico" disabled
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calNemonico.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calNemonico.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calNemonico.errors.required">El
                                    nemónico es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Porcentaje: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese el Porcentaje" class="form-control"
                                formControlName="calPorcentaje"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calPorcentaje.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calPorcentaje.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calPorcentaje.errors.required">El
                                    porcentaje es necesario </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Calificación Mínima: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese calificación Mímina" class="form-control"
                                formControlName="calMinimo"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calMinimo.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calMinimo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calMinimo.errors.required">
                                    Califiación es necesario </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Calificación Máxima: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese calificación máxima" class="form-control"
                                formControlName="calMaximo"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calMaximo.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calMaximo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calMaximo.errors.required">
                                    Califiación es necesario </div>
                            </div>
                        </div>
                    </div>




                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="guardarModeloCalificacion(modal)" rippleEffect>
                    Guardar
                </button>
            </div>
        </ng-template>

        <section>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lista de Modelo Calificación </h4>
                            <div class="row">
                                <div class="table-responsive">
                                    <table mat-table *ngIf="listModeloCalificacion" [dataSource]="dataSource"
                                        class="mat-elevation-z8" style="width: 100%;">
                                        <ng-container matColumnDef="num">
                                            <th *matHeaderCellDef style="text-align:center ;"> Nro </th>
                                            <td mat-cell *matCellDef="let element;let i = index"
                                                style="text-align:center ;"> {{i+1}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="mod-eva">
                                            <th *matHeaderCellDef style="text-align:center ;"> Mod Eval</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.calDescripcion}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="numero-cal">
                                            <th *matHeaderCellDef style="text-align:center ;"> Número</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.nroParcial}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="nemonico">
                                            <th *matHeaderCellDef style="text-align:center ;"> Nemónico</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.calNemonico}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="porcen">
                                            <th *matHeaderCellDef style="text-align:center ;">Porj</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.calPorcentaje+'%'}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="anio-lect">
                                            <th *matHeaderCellDef style="text-align:center ;"> Año Lectivo</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.regDescripcion+'
                                                '+element.anilecAnioInicio+'-'+element.anilecAnioFin}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="serv-edu">
                                            <th *matHeaderCellDef style="text-align:center ;"> Serv Educa</th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center;">
                                                {{element.sereduDescripcion}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="estado">
                                            <th *matHeaderCellDef style="text-align:center ;"> Estado </th>
                                            <td mat-cell *matCellDef="let element;" style="text-align:center ;">
                                                <ng-container *ngIf="element.calEstado=='1';">
                                                    <span class="text-success">ACTIVO</span>
                                                </ng-container>
                                                <ng-container *ngIf="element.calEstado=='0';">
                                                    <span class="text-danger">INACTIVO</span>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="acciones">
                                            <th *matHeaderCellDef style="text-align:center ;"> Acciones </th>
                                            <td mat-cell *matCellDef="let element;let i = index"
                                                style="text-align:center ;">
                                                <button title="Editar"
                                                    (click)="editarModeloCalificacion(modalEdit,element)"
                                                    class="btn btn-icon btn-outline-primary" style="margin-left: 2px;">
                                                    <i data-feather="edit"></i>
                                                </button>

                                                <ng-container *ngIf="element.calEstado==1;">
                                                    <button title="Inactivar" (click)="activarInactivar(element)"
                                                        class="btn btn-icon btn-outline-danger"
                                                        style="margin-left: 2px;">
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </ng-container>

                                                <ng-container *ngIf="element.calEstado==0;">
                                                    <button title="Activar" (click)="activarInactivar(element)"
                                                        class="btn btn-icon btn-outline-success"
                                                        style="margin-left: 2px;">
                                                        <i data-feather="check"></i>
                                                    </button>
                                                </ng-container>

                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="columnasCalificacionModeloEvaluacion"></tr>
                                        <tr mat-row
                                            *matRowDef="let row; columns: columnasCalificacionModeloEvaluacion;"></tr>
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">No se ha encontrado resultados para
                                                "{{input.value}}"</td>
                                        </tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <ng-template #modalEdit let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Datos de los Modelos Calificación:</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <form [formGroup]=frmModeloCalificacionCreateEdit>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Modelo General: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionModEducacion" formControlName="modgenCodigo" required
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.modgenCodigo.errors }"
                                class="form-control selectpicker" id="modEducacion" #t>
                                <option *ngFor="let op of listaModeloEvaluacionGeneral" [value]="op.modgenCodigo">
                                    {{op.modgenDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.modgenCodigo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.modgenCodigo.errors.required">El
                                    Modelo de Evaluación es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Año Lectivo: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionAnioLectivo" formControlName="reanleCodigo" required
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.reanleCodigo.errors }"
                                class="form-control selectpicker" id="anioLectivo"
                                (change)="limpiarServicioEducativo(frmModeloCalificacionCreateEdit.get('reanleCodigo').value)"
                                #t>
                                <option *ngFor="let op of listaRegimenAnioLectivo" [value]="op.reanleCodigo">
                                    {{op.regDescripcion+' '+op.anilecAnioInicio+'-'+op.anilecAnioFin}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.reanleCodigo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.reanleCodigo.errors.required">El año
                                    lectivo es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Servicio Educativos: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionServEducativo" formControlName="sereduCodigo" required
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.sereduCodigo.errors }"
                                class="form-control selectpicker" id="servEducativo" #t>
                                <option *ngFor="let op of listaServiciosEducativos" [value]="op.sereduCodigo">
                                    {{op.sereduDescripcion}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.sereduCodigo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.sereduCodigo.errors.required">El
                                    Servicio Educativo es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Nombre: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese la Descripción" class="form-control"
                                formControlName="calDescripcion" (change)="refrescarValuesPorNemonico()"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calDescripcion.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calDescripcion.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calDescripcion.errors.required">La
                                    descripción es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Número: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese la Número" class="form-control"
                                formControlName="nroParcial"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.nroParcial.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.nroParcial.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.nroParcial.errors.required">el
                                    número es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Tipo Calificación </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <select name="optionTipoCalificacion" formControlName="nemonicoCodigo" required
                                (change)="crearNemonico(frmModeloCalificacionCreateEdit.get('nemonicoCodigo').value)"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.nemonicoCodigo.errors }"
                                class="form-control selectpicker" id="tipoCalificacion" #t>
                                <option *ngFor="let op of listaTipoNemonicoCalificacion" [value]="op.codigo">
                                    {{op.nombre}}
                                </option>
                            </select>
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.nemonicoCodigo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.nemonicoCodigo.errors.required">El
                                    año lectivo es Necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Nemónico: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese el Nemónico" class="form-control"
                                formControlName="calNemonico" disabled
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calNemonico.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calNemonico.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calNemonico.errors.required">El
                                    nemónico es necesario </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Porcentaje: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="text" required placeholder="Ingrese el Porcentaje" class="form-control"
                                formControlName="calPorcentaje"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calPorcentaje.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calPorcentaje.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calPorcentaje.errors.required">El
                                    porcentaje es necesario </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Calificación Mínima: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese calificación Mímina" class="form-control"
                                formControlName="calMinimo"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calMinimo.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calMinimo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calMinimo.errors.required">
                                    Califiación
                                    es necesario </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="pt-1">Calificación Máxima: </label>
                        </div>
                        <div class="input-group col-sm-8">
                            <input type="number" required placeholder="Ingrese calificación máxima" class="form-control"
                                formControlName="calMaximo"
                                [ngClass]="{ 'is-invalid': submitted && ReactiveFrmModeloCalificacionCreateEdit.calMaximo.errors }" />
                            <div *ngIf="submitted && ReactiveFrmModeloCalificacionCreateEdit.calMaximo.errors"
                                class="invalid-feedback">
                                <div *ngIf="ReactiveFrmModeloCalificacionCreateEdit.calMaximo.errors.required">
                                    Califiación es
                                    necesario </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="actualizarModeloCalificacion(modal)"
                    rippleEffect>
                    Guardar
                </button>
            </div>
        </ng-template>
    </div>
</div>