<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div id="user-profile">
            <div class="row">
                <div class="col-12">
                    <div class="card profile-header mb-2 was-validated">
                        <br/><br/>
                        <div class="container-fluid" >
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border" style="font-size:25px !important;color: #000000;">Asignacion Prepa</legend>
                                <div class="row justify-content-center">
                                    <div class="form-group col-sm-9 col-lg-6">
                                        <label class="pt-2" for="price"><b>Ambito: </b></label>
                                    <div class="input-group">
                                        <select class="form-control selectpicker" id="codigoAmbito" name="codigoAmbito" [(ngModel)]="codigoAmbito" (ngModelChange)="seleccionAmbito($event)" #t>
                                            <option *ngFor="let item of listaAmbito" [ngValue]="item.apreCodigo" >
                                                {{item.apreDescripcion}}
                                            </option>
                                        </select>
                                    </div> 
                                    </div>
                                    <div class="form-group col-sm-9 col-lg-6">

                                    </div>
                                </div>
                                <br/><br/>
                                <div>
                                    <div class="table-responsive-sm" style="font-size: 10px !important;">
                                        <table class="table  table-hover border border-light">
                                            <thead>
                                                <tr>
                                                    <th scope="col" >#</th>
                                                    <th scope="col" >Estudiantes</th>
                                                    <th scope="col" >Comunicar algunos datos de su identidad como: nombre, apellido, edad y nombres de los padres</th>
                                                    <th scope="col" >Identificar las características generales que diferencian a niños y niñas y se reconoce como parte de uno de esos grupos</th>
                                                    <th scope="col" >Manifestar sus emociones y sentimientos con mayor intencionalidad mediante expresiones orales y gestuales</th>
                                                    <th scope="col" style="width: 20%;text-align: center;">Acciónes</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>